page-friend-requests {
  .users-list .avatar {
    width: 50px !important;
    height: 50px !important;
  }
  .card-button button {
    width: 100% !important;
  }
  .card-buttons-col {
    padding-right: 7px !important;
  }
  .remove-button button {
    color: #b0bec5 !important;
  }
}
