<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>Contact us</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="contactUs()">
        <ion-list no-lines no-padding>
            <ion-item class="contactText" no-padding>
                <h1 text-center text-wrap>Send us a message</h1>
                <p text-center text-wrap>Lorem Ipsum is simply dummy text of the printing and typesetting industry, lorem
                    Ipsum.</p>
            </ion-item>
            <ion-item class="contactinput">
                <ion-input type="text" placeholder="Name" formControlName="name" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.name">
                <div *ngFor="let errors of formErrors.name" >
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item class="contactinput">
                <ion-input type="email" placeholder="Email" formControlName="email" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.email">
                <div *ngFor="let errors of formErrors.email" >
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item class="contactinput contacttextarea">
                <ion-textarea cols="50" type="text" placeholder="Your Message" formControlName="message" clearInput></ion-textarea>
            </ion-item>
            <div *ngIf="formErrors.message">
                <div *ngFor="let errors of formErrors.message" >
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item>
                <ion-row>
                    <ion-col></ion-col>
                    <ion-col text-center>
                        <button text-center ion-button class="sendbutton" type="submit">Send</button>
                    </ion-col>
                    <ion-col></ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
