page-contact-us {
    .contactText {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .contactText h1 {
      font-size: 24px;
      font-weight: 600 !important;
      color: #555555 !important;
    }
    .contactText p {
      margin-top: 10px;
      color: #9e9e9e;
    }
    .contactinput {
      margin-bottom: 15px;
      background-color: #f9f9f9;
      border: 0px!important;
    }
    .contacttextarea ion-textarea textarea {
      height: 120px!important;
    }
    .contactinput:focus {
      border: 0px;
    }
    .sendbutton {
      width: 100%;
    }
}
