page-profile {
    .profile-picture {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }
    .item-title h2 {
        color: $customTitle;
        font-weight: 500;
        font-size: 14px;
        margin-top: 7px !important;
    }
    .item-desc p {
        font-size: 12px;
        color: $customTitle;
    }
    ion-list-header {
        color: #9e9e9e!important;
        font-size: 13px!important;
        font-weight: 600!important;
    }
    .item-name {
        color: #9e9e9e!important;
        font-size: 16px!important;
        font-weight: 500!important;
    }
    .arrow {
        font-size: 20px;
    }
    .item-icons {
      font-size: 25px;
    }
    .profile-icons {
      color: $customBlue;
      font-size: 2.2rem!important;
    }
    .favorites-icon {
      font-weight: 700;
      font-size: 25px;
    }
    .logout-icon {
      font-weight: 600;
    }
}
