<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>
            Profile
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding padding-top>
    <ion-list no-lines>
        <ion-item>
            <ion-avatar item-left>
                <div class="profile-picture" [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                </div>
            </ion-avatar>
            <ion-row>
                <ion-col col-xxs-8 col-xs-8 col-s-8 col-sm-8 col-md-10 col-lg-10 col-xl-10 no-padding>
                    <ion-row no-padding>
                        <ion-col class="item-title" left col-xxs-12 no-padding>
                            <h2>{{name}} {{lastname}}</h2>
                        </ion-col>
                        <ion-col class="item-desc" col-xxs-12 no-padding>
                            <p color="clinicContent">@{{username}}</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        <ion-list-header no-lines>
          Account
        </ion-list-header>
        <ion-item (click)="goAccount()">
            <custom-icon class="profile-icons" set="mi" name="profile" item-left></custom-icon>
            <h2 class="item-name">My Account</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="goFriendsList()">
            <custom-icon class="profile-icons" set="mi" name="profile" item-left></custom-icon>
            <h2 class="item-name">Friends</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="goFriendRequests()">
            <custom-icon class="profile-icons" set="mi" name="friend" item-left></custom-icon>
            <h2 class="item-name">Friend Requests</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="goFavorites()">
            <ion-icon color="primary" class="arrow favorites-icon" name="ios-star-outline" item-left></ion-icon>
            <!--<custom-icon class="profile-icons" set="mi" name="friend" item-left></custom-icon>?-->
            <h2 class="item-name">Favorites</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <div padding>
            <button ion-button block icon-left (click)="inviteFacebookFriends()">
                <ion-icon name="logo-facebook"></ion-icon>
                Invite Friends
            </button>
        </div>
    </ion-list>
    <ion-list no-lines>
        <ion-list-header no-lines>
          Help
        </ion-list-header>
        <ion-item (click)="goTerms()">
            <custom-icon class="profile-icons" set="mi" name="notepad" item-left></custom-icon>
            <h2 class="item-name">Terms & Conditions</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="goContactUs()">
            <custom-icon class="profile-icons" set="mi" name="mail" item-left></custom-icon>
            <h2 class="item-name">Contact us</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
        <ion-item (click)="logout()">
            <ion-icon color="primary" class="item-icons logout-icon" name="log-out" item-left></ion-icon>
            <h2 class="item-name">Log Out</h2>
            <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
