<ion-header class="{{newsHeader}}" no-border>
    <ion-navbar color="primary">
        <ion-title>
            {{newsObject.title}}
        </ion-title>
        <ion-buttons right>
            <button (click)="share()" ion-button clear icon-only>
                <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="has-cover">
    <div class="news-cover" *ngIf="newsObject.image_link != undefined" [ngStyle]="{'background-image': 'url(' + newsObject.image_link + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div class="{{newsContent}}" padding>
        <h2 class="title">{{newsObject.title}}</h2>
        <h4 class="author">by {{newsObject.user.name}} {{newsObject.user.lastname}} <span color="primary" class="date">&nbsp; {{newsObject.fullDate}}, {{newsObject.date}}</span></h4>
        <p class="description" *ngIf="newsObject.description != undefined">{{newsObject.description}}</p>
        <p class="description" *ngIf="newsObject.notification_text != undefined">{{newsObject.notification_text}}</p>
    </div>
</ion-content>
