page-news-single {
  .header-transparent {
    opacity: 0.8 !important;
  }
  .header-colored {
    opacity: 1 !important;
  }
  .news-cover {
    width: 100%;
    height: 30%;
  }
  .has-cover .scroll-content {
    margin-top: 0px !important;
  }
  .news-content-has-cover {
    margin-top: 30px;
  }
  .news-content-no-cover {
    margin-top: 45px;
  }
  .title {
    font-size: 19px;
    color: $newsTitle;
  }
  .author {
    font-size: 11px;
    color: $newsTitle;
    font-weight: 300;
  }
  .author span {
    font-weight: 500;
  }
  .featured-text {
    font-size: 14px;
    color: $newsTitle;
    margin-top: 30px;
  }
  .description {
    font-size: 14px;
    color: $newsDesc;
    margin-top: 30px;
  }
}
