<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button ion-fab color="primary" (click)="showFabList = !showFabList">
            <ion-icon name="ios-more"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="chat(fab); showFabList = !showFabList">
                <custom-icon set="mi" name="chatfab"></custom-icon>
            </button>
            <button *ngIf="isFriend == false" ion-fab (click)="add(fab); showFabList = !showFabList">
                <ion-icon name="md-person-add"></ion-icon>
            </button>
            <button class="unfriend-fab" *ngIf="isFriend == true" ion-fab (click)="remove(fab); showFabList = !showFabList">
                <ion-icon name="md-person-add"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-row *ngIf="showRequestHeader" class="request-subheader">
        <ion-col col-xxs-8 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-11 col-xl-11 class="request-text-col">
            {{user.name}} {{user.lastname}} <span class="request-text">send you a friend request</span>
        </ion-col>
        <ion-col center text-right no-padding class="card-buttons-col">
            <ion-row no-padding>
                <ion-col class="card-button accept-button" left col-xxs-6 no-padding>
                    <button ion-button icon-only clear (click)="accept(user); showRequestHeader = !showRequestHeader">
                        <ion-icon name="ios-checkmark-circle"></ion-icon>
                    </button>
                </ion-col>
                <ion-col class="card-button remove-button" col-xxs-6 no-padding>
                    <button ion-button icon-only clear (click)="cancel(user); showRequestHeader = !showRequestHeader">
                        <ion-icon name="ios-close-circle-outline"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <user-header [user]="user"></user-header>
        <ion-card class="first-card">
            <ion-item>
                <ion-row no-padding>
                    <ion-col class="card-label" left col-xxs-12 no-padding>
                        <h2>Email</h2>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="card-value" left col-xxs-12 no-padding>
                        <h2>{{user.email}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-row no-padding>
                    <ion-col class="card-label" left col-xxs-12 no-padding>
                        <h2>Date of Birth</h2>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="card-value" left col-xxs-12 no-padding>
                        <h2>{{user.birth_date}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-row no-padding>
                    <ion-col class="card-label" left col-xxs-12 no-padding>
                        <h2>State</h2>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="card-value" left col-xxs-12 no-padding>
                        <h2>{{user.state}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-row no-padding>
                    <ion-col class="card-label" left col-xxs-12 no-padding>
                        <h2>City</h2>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="card-value" left col-xxs-12 no-padding>
                        <h2>{{user.city}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="user.phone">
            <ion-item>
                <ion-row no-padding>
                    <ion-col class="card-label" left col-xxs-12 no-padding>
                        <h2>Phone</h2>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col class="card-value" left col-xxs-12 no-padding>
                        <h2>{{user.phone}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
<div *ngIf="showFabList" class="fab-background">
    <div class="fab-label-list" text-center>
        <div class="fab-label" text-center>
            <p *ngIf="isFriend == false">Add Friend</p>
            <p *ngIf="isFriend == true">Remove Friend</p>
        </div>
        <div class="fab-label">
            <p>Message</p>
        </div>
    </div>
</div>
