page-user-about {
  .request-subheader {
    background: #449e96;
    color: #ffffff;
  }
  .card-button button {
    width: 100% !important;
  }
  .card-buttons-col {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .remove-button button {
    color: #ffffff !important;
  }
  .accept-button button {
    color: #ffffff !important;
  }
  .request-text-col {
    font-weight: 500;
    font-size: 12px;
    padding-top: 17px;
    padding-left: 15px;
  }
  .request-text {
    color: #ffffff;
    font-weight: 100;
  }
  .fab-label-list {
    margin-left: 82px;
  }
  .fab-label {
    width: 93px;
  }
  .unfriend-fab {
    background: $customBlue;
    color: #ffffff !important;
  }
  .first-card {
    margin-top: 20px;
  }
  .card-label h2 {
    color: #bdbdbd;
    font-size: 13px;
    margin-bottom: 7px !important;
  }
  .card-value h2 {
    color: $newsTitle;
  }
}
