<ion-content class="signup-page" padding>
    <button class="signup-back-button" ion-button icon-only clear (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
    </button>
    <form [formGroup]="form" (ngSubmit)="signUp()">
        <ion-list mode="ios" no-lines class="form-list">
            <ion-row>
                <ion-col text-center>
                    <div *ngIf="picture != null && !isSocial" class="profile-picture" (click)="uploadImage()" [ngStyle]="{'background-image': 'url(' + picture + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                        <custom-icon class="upload-photo-icon" set="mi" name="photocamera"></custom-icon>
                        <p class="upload-photo-text">Choose image</p>
                    </div>
                    <div *ngIf="picture != null && isSocial" class="profile-picture" [ngStyle]="{'background-image': 'url(' + picture + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div *ngIf="picture == null" class="profile-picture-empty" (click)="uploadImage()">
                        <custom-icon class="upload-photo-icon" set="mi" name="photocamera"></custom-icon>
                        <p class="upload-photo-text">Choose image</p>
                    </div>
                </ion-col>
            </ion-row>
            <ion-item mode="ios">
                <ion-input mode="ios" type="text" placeholder="Name" formControlName="name" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.name">
                <div *ngFor="let errors of formErrors.name" >
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios">
                <ion-input mode="ios" type="text" placeholder="Lastname" formControlName="lastname" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.lastname">
                <div *ngFor="let errors of formErrors.lastname">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios">
                <ion-input mode="ios" type="text" placeholder="Username" formControlName="username" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.username">
                <div *ngFor="let errors of formErrors.username">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios">
                <ion-input mode="ios" type="email" placeholder="Email" formControlName="email" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.email">
                <div *ngFor="let errors of formErrors.email">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios" *ngIf="!isSocial">
                <ion-input mode="ios" type="password" placeholder="Password" formControlName="password" clearInput></ion-input>
            </ion-item>
            <div  *ngIf="formErrors.password">
                <div *ngFor="let errors of formErrors.password">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios" *ngIf="!isSocial">
                <ion-input mode="ios" type="password" placeholder="Confirm Password" formControlName="confirmPassword" clearInput></ion-input>
            </ion-item>
            <div *ngIf="formErrors.confirmPassword">
                <div *ngFor="let errors of formErrors.confirmPassword">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item class="select-option" mode="ios">
                <ion-label>State</ion-label>
                <ion-select [selectOptions]="selectState" formControlName="state">
                    <ion-option *ngFor="let st of states" [value]="st">{{st}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="formErrors.state">
                <div *ngFor="let errors of formErrors.state">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item class="select-option" mode="ios">
                <ion-label>City</ion-label>
                <ion-select [selectOptions]="selectCity" formControlName="city">
                    <ion-option *ngFor="let ct of cities" [value]="ct">{{ct}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="formErrors.city">
                <div *ngFor="let errors of formErrors.city">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
            <ion-item mode="ios" class="date-of-birth">
                <ion-label mode="ios">Date of Birth</ion-label>
                <ion-datetime mode="ios" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" formControlName="birth_date"></ion-datetime>
            </ion-item>
            <div *ngIf="formErrors.birth_date">
                <div *ngFor="let errors of formErrors.birth_date">
                    <p class="alert">{{errors}}<p>
                </div>
            </div>
        </ion-list>
        <button mode="ios" type="submit" ion-button block light class="register-button">Sign Up</button>
    </form>
</ion-content>
