page-signup {
  .scroll-content {
    margin-top: 0px !important;
  }
  .signup-page {
    background: #ffffff;
  }
  .signup-back-button {
    color: #cfd8dc;
    position: absolute;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  form {
    padding-left: 10px;
    padding-right: 10px;
  }
  .form-list {
    margin-top: 30px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .profile-picture-empty {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #e2e3e4;
  }
  .form-list ion-item {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .form-list ion-item .item-inner {
    padding-right: 0;
  }
  .form-list ion-input {
    border-bottom: 1px solid #b0bec5;
    color: #4db6ac;
    font-size: 15px;
  }
  .form-list ion-input input::-moz-placeholder {
    color: #78909c;
  }
  .form-list ion-input input:-ms-input-placeholder {
    color: #78909c;
  }
  .form-list ion-input input::-webkit-input-placeholder {
    color: #78909c;
  }
  .date-of-birth ion-label {
    border-bottom: 1px solid #b0bec5;
    color: #78909c !important;;
    font-size: 15px;
    padding-bottom: 7px;
    margin-right: 0;
  }
  .date-of-birth ion-datetime {
    padding-left: 0;
    padding-right: 0;
  }
  .datetime-text {
    color: #4db6ac !important;
    font-size: 15px;
    padding-bottom: 7px;
  }
  .register-button {
    color: #ffffff;
    background-color: #4db6ac;
    box-shadow: 0px 6px 25px 0px rgba(77, 182, 172, 0.5);
    height: 60px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }
  .upload-photo-icon {
    color: #ffffff;
    margin-top: 32px;
  }
  .upload-photo-text {
    margin: 0px;
    font-size: 12px;
    color: #ffffff;
  }
  .select-option ion-label {
    font-size: 15px;
    color: #78909c !important;
  }
  .select-option ion-select {
    color: #4db6ac !important;
    font-size: 15px;
    padding: 0px 3px 0px 16px;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
