chat-bubble {
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }
  .profile-pic.left {
    left: 1px;
  }
  .profile-pic.right {
    right: 1px;
  }
  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    background-color: $customBlue;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    width: 100%;
  }
  .message-time {
    font-size: 11px;
  }
  .message-time-left {
    text-align: right;
  }
  .message-time-right {
    text-align: left;
  }
  .back-left {
    background-color: #f8f8f8!important;
  }
  .back-right p{
    color: #ffffff;
  }
  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }
  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
  }
  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  .chat-bubble.left {
    float: left;
    margin-left: 45px;
    padding-left: 0px;
  }
  .chat-bubble.right {
    color: #000;
    float: right;
    margin-right: 30px;
    padding-right: 0px;
  }
  .chat-bubble.right a.autolinker {
    color: #000;
    font-weight: bold;
  }
}
