<div class="chatBubble">
    <div (click)="goUser(msg.user)" *ngIf="msg.user.avatar != null" class="profile-pic {{msg.position}}"
         [ngStyle]="{'background-image': 'url(' + endpoint + msg.user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div (click)="goUser(msg.user)" *ngIf="msg.user.avatar == null" class="profile-pic {{msg.position}}"
         [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div class="chat-bubble {{msg.position}}">
        <div class="message back-{{msg.position}}"><p>{{msg.message}}</p></div>
        <p class="message-time message-time-{{msg.position}}">{{msg.created_at}}</p>
    </div>
</div>
