page-product-single {
  .header-transparent {
    opacity: 0.8 !important;
  }
  .header-colored {
    opacity: 1 !important;
  }
  .news-cover {
    width: 100%;
    height: 30%;
  }
  .has-cover .scroll-content {
    margin-top: 0px !important;
  }
  .news-content-has-cover {
    margin-top: 30px;
  }
  .title {
    font-size: 19px;
    color: $newsTitle;
  }
  .description {
    font-size: 14px;
    color: $newsDesc;
    margin-top: 30px;
  }
  .deals {
    padding-right: 13px;
    margin-top: 20px;
  }
  .col-grid {
    display: table;
  }
  .round-weight {
    background: #4db6ac;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    height: 30px;
    width: 30px;
    font-weight: bold;
    display: table;
    float: right;
  }
  .round-weight p {
    display: table-cell;
    vertical-align: middle !important;
  }
  .deal-price {
    color: #b0bec5;
  }
  .deal-price span {
    color: #212121;
  }
  .col-price {
    padding-top: 11px;
  }
}
