<ion-header class="{{newsHeader}}" no-border>
    <ion-navbar color="primary">
        <ion-title>{{product.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-cover" no-padding>
    <div class="news-cover" *ngIf="product.avatar != null" [ngStyle]="{'background-image': 'url(' + product.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div class="news-cover" *ngIf="product.avatar == null" [ngStyle]="{'background-image': 'url(' + productLogo + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
    </div>
    <div lass="news-content-has-cover" padding>
        <h2 class="title">{{product.name}}</h2>
        <p class="description">{{product.description}}</p>
    </div>
    <div class="deals">
        <ion-row>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>1G</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.gram}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>2G</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.two_grams}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>1/8</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.eighth}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>1/4</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.fourth}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>1/2</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.half}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="col-grid" text-center col-xxs-4>
                <ion-row>
                    <ion-col text-right>
                        <div text-center class="round-weight">
                            <p text-center>OZ</p>
                        </div>
                    </ion-col>
                    <ion-col class="col-price" text-left>
                        <span class="deal-price">
                            <span>{{product.prices.ounce}}</span>.00
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
