user-header {
  .cover {
    height: 100px;
    width: 100%;
  }
  .logo {
    height: 120px;
    width: 120px;
    border: 1px solid rgba(158, 158, 158, 0.3);
    margin: 0 auto;
    margin-top: -60px;
    background-color: #eeecec;
  }
  .user-name {
    color: $customTitle;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 4px;
  }
}