<div *ngIf="user.avatar != null" class="cover" [ngStyle]="{'background-image': 'url(' + userCover + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<div *ngIf="user.avatar == null" class="cover" [ngStyle]="{'background-image': 'url(' + userCover + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<div *ngIf="user.avatar != null" class="logo" [ngStyle]="{'background-image': 'url(' + endpoint + user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<div *ngIf="user.avatar == null" class="logo" [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<p class="user-name" text-center>{{user.name}} {{user.lastname}}</p>