chat-list {
  .messageCounter {
      background-color: #00e676;
      border-radius: 50%;
      width:18px;
      height: 18px;
      float: right;
  }
  .messageCounter p {
      color: #ffffff !important;
      margin-top: 3px;
  }
  .time-message {
      color: $customDesc !important;
      font-size: 12px !important;
  }
  .userOnline {
    width: 10px;
    height: 10px;
    background-color: $customBlue;
    border-radius: 50%;
    position: absolute;
    bottom: 0!important;
    right: 6px !important;
  }
  .userOffline {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1.5px solid #2fdedb;
      border-radius: 50%;
      float: right;
      position: relative;
      margin-top: -12px;
      margin-right: 5px;
  }
  .users-list .item-title h2 {
    margin-top: 10px !important;
  }
}
