<ion-content>
    <ion-fab right bottom #fab>
        <button ion-fab color="primary" (click)="showFabList = !showFabList">
            <custom-icon set="mi" name="chatfab"></custom-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="goGroupChat(fab); showFabList = !showFabList">
                <custom-icon set="mi" name="groupfab"></custom-icon>
            </button>
            <button ion-fab (click)="goSingleChat(fab); showFabList = !showFabList">
                <custom-icon set="mi" name="userfab"></custom-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <div class="page-div" padding (swipe)="swipeEvent($event)">
        <ion-row *ngIf="!hasData">
            <ion-col text-center class="no-items">
                <h5>NO MESSAGES IN INBOX</h5>
            </ion-col>
        </ion-row>
        <ion-list class="users-list page-bottom" no-padding no-lines>
            <ion-item no-padding (click)="chat(msg)" *ngFor="let msg of inbox">
                <div *ngIf="msg.isGroup == 0 && msg.user.avatar != null" class="avatar" item-left
                     [ngStyle]="{'background-image': 'url(' + endpoint + msg.user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    <div *ngIf="msg.user.isOnline == true" class="userOnline"></div>
                </div>
                <div *ngIf="msg.isGroup == 0 && msg.user.avatar == null" class="avatar" item-left
                     [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    <div *ngIf="msg.user.isOnline == true" class="userOnline"></div>
                </div>
                <div *ngIf="msg.isGroup == 1" class="avatar" item-left
                     [ngStyle]="{'background-image': 'url(' + groupAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    <div *ngIf="msg.user.isOnline == true" class="userOnline"></div>
                </div>
                <ion-row no-padding>
                    <ion-col col-xxs-8 col-xs-8 col-s-8 col-sm-8 col-md-10 col-lg-10 col-xl-10 no-padding>
                        <ion-row no-padding>
                            <ion-col class="item-title" left col-xxs-12 no-padding>
                                <h2 *ngIf="msg.isGroup == 0">{{msg.user.name}} {{msg.user.lastname}}</h2>
                                <h2 *ngIf="msg.isGroup == 1">{{msg.name}}</h2>
                            </ion-col>
                            <ion-col class="item-desc" col-xxs-12 no-padding>
                                <p text-wrap>{{msg.lastMessage.message | limitTo: 23}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col center text-right no-padding>
                        <ion-row no-padding>
                            <ion-col class="item-title" left col-xxs-12 no-padding>
                                <p class="time-message">{{msg.lastMessage.created_at}}</p>
                            </ion-col>
                            <ion-col class="item-desc" col-xxs-12 no-padding>
                                <!--<div class="messageCounter"><p text-center>2</p></div>-->
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<div *ngIf="showFabList" class="fab-background">
    <div class="fab-label-list" text-center>
        <div class="fab-label" text-center>
            <p>Friend  chat</p>
        </div>
        <div class="fab-label">
            <p>Group  chat</p>
        </div>
    </div>
</div>
