<ion-header no-border>
    <ion-navbar color="primary">
        <form [formGroup]="form" (ngSubmit)="search()">
            <ion-searchbar formControlName="searchQuery" mode="ios"></ion-searchbar>
            <button hidden type="submit"></button>
        </form>
        <ion-buttons right>
            <button ion-button icon-only (click)="search()">
                <custom-icon set="mi" name="search"></custom-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding padding-top>
    <ion-row *ngIf="!hasData">
        <ion-col text-center class="no-items">
            <h5>YOU DON'T HAVE FRIENDS</h5>
        </ion-col>
    </ion-row>
    <ion-card class="users-list" *ngFor="let user of users">
        <ion-item>
            <div (click)="goUser(user)" *ngIf="user.avatar != null" class="avatar" item-left
                 [ngStyle]="{'background-image': 'url(' + endpoint + user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>
            <div (click)="goUser(user)" *ngIf="user.avatar == null" class="avatar" item-left
                 [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>
            <ion-row no-padding>
                <ion-col (click)="goUser(user)" col-xxs-8 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-11 col-xl-11 no-padding>
                    <ion-row no-padding>
                        <ion-col left col-xxs-12 no-padding>
                        </ion-col>
                        <ion-col class="item-title" text-wrap left col-xxs-12 no-padding>
                            <h2>{{user.name}} {{user.lastname}}</h2>
                        </ion-col>
                        <ion-col left col-xxs-12 no-padding>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col center text-right no-padding>
                    <button ion-button icon-only clear color="primary" (click)="chat(user)">
                        <custom-icon set="mi" name="chatfab"></custom-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-card>
</ion-content>
