page-clinic-menu {
  .card-list-label {
    margin-top: 20px;
  }
  .clinics-item-header {
    margin-bottom: 3px !important;
  }
  .select-ios {
    padding: 0px 4px 0px 0px;
  }
  ion-select {
    max-width: 100%;
    padding: 0px 5px 0px 16px !important;
  }
}
