<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button *ngIf="isFavorite == false" ion-fab class="favorite-fab" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
        <button *ngIf="isFavorite == true" ion-fab color="primary" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
    </ion-fab>
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <clinic-header [clinic]="clinic"></clinic-header>
        <ion-row class="card-list-label">
            <ion-col text-left padding-left>
                Category
            </ion-col>
            <ion-col text-right padding-right>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="activeCategory" (ionChange)='selectCategory(activeCategory)'>
                    <ion-option value="all">All</ion-option>
                    <ion-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</ion-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="products.length > 0" class="card-list-label">
            <ion-col text-left padding-left>
                Products
            </ion-col>
            <ion-col text-right padding-right>
                {{products.length}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="products.length == 0">
            <ion-col text-center class="no-items no-items-clinic">
                <h5>NO PRODUCTS</h5>
            </ion-col>
        </ion-row>
        <ion-card class="clinics-list" *ngFor="let product of products" (click)="singleProduct(product)">
            <ion-card-content>
                <div no-padding no-lines>
                    <ion-item no-padding no-lines text-wrap>
                        <ion-thumbnail item-left>
                            <div *ngIf="product.avatar != null" class="clinic-logo"
                                 [ngStyle]="{'background-image': 'url(' + endpoint + product.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                            </div>
                            <div *ngIf="product.avatar == null" class="clinic-logo"
                                 [ngStyle]="{'background-image': 'url(' + productLogo + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                            </div>
                        </ion-thumbnail>
                        <ion-row class="clinics-item-header" no-padding>
                            <ion-col left no-padding col-8 center text-left>
                                <p>{{product.name}} ${{product.pricing}}</p>
                            </ion-col>
                        </ion-row>
                        <p>{{product.description | limitTo: 95}}</p>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
