page-add-review {
  .contactText {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contactText p {
    margin-top: 10px;
    color: #555555;
  }
  .reviewTitle p {
    font-weight: 500;
    margin-top: 4px;
    font-size: 1.8rem!important;
  }
  .contactinput {
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 0px!important;
  }
  textarea.text-input {
    height: 115px!important;
  }
  .contacttextarea {
    height: 120px!important;
    padding-bottom: 5px;
  }
  .contactinput:focus {
    border: 0px;
  }
  .sendbutton {
    width: 100%;
  }
  .clinicNameRating {
    ul {
      padding: 0px;
      //margin-top: -2px;
      //margin-left: 40px;
      margin: 0px;

      &.rating li {
        padding: 0px !important;
        background: none;
        color: $customBlue;

        ion-icon {
          font-size: 25px;
        }
      }
    }
  }
  .itemheight {
    height: 44px;
  }
  .boldrating {
    font-weight: 600;
  }
}
