<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>Review {{clinic.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines no-padding>
        <ion-item class="contactText" no-padding text-center>
            <p text-center>Write a review</p>
        </ion-item>
        <ion-item class="contactinput contacttextarea">
            <ion-textarea [(ngModel)]="message" type="text" placeholder="Your Review"></ion-textarea>
        </ion-item>
        <ion-item no-padding class="itemheight">
            <ion-row>
                <ion-col col-xxs-12 text-center>
                    <rating item-center [(ngModel)]="rating"
                            readOnly="false"
                            max="5"
                            emptyStarIconName="star-outline"
                            halfStarIconName="star-half"
                            starIconName="star"
                            nullable="false"
                            class="clinicNameRating">
                    </rating>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col></ion-col>
                <ion-col text-center>
                    <button text-center ion-button class="sendbutton" (click)="rate(message, rating)">Add review
                    </button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
