page-create-group-chat {
  .searchbar-ios .searchbar-input {
    color: #000000 !important;
  }
  ion-footer {
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.14);
  }
  ion-card {
    width: 100%!important;
    margin-bottom: 15px!important;
  }
  ion-searchbar {
    background-color: #ffffff!important;
    border-bottom: 0px!important;
    padding: 0px!important;
  }
  .boja::placeholder {
    color: #ffffff!important;
  }
  .searchbar-ios .searchbar-input {
    padding: 0 28px;
    height: 4rem;
    border-radius: 0px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff!important;
    background-color: $customBlue;
  }
  .searchbar-ios.searchbar-left-aligned .searchbar-search-icon {
    margin-left: 0;
    margin-top: 1.5%;
  }
  .toolbar-ios-primary .searchbar-ios .searchbar-input {
    color: #fff;
  }
  .style-contact {
    border: 1px solid #c8c7cc;
    margin-bottom: 10px;
    padding-left: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21);
  }
  .button-margin {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}
