<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>Create Group Chat</ion-title>
        <ion-buttons right>
            <button ion-button clear (click)="modalDismiss()">
                Close
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding class="add-group-chat-page">
    <ion-card no-margin>
        <ion-card-content>
            <ion-list no-lines class="add-group-chat-page" no-padding>
                <ion-item no-padding class="contactinput style-contact">
                    <ion-input type="text" placeholder="Add group chat name" [(ngModel)]="groupName"
                               clearInput></ion-input>
                </ion-item>
            </ion-list>
            <form [formGroup]="form" (ngSubmit)="search()">
                <ion-searchbar formControlName="searchQuery" class="boja" mode="ios"></ion-searchbar>
                <button hidden type="submit"></button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-row *ngIf="!hasData">
        <ion-col text-center class="no-items">
            <h5>YOU DON'T HAVE FRIENDS</h5>
        </ion-col>
    </ion-row>
    <ion-list class="users-list" no-padding no-lines>
        <ion-item padding *ngFor="let user of users">
            <div *ngIf="user.avatar != null" class="avatar" item-left
                 [ngStyle]="{'background-image': 'url(' + endpoint + user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>
            <div *ngIf="user.avatar == null" class="avatar" item-left
                 [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
            </div>
            <ion-label item-left>{{user?.name}} {{user?.lastname}}</ion-label>
            <ion-checkbox item-right color="primary" checked="false" [(ngModel)]="user.checked"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer text-center>
    <button class="button-margin" ion-button primary (click)="createChatGroup(groupName)">
        Create chat group
    </button>
</ion-footer>
