clinic-header {
  .cover {
    height: 100px;
    width: 100%;
  }
  .logo {
    height: 120px;
    width: 120px;
    border: 1px solid rgba(158, 158, 158, 0.3);
    margin: 0 auto;
    margin-top: -60px;
  }
  .clinic-name {
    color: $customTitle;
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 4px;
  }
  rating {
    ul {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: right;
      &.rating li {
        padding: 0px !important;
        background: none;
        color: $customBlue;
        ion-icon {
          font-size: 16px;
        }
      }
    }
  }
  .rate {
    padding-left: 5px;
  }
  .rate p {
    margin-top: 1px;
    margin-bottom: 0px;
    color: #aeb8bd;
    font-size: 12px;
  }
}