<div *ngIf="clinic.cover != null" class="cover" [ngStyle]="{'background-image': 'url(' + endpoint + clinic.cover.url + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<div *ngIf="clinic.cover == null" class="cover" [ngStyle]="{'background-image': 'url(' + clinicCover + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
</div>
<div *ngIf="clinic.logo != null" class="logo" [ngStyle]="{'background-image': 'url(' + endpoint + clinic.logo.url + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
</div>
<div *ngIf="clinic.logo == null" class="logo" [ngStyle]="{'background-image': 'url(' + clinicLogo + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
</div>
<p class="clinic-name" text-center>{{clinic.name}}</p>
<ion-row no-padding>
    <ion-col no-padding col-xxs-3 col-lg-4></ion-col>
    <ion-col no-padding col-xxs-6 col-lg-4>
        <ion-row no-padding>
            <ion-col no-padding col-xxs-8 col-md-7>
                <rating [(ngModel)]="clinic.average_rating"
                        readOnly="true"
                        max="5"
                        emptyStarIconName="star-outline"
                        halfStarIconName="star-half"
                        starIconName="star"
                        nullable="false">
                </rating>
            </ion-col>
            <ion-col no-padding col-xxs-4 col-md-5 class="rate">
                <p> {{clinic.average_rating}}</p>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col no-padding col-xxs-3 col-lg-4></ion-col>
</ion-row>