.scroll-content {
  margin-top: 53px !important;
}
.gallery-modal .scroll-content {
  margin-top: 0px !important;
}
// Tabs
.tabs-ios-primary .tab-button[aria-selected=true] {
  border-bottom: 2px solid #ffffff;
}
.tabs-ios-primary .tab-button[aria-selected=false] {
  border-bottom: 2px solid $customBlue;
}
.tabs-ios .tab-button-text {
  margin-top: 1px;
  margin-bottom: 4px;
}
.tabbar {
  border: 0!important;
}
.toolbar {
  min-height: 51px !important;
}
.has-navbar {
  margin-top: 50px;
  // ios
  //margin-top: 60px;
}
.no-items {
  margin-top: 55% !important;
}
.no-items-segment {
  margin-top: 40% !important;
}
.no-items-clinic {
  margin-top: 20% !important;
}
.no-items h5 {
  color: #78909c;
}
.alert {
  color: #e13838;
}

.searchbar-ios .searchbar-input {
  color: #fff !important;
}

.clinic-logo {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(158, 158, 158, 0.3);
}

// tab view
.page-div {
  width: 100%;
  min-height: 100%;
}

.page-bottom {
  padding-bottom: 100px !important;
}

// FAB Buttons
ion-fab[bottom] {
  bottom: 80px;
}
ion-fab[right] {
  right: 20px;
}
ion-fab button {
  box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.15);
}
.fab-in-list {
  color: #78909c !important;
}
.fab-in-list custom-icon {
  font-size: 20px !important;
}
.fab-background {
  width: 650px;
  height: 650px;
  background: rgba(201,210,216,0.9);
  background: -moz-linear-gradient(-45deg, rgba(201,210,216,0.9) 0%, rgba(201,210,216,0.92) 15%, rgba(201,210,216,0.92) 24%, rgba(201,210,216,0.93) 33%, rgba(223,225,227,0.94) 43%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(201,210,216,0.9) 0%, rgba(201,210,216,0.92) 15%, rgba(201,210,216,0.92) 24%, rgba(201,210,216,0.93) 33%, rgba(223,225,227,0.94) 43%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(201,210,216,0.9) 0%, rgba(201,210,216,0.92) 15%, rgba(201,210,216,0.92) 24%, rgba(201,210,216,0.93) 33%, rgba(223,225,227,0.94) 43%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(201,210,216,0.9) 0%, rgba(201,210,216,0.92) 15%, rgba(201,210,216,0.92) 24%, rgba(201,210,216,0.93) 33%, rgba(223,225,227,0.94) 43%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,1) 100%);
  background: linear-gradient(135deg, rgba(201,210,216,0.9) 0%, rgba(201,210,216,0.92) 15%, rgba(201,210,216,0.92) 24%, rgba(201,210,216,0.93) 33%, rgba(223,225,227,0.94) 43%, rgba(255,255,255,0.96) 62%, rgba(255,255,255,1) 100%);
  border-radius: 50%;
  position: fixed;
  bottom: -300px;
  right: -400px;
  opacity: 0.9;
  z-index: 1;
}
.fab-label-list {
  margin-top: 110px;
  margin-left: 95px;
}
.fab-label {
  width: 75px;
  height: 20px;
  background-image: url(../assets/images/fab-label-background.png);
  background-size: cover;
  background-position: right;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 37px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.fab-label p {
  padding-top: 2px;
}
.favorite-fab {
  background: #ffffff !important;
  color: #78909c !important;
}

// Segment buttons for all pages
.segment-buttons {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ebebeb;
  border-radius: 30px;
  width: 230px;
}
.segment-buttons ion-segment-button {
  height: 40px !important;
  line-height: 5rem !important;
  border-radius: 30px !important;
  border: none !important;
  display: inline-flex;
  vertical-align: middle;
  padding-left: 15px !important;
}
.segment-ios .segment-button {
  color: $segmentButtonDisabledColor;
}
.segment-buttons ion-segment-button ion-icon {
  height: 40px;
  line-height: 40px !important;
}
.segment-buttons ion-segment-button span {
  height: 40px;
  line-height: 40px !important;
  padding-left: 10px;
}

// Users List: Discover Page, Search Page

.users-list .label-ios {
  margin: 0 !important;
}
.users-list .item-ios.item-block .item-inner {
  padding-right: 0px !important;
}
.users-list .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 2px 0px rgba(158, 158, 158, 0.8);
  position: relative;
  margin-left: 1px;
}
.users-list .avatarsize {
  width: 60px !important;
  height: 60px !important;
}
.users-list .item-title-col {
  padding-top: 10px ;
}
.users-list .item-title h2 {
  color: $customTitle;
  font-weight: 500;
  font-size: 14px;
  margin-top: 18px !important;
}
.users-list .item-desc {
  padding-top: 8px;
}
.users-list .item-desc p {
  font-size: 12px;
  color: $customDesc;
}

// Clinics list: Clinics Page, Search Page
.clinics-list {
  margin-top: 10px;
}
.clinics-list ion-list-header {
  color: $customTitle;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 10px;
}
.clinics-list ion-item ion-thumbnail img {
  width: 100px;
  height: 100px;
}
.clinics-list p {
  color: #9e9e9e;
  font-size: 13px;
  font-weight: 600;
}
.clinics-item-header p {
  color: $customBlue;
  font-weight: 500;
  font-size: 15px;
}
.clinics-item-button {
  margin-top: 5px;
}
.clinics-item-button button {
  width: 100%;
  height: 30px;
  font-size: 11px;
  margin: 0;
}
.clinics-item-button ion-icon {
  line-height: 1;
}
.clinics-list .review-button {
  padding-left: 0px !important;
}
.clinics-list .consult-button {
  padding-left: 0px !important;
}
.clinics-list .clinics-item-distance {
  font-size: 14px;
  color: $customTitle;
}
.clinics-list .pintext {
  font-weight: 300!important;
}
.clinics-list .clinics-item-distance ion-icon {
  line-height: 1;
}
.clinics-list .icon-position {
  float: left;
  margin-right: 5px;
}
.clinics-list .icon-text {
  font-weight: 400!important;
}
.clinics-list .review {
  color: #9e9e9e!important;
}
.clinics-list rating {
  ul {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 3px;

    &.rating li {
      padding: 0px !important;
      background: none;
      color: $customBlue;

      ion-icon {
        font-size: 14px;
      }
    }
  }
}
.reviews-number p {
  font-size: 10px;
  color: $customTitle;
}

custom-icon {
  font-size: 2.4rem!important;
}
.list-md .item-input.input-has-focus:last-child {
  box-shadow: none!important;
}
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  box-shadow: none!important;
}
.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}
.list-md .item-input:last-child {
  border-bottom: 0px!important;
}
.logotbutton {
  text-transform: none!important;
}
//NO ITEMS
.noitem-margin {
  margin-top: 30%;
}
.noitem-margin h4{
  color: #555555;
}
/* FRIEND LIST */

.chat-button {
  width: 80px!important;
}
.add-button {
  width: 80px!important;
}
.item-wrapper:last-child .item-block {
  border-bottom: 0px!important;
}
/* Media queries */

/* Galaxy S5 */
@media only screen and (max-width: 360px) {
  // Clinics List
  .clinics-list .reviews-number p {
    font-size: 10px;
  }
  .clinics-list .clinics-item-button {
    margin-top: 3px;
  }
  .clinics-list .clinics-item-button button {
    height: 30px;
    font-size: 11px;
  }
  .clinics-list .clinics-item-distance {
    font-size: 11px!important;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
  // Intro Page
  page-intro .swiper-pagination-fraction, page-intro .swiper-pagination-custom, page-intro .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px !important;
  }
  page-intro .intro-title {
    margin-top: -10px !important;
  }
  page-intro .next-btn {
    height: 50px !important;
  }
  // First page
  page-first .first-page-logo img {
    width: 40% !important;
    margin-top: 15% !important;
  }
  page-first .first-page-caption {
    margin-top: 15% !important;
  }
  page-first .login-register-btns {
    margin-top: 15% !important;
  }
  page-first .signup-btn {
    height: 60px !important;
  }
  // Login Page
  page-login .login-page-cover img {
    //margin-top: -45px !important;
  }
  page-login .login-container {
    padding-top: 0px !important;
  }
  // Discover Page
  .add-button button {
    font-size: 11px;
    padding: 0 2.3rem !important;
  }
  // Segment Buttons
  .segment-buttons {
    width: 200px;
  }
  .segment-buttons ion-segment-button span {
    padding-left: 5px !important;
  }

  // Clinics List
  .clinics-list .reviews-number p {
    font-size: 8px;
  }
  .clinics-list .clinics-item-button {
    margin-top: 3px;
  }
  .clinics-list .clinics-item-button button {
    height: 30px;
    font-size: 9px;
  }
  .clinics-list .clinics-item-distance {
    font-size: 7px;
  }
  .clinics-list .icon-text {
    font-size: 11px!important;
  }

  // News Page
  .padding-custom {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }

  // My Account Page
  page-my-account {
    .friends-label span {
      font-size: 13px;
    }
    .field-label {
      font-size: 13px !important;
    }
    .field-value ion-label {
      font-size: 15px !important;
    }
  }

  // News single page
  page-news-single .news-content-has-cover {
    margin-top: 20px !important;
  }
  page-news-single .title {
    font-size: 17px !important;
  }
  page-news-single .author {
    font-size: 9px !important;
  }
  page-news-single .featured-text {
    font-size: 12px !important;
    margin-top: 27px !important;
  }
  page-news-single .description {
    font-size: 12px !important;
    margin-top: 27px !important;
  }
  // Product Single Page
  page-product-single .deal-price {
    font-size: 13px;
  }
}

/* iPhone 4 */
@media only screen and (max-height: 480px) {
  // Intro Page
  page-intro .intro-title {
    font-size: 20px !important;
    margin-top: -20px !important;
  }
  page-intro .intro-description {
    font-size: 12px !important;
    line-height: 17px !important;
  }
  page-intro .next-btn {
    height: 40px !important;
    margin-top: 20px !important;
  }
  page-intro .swiper-pagination-fraction, page-intro .swiper-pagination-custom, page-intro .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px !important;
  }
  // First page
  page-first .first-page-logo img {
    width: 30% !important;
    margin-top: 10% !important;
  }
  page-first .first-page-caption {
    margin-top: 15% !important;
  }
  page-first .first-page-caption p {
    font-size: 11px !important;
    line-height: 16px !important;
  }
  page-first .login-register-btns {
    margin-top: 15% !important;
  }
  page-first .signup-btn {
    height: 50px !important;
  }
  page-first .login-btn {
    height: 50px !important;
  }
  page-first .social-btns {
    margin-top: 7% !important;
  }
  page-first .social-btns button {
    width: 30px !important;
    height: 30px !important;
    font-size: 13px !important;
  }
  // Login Page
  page-login .login-page-cover img {
    //margin-top: -54px !important;
  }
  page-login .login-container {
    padding-top: 0px !important;
  }
  page-login .password-input {
    margin-top: 0px !important;
  }
  page-login .login-inputs ion-input {
    font-size: 13px !important;
  }
  page-login .forgot-password-btn {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
  page-login .login-btn {
    height: 40px !important;
  }
  page-login .login-signup-msg {
    font-size: 12px !important;
    margin-top: 0px !important;
  }

  // Segment Buttons
  .segment-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .segment-buttons ion-segment-button {
    height: 30px !important;
    line-height: 4rem !important;
    border-radius: 25px !important;
    padding-left: 15px !important;
    font-size: 10px !important;
  }
  .segment-buttons ion-segment-button ion-icon {
    height: 30px !important;
    line-height: 30px !important;
  }
  .segment-buttons ion-segment-button span {
    height: 30px !important;
    line-height: 30px !important;
    padding-left: 5px !important;
  }

  // News single page
  page-news-single .news-content-has-cover {
    margin-top: 20px !important;
  }
  page-news-single .title {
    font-size: 17px !important;
  }
  page-news-single .author {
    font-size: 9px !important;
  }
  page-news-single .featured-text {
    font-size: 12px !important;
    margin-top: 27px !important;
  }
  page-news-single .description {
    font-size: 12px !important;
    margin-top: 27px !important;
  }
}

/* iPhone 6 Plus */
@media only screen and (min-width: 414px) {
  // News single page
  page-news-single .title {
    font-size: 21px !important;
  }
  page-news-single .author {
    font-size: 12px !important;
  }
  page-news-single .featured-text {
    font-size: 15px !important;
  }
  page-news-single .description {
    font-size: 15px !important;
  }
}

/* Nexus 6P */
@media only screen and (min-width: 412px) {
  // First page
  page-first .first-page-logo img {
    width: 40% !important;
    margin-top: 18% !important;
  }
  page-first .first-page-caption {
    margin-top: 18% !important;
  }
  page-first .login-register-btns {
    margin-top: 18% !important;
  }
  .social-btns {
    margin-top: 8% !important;
  }
  // Login Page
  page-login .login-page-cover img {
    //margin-top: -55px !important;
  }
  // Clinics List
  .clinics-list .reviews-number p {
    font-size: 10px;
  }
  .clinics-list .clinics-item-button {
    margin-top: 3px;
  }
  .clinics-list .clinics-item-button button {
    height: 30px;
    font-size: 12px;
  }
  .clinics-list .clinics-item-distance {
    font-size: 10px;
  }
}

/* NEXUS 7 */
@media only screen and (min-width: 600px) {

}

/* iPad Mini */
@media only screen and (min-width: 768px) {
  // First page
  page-first .first-page-logo img {
    width: 30% !important;
    margin-top: 18% !important;
  }
  page-first .first-page-caption {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-top: 15%;
  }
  page-first .first-page-caption p {
    font-size: 15px !important;
    line-height: 21px !important;
  }
  page-first .login-register-btns {
    margin-top: 15%;
  }
  page-first .signup-btn {
    height: 50px;
  }
  page-first .social-btns {
    margin-top: 7%;
  }
  page-first .social-btns button {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  // Login Page
  page-login .login-page-cover img {
    //margin-top: -90px !important;
  }
  // News
  page-news-single .title {
    font-size: 24px !important;
  }
  page-news-single .author {
    font-size: 14px !important;
  }
  page-news-single .featured-text {
    font-size: 17px !important;
  }
  page-news-single .description {
    font-size: 17px !important;
  }
}