<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>Terms & Conditions</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>1. General Statements</h2>
            <p text-wrap>These Terms of Service (hereinafter, these "Terms") govern your access to and use of Herbanapp’
                (a) websites, portals, mobile applications, channels and software that link to or otherwise reference
                these Terms, including herbanapp.com, and
                (b) social media pages and channels (collectively, the “Websites”), including any services, features,
                media, functions, content, tools and links contained or offered therein (collectively, the “Services”).
                Please ensure that you read these Terms carefully, as it is a legally binding contract between the
                applicable Herbanapp entity that owns the applicable Website or provides the applicable Services that you
                may be accessing or using, on the one hand, and you and your successors and heirs, and (if applicable)
                the corporate entity that you represent (in these Terms, you shall be referred to as "you" or "your"),
                on the other hand. By accessing or using any of the Websites, you are agreeing to be legally bound by
                these Terms. If you do not accept and agree to these Terms, you may not access or use any of the
                Websites or Services or create an account or user profile. For purposes of these Terms, “Herbanapp”,
                “us”, “we” or “our” shall mean, as applicable, Cyboticx, LLC and its affiliated entities
                which: (x) are, directly or indirectly, majority-owned, the direct parent
                company of Cyboticx, LLC; and (y) own the applicable Website or provides the applicable
                Services that you may be accessing or using.</p>
            <p text-wrap>These Terms are subject to occasional changes from time to time, and should we make any
                material changes, we will notify you by sending you an e-mail communication to the last e-mail address
                you provided to us and/or by prominently posting a notice of the changes on the Websites. Any changes to
                these Terms will be effective upon the earlier of our dispatch of an e-mail notice to you (if
                applicable) or our posting of notice of the changes on the Websites. You are responsible for providing
                us with your most current e-mail address. In the event that the last e-mail address you provided to us
                is no longer valid, or for any reason is not capable of delivering to you the notice described above,
                our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of the
                changes described in the notice. If your e-mail address is not up to date or is not working, the posting
                of notice of changes to these Terms on the Websites shall constitute effective notice of the changes
                described therein. Continued use of any of the Websites or Services following notice of such changes
                shall indicate your acknowledgement of such changes and agreement to be bound by the terms and
                conditions of such changes.</p>
            <p text-wrap>Certain areas of the Websites and Services (and your access to or use therein) may have
                different terms, conditions, policies, rules and guidelines, which govern your access to and use of such
                Websites and Services (as applicable, the “Additional Terms”). The Additional Terms will be posted (via
                a link) on the applicable Website or Services and may be modified from time to time. If there is a
                conflict between these Terms and any Additional Terms for a specific Website or Service, the applicable
                Additional Terms shall govern and take precedence over these Terms with respect to your use of or access
                to that Website or Service.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>2. Privacy Statement</h2>
            <p text-wrap>By accessing or using the Websites or Services, you agree that the Herbanapp Privacy Policy
                (which may be updated from time to time) governs Herbanapp’ collection and use of your personal
                information. Registration data and certain other information about you is subject to our Privacy Policy.
                For more information, please make sure that you review our Privacy Policy. You understand that through
                your access or use of the Websites and any Services, you consent to the collection and use (as set forth
                in the Privacy Policy) of this information, including the transfer of information to the United States
                and/or other countries for storage, processing and use by Herbanapp.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>3. Eligibility</h2>
            <p text-wrap>The Websites and Services are intended solely and only available to individuals who are at
                least eighteen (18) years of age, who can willingly and knowingly enter into legally binding contracts
                under applicable law. Please note that certain of the Websites and Services require you to be at least
                nineteen (19) years of age to access and use such Websites and Services. Please check the applicable
                Additional Terms for such Websites and Services for further information. Without limiting the foregoing,
                the Websites and Services are not available to minors or suspended members or users. Further, your
                account and user ID for any of the Websites or Services may not be transferred or sold to another party.
                If you are registering as a business entity, you further represent that you have the authority to bind
                the business to these Terms and any other related or pertinent agreements. If you do not have such
                authority, you will be held individually liable for all actions taken under your user ID. You further
                represent that any party you invite to participate in any of the Services or related functions with you
                is also of legal age as described above.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>4. Electronic Communications</h2>
            <p text-wrap>By accessing or using the Websites or Services, you consent to receiving certain communications
                from us electronically. We will communicate with you in a variety of ways, including, without
                limitation, by e-mail, text, in-app push notices, or by posting notices and messages on the Websites or
                through any of the Services. By accessing or using the Websites or Services, you willingly and knowingly
                agree that all contracts, notices, disclosures, agreements and other communications that we provide to
                you electronically satisfy any legal requirement that such communications be in writing.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>5. Using The Services</h2>
            <p text-wrap bold>User Registration and Accounts
            </p>
            <p text-wrap>In order to access or use some of the Websites or Services, you must first register and create
                an individual profile for yourself or a business for such Website or Service (each a "User Profile").
            </p>
            <p text-wrap bold>By creating a User Profile, you agree that:
            </p>
            <p text-wrap>A: You will not register a username (or email address) that (a) is already being used by
                someone else; (b) may impersonate another person: (c) belongs to another person; (d) violates the
                intellectual property or other right of any person or entity; or (d) is offensive. We may reject the use
                of any password, username, or email address for any reason in our sole discretion;
            </p>
            <p text-wrap>B: You will provide true, accurate, current, and complete registration information about
                yourself in connection with the registration process and, as permitted, to maintain and update it
                continuously and promptly to keep it accurate, current, and complete. If you provide any information
                that is untrue, inaccurate, outdated or incomplete, Herbanapp may suspend or terminate your account and
                refuse you any and all current or future access to or use of the Websites and Services (or any portion
                thereof). If you fail to update your information in a timely manner, then Herbanapp has reasonable
                grounds to suspect that such information is untrue, inaccurate, outdated or incomplete, which will allow
                Herbanapp to suspend or terminate your account, and refuse you any and all current or future access or
                use of the Websites and Services (or any portion thereof).
            </p>
            <p text-wrap>C: You are solely responsible for all activities that occur under your account, password, and
                username - whether or not you authorized the activity;
            </p>
            <p text-wrap>D: You are solely responsible for maintaining the confidentiality of your password and for
                restricting access to your account so that others may not access any password protected portion of the
                Websites or Services using your name, username, or password;
            </p>
            <p text-wrap>E: You will immediately notify us of any unauthorized use of your account, password, or
                username, or any other breach of security;
            </p>
            <p text-wrap>F: You will not post libelous content or create false or misleading reviews or posts; and
            </p>
            <p text-wrap>G: You will not sell, transfer, or assign your account or any account right
            </p>
            <p text-wrap>Herbanapp is not liable for any loss or damage (of any kind and under any legal theory) to you
                or any third party arising from your inability or failure for any reason to comply with any of the
                foregoing obligations.
            </p>
            <p text-wrap>If any information that you provide, or if we have reasonable grounds to suspect that any
                information that you provide, is false, inaccurate, outdated, offensive, incomplete, or violates these
                Terms, any Additional Terms, or any applicable law, then we may suspend or terminate your account, User
                Profile and access to and use of the Websites and Services, at our sole discretion and without advance
                notice or liability.
            </p>
            <p text-wrap>Your User Profile cannot be used to conduct commercial activities, including, but not limited
                to, transactions, advertising, fundraising, contests or other promotions absent our prior written
                consent. We may offer you the ability to set preferences relating to your User Profile, but changes to
                your settings may not become effective immediately or be error free, and options may change from
                time-to-time. Herbanapp assumes no responsibility or liability for any issues, problems or Content on
                your User Profile.
            </p>
            <p text-wrap>User Profiles may only be set up by an authorized representative of the individual or business
                that is the subject of the User Profile. Herbanapp does not review each User Profile to determine if they
                were created by an appropriate party. In addition, Herbanapp is not responsible for any unauthorized User
                Profiles that may appear on the Services. If you believe that a User Profile listed on one of the
                Websites is unauthorized, fake, fraudulent or otherwise improper or misleading, please send an email to
                customerservice@herbanapp.com.
            </p>
            <p text-wrap bold>User content
            </p>
            <p text-wrap>For purposes of these Terms, (a)"Content"means all text, images, photos, audio, video,
                graphics, reviews, location data, and all other forms of data, communication or media, (b)"Your
                Content"means Content that you submit, or transmit to, through or in connection with the Websites or
                Services, such as ratings, reviews, photos, videos, media, messages, social media posts or Services,
                comments and information that you publicly display or displayed in your User Profile, (c)"User
                Content"means Content that users submit or transmit to, through, or in connection with the Websites or
                Services, including any electronic data or information with respect to their customers, (d)"Herbanapp
                Content"means Content that we create or otherwise owned by us and make available in connection with the
                Websites or Services, (e)"Third Party Content"means Content that originates from parties other than
                Herbanapp or users of any of the Websites or Services, which is made available in connection with the
                Websites or Services and not otherwise owned by us, and (f)"Website Content"means all of the Content
                that is made available in connection with the Websites or Services, including Your Content, User
                Content, Third Party Content (and Third Party Material (as defined below)), and Herbanapp Content.
            </p>
            <p text-wrap bold>By submitting User Content, you agree:
            </p>
            <p text-wrap>A: That you own, or have the necessary licenses, rights, consents and/or permissions to all
                patent, trademark, trade secret, copyright or other intellectual property or proprietary rights to your
                User Content, and to any other works that you incorporate into your User Content;
            </p>
            <p text-wrap>B: That you are responsible for anything you submit to the Websites or Services and agree that
                Herbanapp does not have to post or keep posted anything you provide. Once posted on the Websites or on
                the Internet, it is not always possible to remove, especially if multiple copies exist. When User
                Content is uploaded to the Websites or Services, or posted on any social media platforms with a tag or
                reference to Herbanapp, you give Herbanapp complete permission to make it available in multiple forms,
                including, without limitation, on any of our social media accounts, email newsletters or any digital or
                print promotional materials. If any of your User Content is acquired and used by a third party in a way
                that violates these Terms or any Additional Terms, you agree that Herbanapp can take legal action against
                the third party and that Herbanapp shall not be obligated to distribute any recovered sums to you that
                may be obtained in connection with such legal proceedings;
            </p>
            <p text-wrap>C: That, and represent and warrant that, submission of your User Content will not cause injury
                to any other person or entity using the Websites, Services, or otherwise, and Herbanapp is under no
                obligation to post any User Content that you provide, and reserves the right to post our own versions of
                your User Content as Herbanapp Content in our sole discretion;
            </p>
            <p text-wrap>D: To fully assign Herbanapp the right to pursue enforcement of copyright, trademark, trade
                secret and other intellectual property related claims against third parties that have, without receiving
                proper authorization, and in violation of these Terms or any Additional Terms, scraped, manipulated,
                copied, derived, distributed or otherwise improperly or illegally used and benefited from User Content
                that has been provided to Herbanapp by you;
            </p>
            <p text-wrap>E: That you have the written consent, release, and/or express permission of each and every
                identifiable person in your User Content to use such person's name and/or likeness in your User Content
                for any use permitted by these Terms;
            </p>
            <p text-wrap>F: That you will not post, transmit, broadcast or otherwise make available any User Content
                that is unlawful, misleading, harmful, bigoted, offensive, profane, insensitive, obscene, tortious,
                libelous, pornographic, threatening, abusive, harassing, tortious, defamatory, vulgar, invasive of
                another's privacy, hateful, or racially, ethnically or otherwise objectionable (hereinafter, “Offensive
                Content”);
            </p>
            <p text-wrap>G: That you are at least of legal age, being no less than eighteen (18) years old (or
                twenty-one (21) years old, as applicable), and you acknowledge that persons under legal age may not
                submit User Content to Herbanapp, the Websites or the Services; and
            </p>
            <p text-wrap>H: That Herbanapp may, in its sole discretion, monitor the User Content you submit and any other
                communications that you may have, but is under no obligation to do so.
            </p>
            <p text-wrap>By submitting User Content, you acknowledge that you may expose yourself to liability if, for
                example, you User Content contains material that is false, intentionally misleading or defamatory;
                violates any third-party right, including any copyright, trademark, patent, trade secret, moral right,
                privacy right, right of publicity, or any other intellectual property or proprietary right; contains
                material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms
                minors; or violates or advocates the violation of any law or regulation.
            </p>
            <p text-wrap bold>License to User and Third Party Content/Data
            </p>
            <p text-wrap>As between you and Herbanapp, you retain ownership of the User Content that you post, submit,
                provide or otherwise make available on or through the Websites or Services. However, by submitting your
                User Content, you hereby grant Herbanapp and all Websites and Services, the following worldwide,
                perpetual, royalty-free, irrevocable, non-exclusive, sublicensable and transferable rights and licenses:
            </p>
            <p text-wrap>A: To host, cache, store, archive, index, crawl, create algorithms based on, modify or
                transcode your User Content to media formats, standards or mediums in any and all forms and by whatever
                means whether now known or hereinafter devised or created, and to exploit any and all allied, ancillary
                and subsidiary rights relating thereto and derived therefrom;
            </p>
            <p text-wrap>B: To use, license, sell, digitize, stream, store, distribute, exhibit, reproduce,
                commercialize, publicize, display, modify, adapt, edit, excerpt, communicate, translate, analyze,
                remove, prepare derivative works and compilations of, compress, transmit, integrate, insert, market and
                promote your User Content in any and all forms and media and by whatever means whether now known or
                hereafter devised or created, and to exploit any and all allied, ancillary and subsidiary rights
                relating thereto and derived therefrom;
            </p>
            <p text-wrap>C: To use your User Content, in whole or in part, for advertising, promotional or commercial
                purposes, including without limitation, the right to publicly display, reproduce and distribute your
                User Content in any and all forms and media and by whatever means whether now known or hereinafter
                devised or created, and to exploit any and all allied, ancillary and subsidiary rights relating thereto
                and derived therefrom; and
            </p>
            <p text-wrap>D: To grant any rights or licenses to any third parties to do any of the foregoing in the above
                clauses (a) – (c) in connection with their own websites and media platforms.
            </p>
            <p text-wrap>You irrevocably waive, and cause to be waived, against Herbanapp and its users, any claims and
                assertions of moral rights or attribution with respect to your User Content.
            </p>
            <p text-wrap>Herbanapp does not guarantee the accuracy, integrity, quality, or authenticity of any User
                Content. You understand that by using the Websites and Services, you may be exposed to a small portion
                of Offensive Content that may be unpleasant, indecent or objectionable to some viewers. Under no
                circumstances will Herbanapp be liable in any way for any such Offensive Content, including, but not
                limited to, any errors or omissions in any Offensive Content, or any loss or damage of any kind incurred
                as a result of any Offensive Content uploaded, posted, transmitted, broadcast, transferred or otherwise
                made available via Herbanapp, the Websites, Services or any related process or venue.
            </p>
            <p text-wrap>You hereby grant Herbanapp the right and license to use any data, images or information that is
                pushed or otherwise transferred to us through any of our APIs by you or by any third-party on your
                behalf (“Licensed Data”) for any purpose relating to any of the businesses of Herbanapp or for any
                purpose relating to the Websites or Services, including in connection with displaying any data, images
                or information on the Websites. You acknowledge and agree that we shall have the right to reformat,
                improve, modify, adapt, derive, redisplay and/or reprocess any of the Licensed Data and that we shall
                exclusively own all derivative works, graphical layouts, compilations, improvements, modifications,
                adaptations, analyses and interpretations of the Licensed Data. Interpretations or translations of any
                of the Licensed Data prepared by Herbanapp shall be owned exclusively by us.
            </p>
            <p text-wrap bold>Social Media
            </p>
            <p text-wrap>Herbanapp may also provide users with the ability to login to the Websites or Services with your
                login credentials from certain social networking websites (e.g., Facebook, LinkedIn). If you login or
                otherwise associate your User Account with your login credentials from a social networking or similar
                website, we may use any information about you that is from or otherwise posted on your social networking
                account, in accordance with the terms and conditions and related legal and user policies of the relevant
                social networking website. If you elect to share your information with any number of social networking
                websites, we will then share your information with the websites you name, in accordance with your
                election, and per their terms and conditions.
            </p>
            <p text-wrap bold>Third Party Materials
            </p>
            <p text-wrap>The Website or Services might display, include or make available Third Party Content (including
                data, information, articles, applications or other products, services and/or materials) or contain links
                to third party websites, services, and advertisements for third party Offers (as defined below)
                (collectively, the “Third Party Materials”). You acknowledge and agree that Herbanapp is not responsible
                for Third Party Materials, including their accuracy, completeness, timeliness, validity, copyright
                compliance, legality, decency, quality or any other aspect thereof. Herbanapp does not assume and will
                not have any liability or responsibility to you or any other person or user for any Third Party
                Materials. Third Party Materials and links thereto are provided solely as a convenience to you and you
                access and use them entirely at your own risk. When you link to a Third Party Material, the applicable
                third party’s terms and policies apply, including the third party’s privacy and data gathering
                practices. You should make whatever investigation you feel necessary or appropriate before proceeding
                with any transaction in connection with such Third Party Material.
            </p>
            <p text-wrap>The Website or Services might display, include or make available coupons, promotional codes,
                giveaways, samples, and other offers from listed dispensaries or other third parties (collectively, the
                “Offers”). Offers constitute “Third Party Materials” under these Terms. Herbanapp displays these Offers
                on the Website and Services as a form of advertisement for the listing dispensary or other third party
                (the “Offeror”) only. All Offers are made directly by the applicable Offeror, and may be subject to
                additional terms, conditions, or restrictions of the Offeror or under applicable law, whether or not
                such terms, conditions or restrictions are expressly included on the Website or Services. The Offeror,
                and not Herbanapp, is solely responsible for: (a) redemption of the Offer; (b) compliance of all aspects
                of the Offer with applicable law (including, without limitation, the advertisement, redemption, and
                terms, conditions and restrictions related thereto); (c) all goods and services it provides to you in
                connection with the Offer; and (d) all injuries, illnesses, damages, claims, liabilities and costs it
                may cause you to suffer, directly or indirectly, in full or in part, whether related to the use or
                redemption of an Offer or not.
            </p>
            <p text-wrap bold>Indemnity and Release
            </p>
            <p text-wrap>You agree to indemnify and hold Herbanapp (and its owners, directors, managers, officers,
                partners, employees, independent contractors and agents and successors and assigns of itself or its
                affiliates) harmless from any and all losses, damages, liabilities, claims, actions, judgments, awards,
                penalties, fines, costs and expenses (including reasonable attorneys’ fees) arising from or relating to
                any claim or demand made by any third party due to or arising out of or otherwise relating to (i) your
                use or misuse of the Websites or Services, (ii) your User Content, (iii) your violation of these Terms
                or any Additional Terms; or (iv) your violation of applicable laws or regulations. Herbanapp reserves the
                right, at your expense, to assume the exclusive defense and control of any matter for which you are
                required to indemnify us or any other indemnitee hereunder and you agree to cooperate with our defense
                of these claims. You agree not to settle any matter without the prior written consent of Herbanapp.
                Herbanapp will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming
                aware of it.
            </p>
            <p text-wrap>You hereby release and forever discharge Herbanapp (and its owners, directors, managers,
                officers, partners, employees, independent contractors and agents and successors and assigns of itself
                or its affiliates) from, and hereby waive and relinquish your rights with respect to, each and every
                past, present and future dispute, claim, controversy, demand, right, obligation, liability, action and
                cause of action of every kind and nature (including personal injuries, death, and property damage), that
                has arisen or arises directly or indirectly out of, or relates directly or indirectly to, any
                interactions with, or act or omission of, other Websites or Services or Third Party Materials. If you
                are a California resident or resident of a state with a similar applicable law, you hereby waive
                California civil code section 1542 in connection with the foregoing (or such other similar applicable
                law in your state), which states: “a general release does not extend to claims which the creditor does
                not know or suspect to exist in his or her favor at the time of executing the release, which if known by
                him or her must have materially affected his or her settlement with the debtor.”
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>6. Ownership; Proprietary Rights</h2>
            <p text-wrap>As between you and Herbanapp, you own Your Content. We own the Herbanapp Content, including but
                not limited to visual interfaces, interactive features, graphics, design, compilation, including, but
                not limited to, our compilation of User Content and other Website Content, computer code, products,
                software, data, aggregate user review ratings and all other elements and components of the Websites but
                excluding Your Content, User Content and Third Party Material. We also own the patents, patent
                applications, copyrights, trademarks, service marks, trade names, trade secrets and other intellectual
                and proprietary rights throughout the world ("IP Rights") associated with the Herbanapp Content, the
                Websites and the Services, which are protected by copyright, trade secret, patent, trademark laws and
                all other applicable intellectual property and proprietary rights and laws. As such, you may not use,
                modify, duplicate, obscure, rent, lease, loan, sell, manipulate, reproduce, copy, republish, download,
                post, transmit, scrape, reverse engineer, distribute, create derivative works or adaptations of,
                publicly display or in any way exploit any of the Herbanapp Content, Websites or the Services or any of
                the IP Rights of Herbanapp, in whole or in part, unless expressly authorized by us in writing. Except as
                expressly and unambiguously provided herein, we do not grant you any express or implied rights, and all
                rights in and to the Websites and the Herbanapp Content are retained by us.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>7. Copyright Infringement</h2>
            <p text-wrap>It is Herbanapp’ policy, in appropriate circumstances and at its discretion, to disable,
                eliminate access to and/or terminate the accounts of users who repeatedly infringe or are repeatedly
                charged with infringing the copyrights of others.
            </p>
            <p text-wrap>In accordance with the Digital Millennium Copyright Act of 1998 (“DMCA”), the text of which can
                be found on the U.S. Copyright Office website, Herbanapp will respond appropriately to claims and reports
                of copyright infringement taking place on or through the Websites.
            </p>
            <p text-wrap>If you are a copyright owner, an authorized representative of a copyright owner, or an
                authorized representative permitted to act under an exclusive right per an applicable copyright, please
                report alleged copyright infringements taking place on or through the Websites by completing the
                following DMCA Notice of Alleged Infringement and delivering it to Herbanapp in accordance with the DMCA
                and these Terms. Upon receipt of a properly completed and delivered DMCA Notice of Alleged Infringement,
                Herbanapp will take whatever action it deems appropriate in its sole discretion, but subject to its
                obligations under the DMCA, including removal of the challenged material from the Websites.
            </p>
            <p text-wrap bold>DMCA Notice of Alleged Infringement (“Notice”)
            </p>
            <p text-wrap>A: Identify the copyrighted work that you claim has been infringed, or – if multiple
                copyrighted works are covered by this Notice – provide a comprehensive list of the copyrighted works
                that you claim have been infringed.
            </p>
            <p text-wrap>B: Identify the material that you claim is infringing (i.e. the material you want removed, or
                material that you want all access disabled to) and provide information reasonably sufficient to permit
                us to locate the material, including at a minimum, if applicable, the URL of the link shown on the
                Websites where such material may be found.
            </p>
            <p text-wrap>C: Provide your mailing address, telephone number, and, if available, email address.
            </p>
            <p text-wrap>D: Include both of the following statements in the body of the Notice:
            </p>
            <p text-wrap>i: “I hereby state that I have a good faith belief that the disputed use of the copyrighted
                material is not authorized by the copyright owner, its agent or the law.”
            </p>
            <p text-wrap>ii: “I hereby state that the information in this Notice is accurate and, under penalty of
                perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an
                exclusive right under the copyright that is allegedly infringed.”
            </p>
            <p text-wrap>E: Provide your full legal name and your electronic or physical signature.
            </p>
            <p text-wrap>F: Deliver this Notice, with all above items completed, to Herbanapp:
            </p>
            <!--<p text-wrap>Cyboticx, LLC-->
                <!--Legal Department-->
                <!--P.O. Box 61267-->
                <!--Irvine, CA 92602-->
                <!--DMCA@herbanapp.com-->
            <!--</p>-->
            <p text-wrap>Please note that, pursuant to 17 U.S.C. § 512(f), any misrepresentation of material fact
                (falsities) in a Notice automatically subjects the complaining party to liability for any damages, costs
                and attorney’s fees incurred by us in connection with the Notice and allegation of copyright
                infringement.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>8. Limited License</h2>
            <p text-wrap>Subject to your compliance with these Terms and the applicable Additional Terms, Herbanapp
                grants you a limited, non-exclusive, non-transferable, non-sublicensable, revocable license to access
                and make personal and non-commercial use of the Websites and Services. This license does not include (i)
                any resale or commercial use of the Websites or Services, or their contents; (ii) any collection,
                scraping, downloading, reproducing, distributing, copying or use of any product or Herbanapp client
                listings, descriptions, prices, or any other Website Content; (iii) any derivative use of any of the
                Websites or Services or Website Content; or (iv) any use of data mining, robots, or similar data
                gathering and extraction tools. All rights not expressly granted to you in these Terms or any Additional
                Terms are reserved and retained by Herbanapp. You may not use any meta-tags or any other "hidden text"
                utilizing Herbanapp’ name or trademarks or other IP Rights without the express written consent of
                Herbanapp. The licenses granted by Herbanapp shall immediately terminate should you fail to comply with
                these Terms or any Additional Terms.
            </p>
            <p text-wrap>Subject to these Terms, Herbanapp grants you a non-transferable, non-exclusive, license to
                install and use the software Herbanapp makes available for mobile devices (“Mobile App”), in executable
                object code format only, solely on your own handheld mobile device and for your personal, noncommercial
                use. You acknowledge and agree that the availability of the Mobile App is dependent on the third party
                app platform from which you received the Mobile App (“App Platform”). You acknowledge that these Terms
                concern you and Herbanapp, and not the App Platform. Herbanapp, not the App Platform, is solely
                responsible for the Mobile App, the content thereof, maintenance, support services, and warranty
                therefore, and addressing any claims relating thereto (e.g., product liability, legal compliance, or
                intellectual property infringement). Each App Platform may have Additional Terms to which you must agree
                before downloading the Mobile App from it. You agree to comply with, and your license to use the Mobile
                App is conditioned upon your compliance with, all applicable agreements, terms and conditions of
                use/service, and other policies of the applicable App Platform.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>9. Links</h2>
            <p text-wrap>The Websites and Services contain links to third-party websites or resources. You acknowledge
                and agree that Herbanapp is not responsible or liable for: (i) the availability or accuracy of such
                websites or resources; or (ii) the content, products, or services on or available from such websites or
                resources. Links to such websites or resources do not imply any endorsement by Herbanapp of such websites
                or resources or the content, products, or services available from such websites or resources. You
                acknowledge sole responsibility for and assume all risk arising from your use of any such websites or
                resources or the Content, products or services on or available from such websites or resources.

                Some portions of the Websites implement Open Street mapping services. Your use of Open Street Maps is
                subject to their copyright and license policy.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>10. User Conduct</h2>
            <p text-wrap>You understand and agree that you are solely responsible for compliance with any and all laws,
                rules and regulations that may apply to your use of the Websites or Services. In connection with your
                access or use of any of the Websites or Services, you may not and will not:
            </p>
            <p text-wrap>i: upload, post, transmit, broadcast or otherwise make available any Offensive Content,
                including any User Content that is unlawful, libelous, defamatory or otherwise objectionable;
            </p>
            <p text-wrap>ii: breach or circumvent any laws, third-party rights or our systems, policies, or
                determinations of your account status;
            </p>
            <p text-wrap>iii: review the information and data on our Websites, and/or utilize our Services if you are
                not
                able to form legally binding contracts (for example, if you are under the age of 18), or are temporarily
                or indefinitely suspended from using our Websites or Services;
            </p>
            <p text-wrap>iv: upload, post, transmit, broadcast, sell, transfer or otherwise make available any User or
                Website Content that is inauthentic, counterfeit, or that you do not have a right to make available
                under any law or under contractual or fiduciary relationships (such as inside information, proprietary
                and confidential information learned or disclosed as part of employment relationships or under
                nondisclosure agreements);
            </p>
            <p text-wrap>v: register for more than one User Profile on any of the Websites, or register for a User
                Profile on behalf of an individual other than yourself, or a company that you are not authorized to
                represent or legally bind to a contract;
            </p>
            <p text-wrap>vi: manipulate the price of any item or interfere with any other user's listings, reviews, and
                products;
            </p>
            <p text-wrap>vii: take any action that may undermine the feedback or ratings systems of the Websites or
                Services;
            </p>
            <p text-wrap>viii: transfer your User Profile to another individual or entity without our prior written
                consent;
            </p>
            <p text-wrap>ix: distribute, promote, advertise, or post spam, unsolicited or bulk electronic
                communications, chain letters, pyramid schemes or any related content;
            </p>
            <p text-wrap>x: interfere with or disrupt any Website processes, servers or networks supporting the Websites
                and/or Herbanapp;
            </p>
            <p text-wrap>xi: impair or harm any of our computer or related systems or transmit software viruses, worms,
                or other damaging files;
            </p>
            <p text-wrap>xii: use any robot, spider, scraper, survey, monitor or other automated or similar means to
                access any web page or other asset contained in the Websites, Services or Website Content for any
                purpose;
            </p>
            <p text-wrap>xiii: bypass our robot exclusion headers, interfere with the working of our Services, features
                or tools, or impose an unreasonable or disproportionately large load on our infrastructure;
            </p>
            <p text-wrap>xiv: export or re-export any Herbanapp’ application or tool except in compliance with the export
                control laws of any relevant jurisdictions and in accordance with all relevant posted rules and
                restrictions;
            </p>
            <p text-wrap>xv: insult, threaten, stalk, harass, mislead or deceive other users of the Websites or
                Services, or in any way promote the discrimination or defamation of other users, or create any other
                objectionable material;
            </p>
            <p text-wrap>xvi: intentionally or unintentionally violate any applicable local, state, national or
                international law, rule or ordinance, including, but not limited to, regulations promulgated by the U.S.
                Copyright Office, U.S. Patent and Trademark Office, U.S. Securities and Exchange Commission, the
                Internal Revenue Service, the European Enforcement Directive of 2004, or any rules of any national or
                other securities exchange, including, without limitation, the New York Stock Exchange, the American
                Stock Exchange or the NASDAQ, and any other regulations and/or guidelines having the force of law;
            </p>
            <p text-wrap>xvii: provide material support or resources (or to conceal or disguise the nature, location,
                source, or ownership of material support or resources) to any organization(s) designated by the United
                States government as a foreign terrorist organization pursuant to section 219 of the United States
                Immigration and Nationality Act.
            </p>
            <p text-wrap>xviii: refuse to acknowledge that Herbanapp may establish general practices and limitations
                concerning use of the Websites and Services, including without limitation restrictions concerning User
                Content provided by You for use on the Websites and Services, the type and quantity of transactional
                data stored and presented in connection with your account, the maximum disk space that will be allotted
                on Herbanapp' servers on Your behalf, and the maximum number of times (and the maximum duration for
                which) You may access the Websites and Services in any given period of time;
            </p>
            <p text-wrap>xix: export any Website Content out of the jurisdiction in which it is intended or displayed;
            </p>
            <p text-wrap>xx: access the Websites or Services in order to build a similar or competitive Website or
                Service;
            </p>
            <p text-wrap>xxi: send electronic transmissions (including but not limited to interactive monetary offers,
                audio-video communications, email, search queries, chat and other Internet activities) as interstate
                communications;
            </p>
            <p text-wrap>xxii: circumvent any technical measures we use to provide Services; or
            </p>
            <p text-wrap>xxiii: assist any third party with any of the foregoing.
            </p>
            <p text-wrap>You fully understand, acknowledge and agree that Herbanapp may, under certain circumstances and
                without prior notice, immediately terminate your Herbanapp User Profile and access to the Websites,
                Services and any other related or affiliated applications, functions and tools. Cause for account
                termination or suspension shall include, but not be limited to: (1) breaches or violations of these
                Terms or other incorporated agreements, guidelines, or rules; (2) requests by law enforcement or other
                local, state or federal government agencies or divisions; (3) any attempts to breach our security,
                private accounts or other protected content on the Websites; (4) discontinuance or significant
                modification to the Websites or Services, or any related or affiliated website owned and/or operated by
                Herbanapp (or any part thereof); (5) unforeseen technical, electronic, mechanical or any other
                difficulties or security issues; (6) prolonged inactivity of Your account, which shall be determined by
                Herbanapp; (7) knowing, willing and/or negligent engagement by you in any form of deceitful, fraudulent,
                counterfeit or illegal activities; and/or (8) failure by you, or by your representatives, to pay, in
                full, any fees owed by you in connection with the Websites or any related or affiliated Service,
                business or website.
            </p>
            <p text-wrap>Termination of a User Profile will deny you access to our Services, delay or remove User
                Content that you submitted or commented on, remove any special status associated with your account(s),
                remove and demote listings, reduce or eliminate any discounts or special offers, and take technical
                and/or legal steps to prevent you from using our Websites and Services in the future.

                Herbanapp has the right to investigate and prosecute violations of any of the above to the fullest extent
                of the law.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>11. Review/Feedback Policy</h2>
            <p text-wrap>An important part of the Herbanapp community is the feedback system. Users have the ability to
                leave reviews and comments, and we want that process to be as open as possible. Part of that openness is
                acknowledging that certain behaviors are not acceptable. Herbanapp retains the right to remove any
                content posted on or submitted through any of its Websites or Services. However, the only User Content
                likely to be removed is that which violates these Terms or the rules or guidelines on the applicable
                Website or Service regarding reviews, comments, feedbacks and other User Content (the “Review
                Policies”). Please note, the Review Policies of each Website or Service may differ. Please consult the
                relevant Website or Service to learn about its applicable Review Policy.
            </p>
            <p text-wrap>Please note, Herbanapp is under no obligation to enforce these Terms or any of the Review
                Policies on your behalf against another user. While Herbanapp encourages you to let us know if you
                believe another user has violated these Terms or any of the Review Policies, we reserve the right to
                investigate and take appropriate action at our sole discretion.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>12. Disclaimer Of Warranties</h2>
            <p text-wrap>YOU EXPRESSLY ACKOWLEDGE, UNDERSTAND AND AGREE THAT:
            </p>
            <p text-wrap>A: YOUR ACCESS TO AND USE OF THE WEBSITES AND SERVICES IS AT YOUR OWN RISK. THE WEBSITES AND
                SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. WEEDMAPS AND THEIR AFFILIATES, OFFICERS,
                DIRECTORS, MANAGERS, SHAREHOLDERS, OWNERS, EMPLOYEES, CONTRACTORS, CONSULTANTS AND AGENTS EXPRESSLY
                DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE
                IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT, OR ANY
                OTHER POTENTIAL OR ACUAL WARRANTY OF ANY KIND.
            </p>
            <p text-wrap>B: WEEDMAPS AND ITS AFFILIATES, OFFICERS, DIRECTORS, MANAGERS, SHAREHOLDERS, OWNERS, EMPLOYEES,
                CONTRACTORS, CONSULTANTS AND AGENTS MAKE NO GUARANTEE OR WARRANTY THAT: (1) THE WEBSITES AND SERVICES
                WILL SATISFY YOUR NEEDS AND REQUIREMENTS OR WILL BE COMPATIBLE WITH YOUR EQUIPMENT; (2) THE WEBSITES AND
                SERVICES, AND ALL AFFILIATED WEBSITES, FEATURES, SERVICES, COMMUNICATIONS AND APPLICATIONS, WILL BE
                COMPREHENSIVE, UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, OR BE FREE FROM LOSS, DESTRUCTION,
                CORRUPTION, ONLINE ATTACK, VIRUSES, WORMS, OR OTHER INVASIVE, HARMFUL, OR CORRUPTED OR OTHER RELATED
                INTRUSIONS; (3) THE INFORMATION, DATA OR RESULTS REALIZED OR OBTAINED FROM YOUR USE OF THE WEBSITES WILL
                BE ACCURATE, UP TO DATE, SATISFACTORY OR RELIABLE OR FIT OR USEFUL FOR ANY SPECIFIC PURPOSE; (4) THE
                QUALITY OR VALUE OF ANY PROPERTIES, SERVICES, PRODUCTS, INFORMATION OR OTHER MATERIALS PURCHASED OR
                OBTAINED BY YOU THROUGH THE WEBSITES AND SERVICES WILL MEET YOUR EXPECTATIONS; (5) THAT ANY OFFER MADE
                OR MESSAGE SENT WILL BE SUCCESSFULLY TRANSMITTED, RECEIVED AND PROCESSED; AND (6) ANY ERRORS IN THE
                GUIDELINES, SOFTWARE OR PROTOCOLS WILL BE CORRECTED OR RESOLVED.
            </p>
            <p text-wrap>C: ANY PRODUCT OR PROGRAM DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE WEBSITES AND
                SERVICES IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE AND FULLY
                LIABLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE, LOSS OF DATA, OR ANY OTHER LOSS OR
                DAMAGE THAT RESULTS FROM THE DOWNLOAD OR USE OF ANY SUCH PRODUCT, MATERIAL, APPLICATION, FEATURE OR
                OTHER PROGRAM.
            </p>
            <p text-wrap>D: NO ADVICE OR INFORMATION, INCLUDING MEDICAL ADVICE, STRATEGY, GUIDELINES OR RELATED CONTENT,
                WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM WEEDMAPS OR FROM THE WEBSITES, SERVICES OR RELEVANT SOCIAL
                MEDIA PAGES SHALL CREATE ANY WARRANTY, GUARANTEE OR STRATEGY NOT EXPRESSLY STATED IN THESE TERMS.
            </p>
            <p text-wrap>E: VETTING BY WEEDMAPS OF EACH AND EVERY DOCUMENT, PHOTOGRAPH, VIDEO, REVIEW, RELATED MEDIA,
                POSTING OR OTHER COMMUNICATION, IN ADDITION TO ANY OTHER CONTENT POSTED VIA THE WEBSITES OR SERVICES,
                MAY NOT BE POSSIBLE OR REALISTICALLY PRACTICEABLE. AS A RESULT, WEEDMAPS CANNOT AND DOES NOT CONTROL ANY
                LISTING REVIEWS, COMMENTS, PHOTOGRAPHS, OPINIONS, POSTINGS OR OTHER CONTENT OR MATERIAL POSTED VIA THE
                WEBSITES OR SERVICES AND, AS SUCH, DOES NOT GUARANTEE THE ACCURACY, INTEGRITY, QUALITY, SAFETY,
                LEGALITY, MORALITY, AND/OR AUTHENTICITY OF SUCH CONTENT, THE TRUTH OR ACCURACY OF USERS CONTENT, THE
                ABILITY OF LISTINGS TO CONFIRM PRODUCT AVAILABILITY OR PRICING, OR THE ABILITY OF USERS TO CONFIRM
                EXPERIENCES FROM USING OR PURCHASING SPECIFIC PRODUCTS DISCUSSED OR SOLD ON THE WEBSITES OR SERVICES.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>13. Limitation Of Liability</h2>
            <p text-wrap>A: WEEDMAPS IS UNABLE TO GUARANTEE CONSISTENT, CONTINUOUS OR SECURE ACCESS TO ITS WEBSITES,
                APPLICATIONS, SERVICES, PROGRAMS, CONTENT AND NETWORK, AND OPERATION OF THE WEBSITES AND SERVICES MAY BE
                INTERFERED WITH OR DELAYED BY NUMEROUS POTENTIAL FACTORS OUTSIDE OF WEEDMAPS’ CONTROL. YOU ACKNOWLEDGE,
                EXPRESSLY UNDERSTAND AND AGREE THAT WEEDMAPS AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES,
                AGENTS, PARTNERS, LICENSEES, AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT,
                INCIDENTAL, SPECIAL, PUNITIVE, CONSEQUENTIAL, EXEMPLARY OR OTHER DAMAGES, INCLUDING, BUT NOT LIMITED TO,
                DAMAGES FOR LOSS OF OPPORTUNITY, REPUTATION, PROFITS, GOODWILL, USE, VALUATION, TAX BENEFIT, DATA OR
                OTHER INTANGIBLE LOSSES (EVEN IF WEEDMAPS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES),
                RESULTING FROM: (1) THE USE OR THE INABILITY TO USE THE WEBSITE AND/OR NETWORK; (2) THE COST TO PROCURE
                SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR
                OBTAINED, OR MESSAGES, E-MAILS, REVIEWS, POSTINGS, COMMENTS OR OTHER COMMUNICATIONS RECEIVED, OR
                TRANSACTIONS ENTERED INTO VIA THE WEBSITES OR OTHER AFFILIATED OR RELATED WEBSITES OR SERVICES; (3)
                UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (4) STATEMENTS OR CONDUCT OF ANY
                THIRD PARTY ON THE WEBSITES; (5) THE FAILURE OF THE NETWORK OR WEBSITES TO TIMELY PROCESS AN OFFER; OR
                (6) ANY OTHER MATTER RELATING TO THE WEBSITES, ANY WEEDMAPS AFFILIATED OR RELATED SERVICES, FEATURES OR
                APPLICATIONS, OR ANY OTHER WEEDMAPS OWNED OR OPERATED ENTITY. FURTHER, WEEDMAPS IS NOT A PARTY TO ANY
                SUCH TRANSACTIONS MADE BETWEEN LISTING CLIENTS AND USERS, AND WEEDMAPS SHALL NOT BE LIABLE UNDER ANY
                CIRCUMSTANCES FOR ANY DEFAULTS, COSTS, INFORMATION, THE CONTENTS OF ANY DOCUMENTS, OR FOR ANY OTHER
                INTERACTIONS, BETWEEN OR AMONG USERS, INCLUDING USERS, LISTINGS, PHYSICIANS, AND ALL RELATED PARTIES, IN
                ANY WAY ASSOCIATED WITH THE WEBSITES OR SERVICES.
            </p>
            <p text-wrap>B: REGARDLESS OF THE AFOREMENTIONED, IF WEEDMAPS IS FOUND TO BE LIABLE, OUR LIABILITY TO YOU OR
                TO ANY THIRD PARTY IS LIMITED TO THE GREATER OF (1) THE AMOUNT OF FEES IN DISPUTE NOT TO EXCEED THE
                TOTAL FEES, WHICH YOU PAID TO US IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO THE LIABILITY; OR
                (2) $100.
            </p>
            <p text-wrap>C: SOME STATES, COUNTIES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR
                THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL, CONSEQUENTIAL OR OTHER RELATED DAMAGES OR
                LOSSES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>14. Choice Of Law; Venue; No Jury Trial</h2>
            <p text-wrap>The laws of the state of California, excluding California’s conflict of laws rules, will apply
                to any disputes arising out of or relating to these Terms or any of the Websites or Services. All claims
                arising out of or relating to these Terms or any of the Websites or Services will be litigated
                exclusively in the federal or state courts of Los Angeles County, California, and you and Herbanapp
                consent to personal jurisdiction in those courts.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>15. Entire Agreement</h2>
            <p text-wrap>These Terms, in addition to any applicable Additional Terms and the Privacy Policy and any
                other agreements between you and Herbanapp with respect to the Websites or Services, constitute the
                entire and exclusive understanding and agreement between Herbanapp and you regarding the Websites and
                Services, and these Terms supersede and replace any and all prior Terms of Service for any of the
                Websites or Services.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>16. Reservation Of Rights</h2>
            <p text-wrap>The failure of Herbanapp to enforce any right or provision of these Terms will not constitute a
                waiver of future enforcement of that right or provision. The waiver of any such right or provision will
                be effective only if in writing and signed by a duly authorized representative of Herbanapp. Except as
                expressly set forth in these Terms, the exercise by either party of any of its remedies under these
                Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason
                a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that
                provision will be enforced to the maximum extent permissible and the other provisions of these Terms
                will remain in full force and effect.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>17. Third Party Beneficiary</h2>
            <p text-wrap>These Terms do not and are not intended to confer any rights or remedies upon any person other
                than you and Herbanapp
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>18. Support Or Maintenance</h2>
            <p text-wrap>You acknowledge and agree that Herbanapp will have no obligation to provide you with any support
                or maintenance in connection with the Websites or Services.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>19. United States Export & Foreign Assets Control Regulations</h2>
            <p text-wrap>We do not represent that the materials in the Website or Services are appropriate or available
                for use in any particular location. Those who choose to access the Website or Services do so on their
                own initiative and are responsible for compliance with all applicable laws. You represent and warrant
                that You are not (a) located in or a national or resident of any country that is subject to U.S. trade
                sanctions, or (b) a person or entity on the U.S. Treasury Department's list of Specially Designated
                Nationals and Blocked Persons or acting on behalf of any person or entity on such list.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>20. Severability</h2>
            <p text-wrap>If any of the conditions contained within these Terms shall be deemed invalid, void, or for any
                reason unenforceable, that condition shall be deemed severable and shall not affect the validity and
                enforceability of any remaining conditions set forth herein.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>21. No Right Of Survivorship And Non-Transferability</h2>
            <p text-wrap>You agree that your Herbanapp account is non-transferable and any rights to your Websites user
                identification or contents within your accounts terminate upon your death.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>22. Captions</h2>
            <p text-wrap>The section titles in these Terms are for convenience only and have no legal or contractual
                effect.
            </p>
        </ion-item>
        <ion-item class="faqText" no-padding>
            <h2 text-wrap>23. Contact Us</h2>
            <p text-wrap>For questions about the Herbanapp Websites or any of the Services we provide, please feel free
                to contact our Customer Service department at customerservice@herbanapp.com and speak to a representative.
            </p>
        </ion-item>
    </ion-list>
</ion-content>
