page-login {
  .no-scroll .scroll-content {
    overflow: hidden;
  }
  .scroll-content {
    margin-top: 0px !important;
  }
  .login-page {
    background: #ffffff;
  }
  .login-top-header {
    position: relative;
    overflow: hidden;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .login-page-cover img {
    width: 100%;
    margin-bottom: -4px;
  }
  .login-back-button {
    color: #cfd8dc;
    position: absolute;
  }
  .left-1-pin {
    position: absolute;
    width: 11vw;
  }
  .left-2-pin {
    position: absolute;
  }
  .center-pin {
    position: absolute;
  }
  .right-1-pin {
    position: absolute;
  }
  .right-2-pin {
    position: absolute;
  }
  .login-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    // IOS CSS
    //padding-top: 25px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .login-inputs ion-input {
    border-bottom: 1px solid #b0bec5;
    color: #4db6ac;
    font-size: 14px;
  }
  .login-inputs ion-input input::-moz-placeholder {
    color: #78909c;
  }
  .login-inputs ion-input input:-ms-input-placeholder {
    color: #78909c;
  }
  .login-inputs ion-input input::-webkit-input-placeholder {
    color: #78909c;
  }
  .password-input {
    margin-top: 15px;
    // IOS CSS
    //margin-top: 20px;
  }
  .forgot-password-btn {
    font-size: 13px;
    color: #cfd8dc;
    margin-top: 8px;
    margin-bottom: 8px;
    // IOS CSS
    //margin-top: 15px;
    //margin-bottom: 15px;
  }
  .login-btn {
    color: #ffffff;
    background-color: #4db6ac;
    box-shadow: 0px 6px 25px 0px rgba(77, 182, 172, 0.5);
    height: 60px;
  }
  .login-signup-msg {
    font-size: 13px;
    margin-top: 20px;
    // IOS CSS
    //margin-top: 25px;
  }
  .login-signup-msg p {
    color: #cfd8dc;
  }
  .login-signup-msg span {
    color: #4db6ac;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
