<ion-content class="login-page no-scroll" no-padding>
    <div #headerTop class="login-top-header">
        <button class="login-back-button" ion-button icon-only clear (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
        <img class="left-1-pin pin" [style.marginTop.px]="firstLeftTop" [style.width.px]="firstLeftWidth" [style.marginLeft.px]="firstLeftLeft" [hidden]="!isViewLoaded" src="assets/images/markers/left-1.svg">
        <img class="left-2-pin pin" [style.marginTop.px]="secondLeftTop" [style.width.px]="secondLeftWidth" [style.marginLeft.px]="secondLeftLeft" [hidden]="!isViewLoaded" src="assets/images/markers/left-2.svg">
        <img class="center-pin pin" [style.marginTop.px]="centerTop" [style.width.px]="centerWidth" [style.marginLeft.px]="centerLeft" [hidden]="!isViewLoaded" src="assets/images/markers/center.svg">
        <img class="right-1-pin pin" [style.marginTop.px]="firstRightTop" [style.width.px]="firstRightWidth" [style.marginLeft.px]="firstRightLeft" [hidden]="!isViewLoaded" src="assets/images/markers/right-1.svg">
        <img class="right-2-pin pin" [style.marginTop.px]="secondRightTop" [style.width.px]="secondRightWidth" [style.marginLeft.px]="secondRightLeft" [hidden]="!isViewLoaded" src="assets/images/markers/right-2.svg">
        <div class="login-page-cover">
            <img src="assets/images/earth.svg">
        </div>
    </div>
    <div class="login-container">
        <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
            <div class="login-inputs">
                <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
                <ion-input class="password-input" formControlName="password" type="password" placeholder="Password"></ion-input>
            </div>
            <div text-center>
                <button type="button" mode="ios" class="forgot-password-btn" ion-button clear (click)="forgotPassword()">
                    Forgot password?
                </button>
            </div>
            <button mode="ios" type="button" ion-button block light class="login-btn" (click)="login()">Login</button>
            <div text-center class="login-signup-msg">
                <p>Don't have an account? <span (click)="goSignUp()">Create new</span></p>
            </div>
            <button hidden type="submit"></button>
        </form>
    </div>
</ion-content>