<ion-content class="clinic-page">
    <div class="page-div" (swipe)="swipeEvent($event)" no-padding>
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-row *ngIf="!hasData">
            <ion-col text-center class="no-items">
                <h5>NO CLINICS</h5>
            </ion-col>
        </ion-row>
        <ion-list class="clinics-list" no-lines *ngIf="hasData">
            <ion-item text-wrap class="item-margin" *ngFor="let clinic of clinics"
                      (click)="goClinic(clinic)">
                <div *ngIf="clinic.logo != null" class="clinic-logo" item-left
                     [ngStyle]="{'background-image': 'url(' + endpoint + clinic.logo.url + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                </div>
                <div *ngIf="clinic.logo == null" class="clinic-logo" item-left
                     [ngStyle]="{'background-image': 'url(' + clinicLogo + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                </div>
                <ion-row class="clinics-item-header" no-padding>
                    <ion-col left no-padding col-8 center text-left>
                        <p>{{clinic.name}}</p>
                    </ion-col>
                </ion-row>
                <ion-row no-padding>
                    <ion-col col-xxs-6 col-xs-5 col-s-5 col-sm-4 col-md-2 col-lg-2 col-xl-2 no-padding>
                        <rating [(ngModel)]="clinic.average_rating"
                                readOnly="true"
                                max="5"
                                emptyStarIconName="star-outline"
                                halfStarIconName="star-half"
                                starIconName="star"
                                nullable="false">
                        </rating>
                    </ion-col>
                    <ion-col col-xxs-5 col-xs-4 col-s-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 class="reviews-number"
                             center no-padding text-left>
                        <p class="review">({{clinic.reviews_count}} Reviews)</p>
                    </ion-col>
                    <ion-col col-xxs-1 col-xs-3 col-s-3 col-sm-5 col-md-8 col-lg-9 col-xl-9 no-padding></ion-col>
                </ion-row>
                <p>{{clinic.announcement | limitTo: 95}}</p>
                <ion-row class="clinics-item-button" no-padding>
                    <ion-col class="clinics-item-distance" col-xxs-8 col-md-8 center>
                        <ion-icon class="icon-position" color="clinicContent" name="ios-pin-outline"></ion-icon>
                        <p class="icon-text"> {{clinic.distance.toFixed(1)}} miles away</p>
                    </ion-col>
                    <ion-col class="clinics-item-distance" col-xxs-4 col-md-8 center>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
