page-clinics {
  .clinic-page {
    background-color: $pagesBackground;
  }
  .item-margin {
    margin-top: 8px;
  }
  .unfavorite-background {
    background-color: #f53d3d;
  }
  .unfavorite-background:active {
    background-color: #dc3a3a;
  }
}
