<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button *ngIf="isFavorite == false" ion-fab class="favorite-fab" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
        <button *ngIf="isFavorite == true" ion-fab color="primary" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
    </ion-fab>
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <clinic-header [clinic]="clinic"></clinic-header>
        <ion-row *ngIf="clinic.gallery.length == 0">
            <ion-col text-center class="no-items no-items-clinic">
                <h5>NO PHOTOS</h5>
            </ion-col>
        </ion-row>
        <ion-row padding>
            <ion-col *ngFor="let image of clinic.gallery" class="imageheight widthgallery" col-xxs-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 >
                <div (tap)="photoModal(image)" class="gallery-image" item-left [ngStyle]="{'background-image': 'url(' + endpoint + image.url + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
