page-clinic-gallery {
  .gallery-image {
    width: 100%;
    height: 100%;
    border: 1px solid #9e9e9e;
  }
  .imageheight {
    height: 171px;
  }
  .imageheight img {
    height: 100%;
    width: 100%;
  }
  /* Media queries */

  /* Galaxy S5 */
  @media only screen and (max-width: 360px) {
    .imageheight {
      height: 164px;
    }
    .button-md {
      text-transform: none;
    }
  }

  /* iPhone 5 */
  @media only screen and (max-width: 320px) {
    .imageheight {
      height: 144px;
    }
  }

  /* Nexus 6P */
  @media only screen and (min-width: 412px) {
    .button-md {
      text-transform: none;
    }
  }
}
