<ion-content class="discover-page" no-padding>
    <div class="page-div" (swipe)="swipeEvent($event)">
        <ion-row text-center>
            <ion-col text-center>
                <ion-segment class="segment-buttons" [(ngModel)]="chatType" mode="ios">
                    <ion-segment-button value="people" round (ionSelect)="selectPeople()">
                        <custom-icon set="mi" name="profile"></custom-icon>
                        <span>People</span>
                    </ion-segment-button>
                    <ion-segment-button value="groups" round (ionSelect)="selectGroups()">
                        <custom-icon set="mi" name="message"></custom-icon>
                        <span>Groups</span>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>

        <div [ngSwitch]="chatType">
            <div *ngSwitchCase="'people'">
                <ion-row *ngIf="!hasUsers">
                    <ion-col text-center class="no-items no-items-segment">
                        <h5>NO USERS FOUND</h5>
                    </ion-col>
                </ion-row>
                <ion-card class="users-list" *ngFor="let user of users" (click)="goUser(user)">
                    <ion-item>
                        <div *ngIf="user.avatar != null" class="avatar" item-left
                             [ngStyle]="{'background-image': 'url(' + endpoint + user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                        </div>
                        <div *ngIf="user.avatar == null" class="avatar" item-left
                             [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                        </div>
                        <ion-row no-padding>
                            <ion-col col-xxs-8 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-11 col-xl-11 no-padding>
                                <ion-row no-padding>
                                    <ion-col left col-xxs-12 no-padding>
                                    </ion-col>
                                    <ion-col class="item-title" text-wrap left col-xxs-12 no-padding>
                                        <h2>{{user.name}} {{user.lastname}}</h2>
                                    </ion-col>
                                    <ion-col left col-xxs-12 no-padding>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col center text-right no-padding>
                                <button ion-button icon-only clear color="postCommentButton">
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </div>
            <ion-infinite-scroll (ionInfinite)="loadMoreUsers($event)" *ngSwitchCase="'people'">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

            <div *ngSwitchCase="'groups'">
                <ion-row *ngIf="!hasGroups">
                    <ion-col text-center class="no-items no-items-segment">
                        <h5>NO GROPUS FOUND</h5>
                    </ion-col>
                </ion-row>
                <ion-card class="users-list" *ngFor="let group of groups" (click)="chat(group)">
                    <ion-item>
                        <div class="avatar" item-left
                             [ngStyle]="{'background-image': 'url(' + groupAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                        </div>
                        <ion-row no-padding>
                            <ion-col col-xxs-8 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-11 col-xl-11 no-padding>
                                <ion-row no-padding>
                                    <ion-col left col-xxs-12 no-padding>
                                    </ion-col>
                                    <ion-col class="item-title" left col-xxs-12 no-padding>
                                        <h2>{{group?.name}}</h2>
                                    </ion-col>
                                    <ion-col left col-xxs-12 no-padding>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col center text-right no-padding>
                                <button ion-button icon-only clear color="postCommentButton">
                                    <ion-icon name="ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-card>
            </div>
            <ion-infinite-scroll (ionInfinite)="loadMoreGroups($event)" *ngSwitchCase="'groups'">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>
