<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>
            Suggest Friends
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="users-list" no-padding no-lines>
        <ion-item no-padding *ngFor="let friend of friends">
            <ion-avatar item-left>
                <img class="avatarsize" src="{{friend.picture.data.url}}">
            </ion-avatar>
            <ion-row no-padding>
                <ion-col col-xxs-9 col-xs-9 col-s-9 col-sm-9 col-md-11 col-lg-11 col-xl-11 no-padding>
                    <ion-row no-padding>
                        <ion-col class="item-title" left col-xxs-12 no-padding>
                            <h2>{{friend.name}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col class="add-button" col-xxs-3 col-xs-3 col-s-3 col-sm-3 col-md-1 col-lg-1 col-xl-1>
                    <button ion-button round outline icon-left *ngIf="!isInvited" (click)="invite()">
                        Invite
                    </button>
                    <button ion-button round *ngIf="isInvited" (click)="remove()">Invited</button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
