page-clinic-reviews {
  .fab-label-list {
    margin-left: 82px;
  }
  .fab-label {
    width: 93px;
  }
  .unfavorite-fab {
    background: $customBlue;
    color: #ffffff !important;
  }
  .review-user-avatar {
    width: 60px;
    height: 60px;
    box-shadow: 0 0 2px 0px rgba(158, 158, 158, 0.8);
    border-radius: 50%;
    margin-right: 10px !important;
    margin-top: 0 !important;
  }
  .comment-user-avatar {
    width: 45px;
    height: 45px;
    box-shadow: 0 0 2px 0px rgba(158, 158, 158, 0.8);
    border-radius: 50%;
    margin-top: 0 !important;
  }
  .new-comment-avatar {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 2px 0px rgba(158, 158, 158, 0.8);
    border-radius: 50%;
  }
  .rating-row {
    margin-top: 3px;
    margin-bottom: 4px;
  }
  .user-rating-stars {
    float: left;
    ul {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: left;
      &.rating li {
        padding: 0px !important;
        background: none;
        color: $customBlue;
        ion-icon {
          font-size: 14px;
        }
      }
    }
  }
  .user-rating p {
    margin-top: 3px;
    margin-bottom: 0px;
    color: #aeb8bd;
    font-size: 13px;
  }
  .review-message p {
    color: #78909c;
    font-size: 13px;
  }
  .new-comment-item {
    padding-left: 30px;
    background: #f5f5f5;
  }
  .review-user-name {
    font-weight: 500;
    color: $customTitle;
    font-size: 14px;
  }
  .firstItem {
    margin-top: 40px;
  }
  .statusBar {
    border-bottom: 1px solid #cccccc;
  }
  .statusbarbold {
    font-weight: 600;
  }
  .comment-input {
    padding-left: 5px;
  }
  .comment-input input {
    font-size: 13px;
  }
  textarea {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 13px;
    width: 100%;
    background: transparent;
    border: 0px;
    max-height: 116px !important;
    overflow-y: scroll !important;
  }
  .comment-item {
    padding-left: 60px;
  }
  .comment-item h2 {
    font-weight: 500 !important;
    color: $customTitle !important;
    font-size: 13px;
  }
  .comment-message {
    margin-top: 4px;
    color: #78909c;
    font-size: 13px;
  }

  /* Media queries */

  /* Galaxy S5 */
  @media only screen and (max-width: 360px) {
    .userPhoto > img {
      position: relative;
      margin-top: -105px;
      margin-left: 17px;
      max-width: 150px !important;
      height: 150px !important;
    }
    .button-md {
      text-transform: none;
    }
  }
  /* iPhone 5 */
  @media only screen and (max-width: 320px) {
    .clinicNameRating {
      ul {
        padding: 0px;
        margin-top: -1px !important;
        margin-left: 14px !important;

        &.rating li {
          padding: 0px !important;
          background: none;
          color: $customBlue;

          ion-icon {
            font-size: 14px;
          }
        }
      }
    }
    .commentavatar {
      width: 60px !important;
      height: 60px !important;
      margin-bottom: 80px;
    }
  }

  /* Nexus 6P */
  @media only screen and (min-width: 412px) {
    .button-md {
      text-transform: none;
    }
  }
}
