<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button ion-fab color="primary" (click)="showFabList = !showFabList">
            <ion-icon name="ios-more"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button *ngIf="isFavorite == false" ion-fab (click)="favorite(fab); showFabList = !showFabList; isFavorite = !isFavorite">
                <custom-icon set="mi" name="favoritefab"></custom-icon>
            </button>
            <button class="unfavorite-fab" *ngIf="isFavorite == true" ion-fab (click)="favorite(fab); showFabList = !showFabList; isFavorite = !isFavorite">
                <custom-icon set="mi" name="favoritefab"></custom-icon>
            </button>
            <button ion-fab (click)="goReview(fab); showFabList = !showFabList">
                <custom-icon set="mi" name="reviewfab"></custom-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <div class="page-div" (swipe)="swipeEvent($event)" no-padding>
        <clinic-header [clinic]="clinic"></clinic-header>
        <ion-list no-lines class="page-bottom">
            <ion-row *ngIf="clinic.reviews.length == 0">
                <ion-col text-center class="no-items no-items-clinic">
                    <h5>NO REVIEWS</h5>
                </ion-col>
            </ion-row>
            <div *ngFor="let review of reviews; let i = index">
                <ion-item class="firstItem">
                    <div *ngIf="review.user.avatar != null" class="review-user-avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + endpoint + review.user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div *ngIf="review.user.avatar == null" class="review-user-avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + userDefaultAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <ion-row>
                        <ion-col no-padding col-xxs-12>
                            <h2 text-wrap class="review-user-name">{{review.user.name}} {{review.user.lastname}}</h2>
                            <!--<p>{{review.created_at}}</p>-->
                        </ion-col>
                        <ion-col no-padding col-xxs-12 class="rating-row">
                            <ion-row>
                                <ion-col no-padding col-xxs-12 class="user-rating">
                                    <rating item-center [(ngModel)]="review.rating"
                                            readOnly="true"
                                            max="5"
                                            emptyStarIconName="star-outline"
                                            halfStarIconName="star-half"
                                            starIconName="star"
                                            nullable="false"
                                            class="user-rating-stars">
                                    </rating>
                                    <p>&nbsp;{{review.rating}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding col-xxs-12 class="review-message">
                            <p text-wrap>{{review.message}}</p>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item class="new-comment-item">
                    <div class="new-comment-avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <textarea fz-elastic rows="1" [(ngModel)]="comments[i].comment" mode="ios" type="text" placeholder="Write a comment.."></textarea>
                    <button ion-button item-right outline color="postCommentButton"
                            (click)="addComment(comments[i].comment, review.id); comments[i].comment = '';">
                        POST
                    </button>
                </ion-item>
                <ion-item *ngFor="let comment of review.comments" class="comment-item">
                    <div *ngIf="comment.user.avatar != null" class="comment-user-avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + endpoint + comment.user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div *ngIf="comment.user.avatar == null" class="comment-user-avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + userDefaultAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <h2>{{comment.user.name}} {{comment.user.lastname}}</h2>
                    <!--<p>{{comment.created_at}}</p>-->
                    <p text-wrap class="comment-message">{{comment.message}}</p>
                </ion-item>
                <ion-item>
                    <div class="statusBar">
                        <ion-row>
                            <ion-col>
                                <p text-right><span class="statusbarbold" color="primary">{{review.comments.length}}</span> comments</p>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
<div *ngIf="showFabList" class="fab-background">
    <div class="fab-label-list" text-center>
        <div class="fab-label" text-center>
            <p>Write a review</p>
        </div>
        <div class="fab-label">
            <p *ngIf="isFavorite == false">Favorite</p>
            <p *ngIf="isFavorite == true">Unfavorite</p>
        </div>
    </div>
</div>
