<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="search()">
                <custom-icon set="mi" name="search"></custom-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>
            <img src="assets/images/logo.svg">
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="profile()">
                <custom-icon set="mi" name="eq"></custom-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-tabs #myTabs mode="ios" tabsPlacement="top" color="primary" class="has-navbar" selectedIndex="2">
    <ion-tab [root]="tabDiscover" tabTitle="Discover" customIconSet="mi" customIconName="compas"></ion-tab>
    <ion-tab [root]="tabNews" tabTitle="News" customIconSet="mi" customIconName="antenna"></ion-tab>
    <ion-tab [root]="tabClinics" tabTitle="Clinics" customIconSet="mi" customIconName="first-aid-kit"></ion-tab>
    <ion-tab [root]="tabChat" tabTitle="Chat" customIconSet="mi" customIconName="message"></ion-tab>
</ion-tabs>
