<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{user.name}} {{user.lastname}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-tabs mode="ios" tabsPlacement="top" color="primary" class="has-navbar" selectedIndex="0">
    <ion-tab [root]="tabAbout" [rootParams]="user" tabTitle="About" tabIcon="ios-information-circle-outline"></ion-tab>
    <ion-tab [root]="tabFavorites" [rootParams]="user" tabTitle="Favorites" tabIcon="ios-star-outline"></ion-tab>
</ion-tabs>