body {
    font-family: 'Open Sans';
    word-wrap: break-word !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar-collapse.collapsing {
    background: -webkit-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
}

.navbar-collapse.in {
    background: -webkit-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
}

#search {
    transition: all .3s;
    opacity: 0;
    z-index: -1000;
    width: 100%;
}

.busi-btn {
    cursor: pointer;
}

.overlay-search {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(40, 45, 45);
    /*background-color: rgba(40,45,45, 0.97);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-search-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.overlay-search a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-search a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay-search .closebtn {
    position: absolute;
    top: -25px;
    right: 5px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay-search a {
        font-size: 20px
    }

    .overlay-search .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#imaginary_container {
    margin-top: 50px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.search-input {
    border-radius: 2px;
    max-width: 550px;
    height: 50px;
    border-left: 1px solid transparent !important;
    color: #90a4ae;
}

.stylish-input-group .form-control {
    color: #90a4ae;
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

/* Search TABS */

.search-tabs {
    margin-top: 30px;
    border-bottom: 1px solid #282d2d;
}

.search-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.search-tabs, .nav-pills {
    text-align: center;
}

.search-tabs a {
    font-size: 13px;
    font-weight: 700;
    color: #78909c;
    border: none !important;
}

.search-tabs a:hover {
    color: #fff !important;
    background-color: transparent !important;
    border: none !important;
}

.search-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus > a {
    color: #fff;
    background-color: transparent;
    border: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #363d3d;
    margin: 1em 0;
    padding: 0;
}

.btn-sub-cat {
    color: #455a64;
    font-size: 11px;
    font-weight: 700;
    border: 1px solid transparent;
    background-color: #161919;
}

.btn-sub-cat:hover {
    background-color: #ffffff;
}

.card-row {
    margin-top: 60px;
}

#search .search-item-title {
    font-size: 14px;
    color: #ffffff;
    margin: 0px 0px;
    margin-bottom: 5px;
}

#search .search-hot-price {
    margin-top: 3px;
    display: block;
    width: 50px;
    height: 30px;
    font-size: 13px;
    padding-top: 8px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #161919;
}

#search .search-card {
    max-width: 260px;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px transparent;
}

#search .search-card .card-block {
    border: none !important;
}

#search .search-card-text-row {
    margin-left: -27px;
    margin-right: -50px;
}

#search .search-card .card-img-top {
    border-radius: 2px;
}

#search .search-card-text-row .star {
    color: #4cb3a9 !important;
    -webkit-text-stroke: 0px #4cb3a9 !important;
}

.search-card-text-row .rating-number {
    color: #4cb3a9 !important;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
    min-width: 20px;
}

.load-more-btn, .load-more-btn:hover, .load-more-btn:active, .load-more-btn:focus {
    width: 80%;
    background: #ecf9f8 !important;
    outline: none;
    color: #47cec2 !important;
    box-shadow: none !important;
    height: 50px;
    border: 1px solid #ecf9f8;
}

.carousel-inner a {
    text-decoration: none !important;
}

.dropdown-menu > .active > a {
    background-color: #4db6ac;
}

.rating.medium .star, .star.medium {
    width: 16px !important;
    height: 16px !important;
}

.label-value {
    font-size: 14px !important;
    height: 24px;
    color: #ffffff;
}

.rating {
    margin-top: -9px;
    float: left;
}

/* Product modal css */

.cover-img {
    height: 240px;
    margin-right: -15px;
    margin-left: -15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-category-modal {
    font-size: 13px;
    color: #90a4ae;
}

.modal-product-table .clinic-product-price {
    font-size: 13px;
}

.modal-product-table th {
    border-top: none !important;
}

.modal-product-table .prod-circle {
    cursor: default;
    border: 1px solid #b0bec5;
    color: #b0bec5;
    border-radius: 50%;
    height: 25px;
    font-weight: bold;
    width: 25px;
    background: transparent;
}

.modal-product-table .prod-circle:hover {
    background: #4db6ac;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #ffffff;
    height: 25px;
    font-weight: bold;
    width: 25px;
}

.modal-product-table .prod-circle p {
    font-size: 12px;
    padding-top: 3px;
}

.modal-product-table .clinic-product-price {
    margin-top: -22px;
    padding-left: 30px;
}

.modal-product-table .popover-content {
    font-size: 12px;
    color: #90a4ae;
}

.modal-product-desc {
    color: #90a4ae;
}

.modal-content {
    margin-top: 45px;
}

.close-modal-btn {
    background: none;
    outline: none;
    border: none;
    font-size: 35px;
    position: fixed;
    top: -50px;
    right: 0;
    z-index: 1000;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 80px auto;
    }
}

.close-modal-btn i {
    background: white;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.empty-results h3 {
    margin-bottom: 60px;
}

/* Spinner */

#loader {
    width: 45px;
    height: 45px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 100%;
    background-color: #fff;
    animation: loader 5000ms infinite;
}

.anim {
    width: 20px;
    height: 20px;
    margin: 13px;
    animation: anim 1000ms infinite;
}

.anim img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
}

.herban-loading {
    font-size: 16px;
    font-weight: 600;
    color: #b0bec5;
    animation: loading-text 5000ms infinite;
}

.herban-loading {
    margin-bottom: 50px;
}

/* loading dots */

.herban-loading span {
    font-size: 25px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.herban-loading span:nth-child(2) {
    animation-delay: .2s;
}

.herban-loading span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.anim img:first-child {
    animation: weed 6000ms infinite;
}

.anim img:nth-child(2) {
    animation: joint 6000ms infinite;
}

.anim img:nth-child(3) {
    animation: seed 6000ms infinite;
}

.anim img:nth-child(4) {
    animation: weed2 6000ms infinite;
}

.anim img:nth-child(5) {
    animation: joint2 6000ms infinite;
}

.anim img:nth-child(6) {
    animation: seed2 6000ms infinite;
}

.anim img:nth-child(7) {
    animation: weed3 6000ms infinite;
}

@keyframes weed {
    0% {
        opacity: 1
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes joint {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 1
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes seed {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 1
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes weed2 {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 1
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes joint2 {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 1
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes seed2 {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes weed3 {
    0% {
        opacity: 0
    }
    16.6% {
        opacity: 0
    }
    33.33% {
        opacity: 0
    }
    49.8% {
        opacity: 0
    }
    66.40% {
        opacity: 0
    }
    83% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes anim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        background-color: #b0bec5;
    }
    16.6% {
        background-color: #42d4cb
    }
    33.33% {
        background-color: #4db6ac;
    }
    49.8% {
        background-color: #4db6ac;
    }
    66.4% {
        background-color: #4db6ac
    }
    83% {
        background-color: #42d4cb;
    }
    100% {
        background-color: #b0bec5;
    }
}

@keyframes loading-text {
    0% {
        color: #b0bec5;
    }
    16.6% {
        color: #42d4cb
    }
    33.33% {
        color: #4db6ac;
    }
    49.8% {
        color: #4db6ac;
    }
    66.4% {
        color: #4db6ac
    }
    83% {
        color: #42d4cb;
    }
    100% {
        color: #b0bec5;
    }
}

.ng-fade {
    transition: all linear 400ms;
}

.ng-fade.ng-hide {
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    transition: all linear 400ms;
}

.ng-fade.ng-hide-add,
.ng-fade.ng-hide-remove {
    transition: all linear 400ms;
}

/* The starting CSS styles for the enter animation */
.ng-fade.ng-enter {
    transition:0.4s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ng-fade.ng-enter.ng-enter-active {
    opacity:1;
}