#chatbox {
    width: 100%;
    max-width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 3%;
    display: none;
    z-index: 1000;
    background: #ffffff;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.3);
}
.chat-header {
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #47cec2;
}

.chat-header span {
    font-size: 13px;
    font-weight: 700;
    line-height: 35px;
    color: #ffffff;
}

.chat-header .close-btn {
    line-height: 35px;
    color: #ffffff;
}

.chat-content {
    padding-top: 10px;
    height: 330px;
    overflow-y: scroll;
}

.chat-user-avatar {
    width: 38px;
    height: 38px;
}

.avatar-div {
    margin-top: 10px;

    padding-left: 0px;
}

.second-user-message {
    display: block;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    background: #eceff1;
    color: #546e7a;
    margin-top: 10px;
}

.user-message {
    display: block;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    background: #47cec2;
    max-width: 230px;
    color: #ffffff;
    margin-top: 10px;
}

.chat-smiley {
    color: #b2c0c6;
    font-size: 18px;
}

.chat-footer span {
    border-radius: 0px;
    background: transparent;
}

.chat-footer input {
    border-radius: 0px !important;
    border-left: none;
    border-right: none;
}

.chat-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #b2c0c6 !important;
}
.chat-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b2c0c6 !important;
    opacity: 1;
}
.chat-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b2c0c6 !important;
    opacity: 1;
}
.chat-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b2c0c6 !important;
}

.chat-input:focus, .chat-input:active {
    outline: none;
    border: 1px solid #cccccc;
    box-shadow: none !important;
    border-left: none;
    border-right: none;
}

.message-time {
    display: block;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 700;
    color: #b0bec5;
}

.chat-header a {
    cursor: pointer;
}