.card {
    max-width: 280px;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
    border: 1px #e7e7e7;
}

.overlay {
    position: relative;
    display: block;
}

.overlay-image {
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    -webkit-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
}

.overlay .card-img-top {
    z-index: 2;
}

.card-info {
    margin-top: 30px;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 100px;
}

.profile-info {
    position: absolute;
    top: -65px;
    left: 92px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 200px;
    margin: 0;
}

.profile {
    position: absolute;
    top: -50px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    margin: 0;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.22);
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
}

.clinic-name {
    width: 80%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
}

.card-title {
    font-size: 13px;
    line-height: 20px;
    color: #212121;
}

.card-text {
    clear: both;
    margin-top: 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, .68);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}


.page-title {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 30px;
}

.page-title:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 35px;
    height: 1px;
    width: 35px;
    border-bottom: 2px solid #4db6ac;
}

.star-container .star svg {
    fill: #fad534 !important;
}

.card-link {
    text-decoration: none !important;
}