.cover-area {
    height: 230px;
    background-image: url('../assets/images/clinic/cover-image.png');
}

.clinic-row {
    margin-top: -95px;
}

.clinic-avatar {
    width: 172px;
    height: 172px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1.732px 7px 0px rgba(0, 0, 0, 0.15);
}

.second-clinic-row {
    margin-top: 10px;
}

.faded-text {
    padding-left: 5px;
    color: #b0bec5;
}

.clinic-name {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.clinic-name i {
    padding-left: 10px;
    font-size: 15px;
}

.open-close-hours {
    color: #47cfc2;
    font-weight: 700;
}

.hours {
    cursor: pointer;
    font-size: 13px;
    color: #b0bec5;
}

.btn-clinic-fav {
    font-size: 13px;
    color: #ffffff;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #ffffff;
}

.table-responsive {
    overflow-y: visible;
}

.btn-clinic-fav:hover, .btn-clinic-fav:active, .btn-clinic-fav:focus {
    color: #ffffff;
    background: #47cfc2;
    border: 1px solid #47cfc2 !important;
    outline: none;
}

.btn-clinic-fav-invert {
    font-size: 13px;
    color: #cfd8dc;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
}

.btn-clinic-fav-invert:hover, .btn-clinic-fav-invert:active, .btn-clinic-fav-invert:focus {
    color: #ffffff;
    background: #47cfc2;
    border: 1px solid #47cfc2 !important;
    outline: none;
}

.clinic-info-row {
    margin-top: 15px;
}

.clinic-info-row span {
    color: #cfd8dc;
}

.clinic-btns-row {
    margin-top: 30px;
}

.nav-tabs {
    border: none;
}

.clinic-tabs li a {
    outline: 0 !important;
    font-size: 14px;
    background: transparent;
    border: 1px solid #b0bec5 !important;
    border-radius: 2px;
    color: #b0bec5;
}

.btn-clinic-fav:first-child {
    margin-right: 10px;
}

.clinic-tabs li.active a {
    background: #4db6ac !important;
    border: 1px solid #4db6ac !important;
    color: #ffffff !important;
}

.clinic-tabs li a:hover, .clinic-tabs li a:active, .clinic-tabs li a:focus {
    background: #4db6ac !important;
    border: 1px solid #4db6ac !important;
    color: #ffffff;
}

.clinic-product-cat-name {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 30px;
}

.clinic-product-cat-name:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 35px;
    height: 1px;
    width: 35px;
    border-bottom: 2px solid #4db6ac;
}

.clinic-input-group {
    max-width: 220px;
}

.clinic-input-group span {
    background-color: #ffffff;
    color: #47cec2;
}

.clinic-info-row span:first-child {
    padding-right: 10px;
}

.clinic-input-group input {
    border: 1px solid #47cec2;
    border-left: none;
    height: 100%;
}

.clinic-input-group .input-group-addon {
    border: 1px solid #47cec2;
    border-right: none;
}

.clinic-input-group .form-control:focus {
    border: 1px solid #47cec2;
}

.clinic-input-group {
    margin-top: 20px;
}

.clinic-info-row a {
    text-decoration: none;
}

.clinic-info-row .dropdown-menu {
    position: absolute;
    top: 65%;
    left: -95%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.clinic-info-row .dropdown-menu:after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 75%;
    top: -10px;
    width: 0;
}

.clinic-info-row .dropdown-menu .hours-items {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    padding: 24px;
    width: 100%;
}

.clinic-info-row .dropdown-menu .hours-items .hours-item .hours-item-label {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    padding: 8px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
}

.clinic-info-row .dropdown-menu .hours-items .hours-item .hours-item-data {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    padding: 8px;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
}

.clinic-info-row .dropdown-menu .hours-items .hours-item .hours-item-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.hours-item-data span {
    color: #000;
}

.clinic-product-name {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}

.clinic-product-category {
    font-size: 11px;
    color: #90a4ae;
}

.vertical-center {
    min-height: 60px; /* Fallback for browsers do NOT support vh unit */

    display: flex;
    align-items: center;
}

.circle:first-child {
    background: #4db6ac;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    height: 30px;
    font-weight: bold;
    width: 30px;
    display: table;
}

.circle {
    background: transparent;
    border: 1px solid #b0bec5;
    border-radius: 50%;
    color: #b0bec5;
    height: 30px;
    font-weight: bold;
    width: 30px;
    float: left;
    display: table;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
}

.clinic-product-price {
    font-size: 16px;
    margin-top: 5px;
    padding-left: 35px;
    color: #b0bec5;
    display: block;
}

.first-price {
    font-weight: 700;
}

.clinic-product-price span {
    color: #212121;
}

.clinic-collapse .panel-heading {
    background-color: #ffffff;
}

.clinic-collapse {
    margin-top: 20px;
}

.clinic-collapse a {
    text-decoration: none;
}

.clinic-collapse h4 {
    color: #90a4ae;
    font-size: 13px;
}

.clinic-collapse h6 {
    font-weight: 700;
    font-size: 13px;
    color: #90a4ae;
}

.clinic-collapse p {
    font-size: 13px;
    color: #90a4ae;
}

.clinic-collapse .panel-heading {
    border-bottom: 1px solid #dddddd;
}

.clinic-card-title {
    font-weight: 700;
    font-size: 15px;
    color: #90a4ae;
}

.clinic-card p {
    color: #90a4ae;
    font-size: 14px;
}

.reviews-counter {
    color: #c7d0d4;
    font-size: 13px;
}

.reviews-counter span {
    color: #000;
}

.comment-avatar {
    height: 50px;
    width: 50px;
}

.comment-username {
    color: #546e7a;
    font-weight: 700;
    font-size: 15px;
}

.comment-rating {
    margin-left: 25px;
}

.review-description {
    margin-top: 20px;
}

.comment-input {
    background-color: #f5f5f5;
    padding: 20px;
    padding-right: 85px;
    height: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none !important;
    box-shadow: none !important;
    font-size: 13px;
    outline: none !important;
    color: #78909c;
}

.comment-group {
    width: 100%;
}

.comment-input:focus {
    border: 1px solid #ccc;
}

.sub-comment-username {
    color: #546e7a;
    font-weight: 700;
    font-size: 13px;
}

.sub-comment-description {
    color: #90a4ae;
    font-size: 14px;
}

.sub-hr {
    margin-top: 15px;
    border-color: #cfd8dc;
}

.comment-submit-btn {
    margin-left: -75px;
    height: 31px;
    border-radius: 2px;
    margin-top: 9px;
    color: #90a4ae;
    background: transparent;
    outline: none !important;
    border-color: #cfd8dc !important;
}

.comment-date {
    padding-right: 10px;
    color: #90a4ae;
}

.clinic-page-btn {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
}

.clinic-page-btn-green, .clinic-page-btn-green:hover, .clinic-page-btn-green:active, .clinic-page-btn-green:focus {
    background-color: #47cec2;
    border-radius: 2px;
    border: 1px solid transparent;
    width: 100%;
    color: #ffffff;
}

.clinic-left-row {
    margin-top: 20px;
}

.images-container img {
    width: 215px;
    height: 215px;
    margin-bottom: 20px;
}

.hot-deal-info h5 {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    max-width: 220px;
}

.hot-deal-info .rating-number {
    color: #90a4ae;
}

.hot-deal-info .rating-xs {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 1em !important;
}

.hot-deal-info .rating-container {
    text-align: left;
}

.hot-deals-text {
    clear: both;
    margin-top: 30px;
    font-size: 13px;
    color: #90a4ae;
}

.hot-price {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}

.old-price {
    color: #ffffff;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 5px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}

.clinic-card {
    margin-bottom: 20px;
}

.overlay-image {
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    -webkit-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
}

.carousel {
    margin-bottom: 0;
    margin-top: 30px;
    padding: 0 40px 30px 40px;
}

.overlay {
    position: relative;
    display: block;
}

.overlay .card-img-top {
    z-index: 2;
}

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

.price-info {
    position: absolute;
    top: -45px;
    left: 150px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    margin: 0px;
}

.filter-bar {
    max-width: 1200px;
    padding: 0 20px;
}

.sort-btn {
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    color: #bcc7cd;
    margin-right: 10px;
    margin-top: 15px;
}

.clinic-info-row .dropdown-menu {
    margin: 18px 0 0 !important;
}

.clinic-nav-drop {
    margin: 10px 0 0 45px !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.carousel-control {
    color: #cfd8dc;
    left: -12px;
    height: 40px;
    width: 40px;
    background: transparent;
    background-image: none !important;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
    font-size: 45px !important;
    text-shadow: none;
}

.carousel-indicators .active {
    background: #4db6ac;
}

.add-to-cart-btn {
    margin-top: 15px;
    width: 105px;
    height: 30px;
    font-size: 13px;
    color: #ffffff;
    background: #b0bec5;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 100px;
}

.clinic-name-th {
    width: 14%;
}

.product-table th {
    vertical-align: middle !important;
}

.product-table {
    cursor: pointer;
}

.product-table:hover {
    background-color: #fbfbfb;
}

.clinic-menu-btn {
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #90a4ae !important;
    color: #90a4ae;
    margin-bottom: 10px;
}

.clinic-menu-btn:hover, .clinic-menu-btn:active, .clinic-menu-btn:focus {
    background-color: #4db6ac !important;
    color: #ffffff !important;
    border: 1px solid #4db6ac !important;
}

.carousel-indicators li {
    border: 1px solid #e8e8e8;
}

.star-container .star svg {
    fill: #4db6ac !important;
}

.star-container .star i {
    color: #4db6ac !important;
    font-size: 19px !important;
}

@media (max-width: 325px) {
    .clinic-info-row .dropdown-menu {
        top: -10px;
        left: 8px;
        max-width: 95%;
    }

    .clinic-info-row .dropdown-menu:after {
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    .card {
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .carousel {
        padding: 0 10px 30px 10px;
    }

    .carousel-control {
        display: none;
    }
}

@media (min-width: 326px) and (max-width: 400px) {
    .clinic-info-row .dropdown-menu {
        top: -10px;
        left: 5%;
    }

    .hours {
        color: #565656;
    }

    .clinic-info-row span {
        color: #565656;
    }

    .card {
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .price-info {
        left: 98px;
    }
}

@media (min-height: 10px) and (max-width: 768px) {
    .clinic-name {
        display: block;
        margin-top: 15px;
        color: #212121 !important;
    }

    .clinic-info-row span {
        color: #212121;
    }

    .clinic-info-row a {
        float: left !important;
    }

    .btn-clinic-fav {
        margin-top: 10px;
        border-radius: 2px;
        border: 1px solid #90a4ae !important;
        color: #90a4ae;
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .herban-loader {
        width: 85%;
    }

    .empty-results {
        width: 85%;
    }
}