.create-cln-container {
    margin-bottom: 30px;
    margin-top: 70px;
}
.create-clinic-title h4 {
    color: #212121;
    margin-top: 45px;
    font-weight: 600;
}
.create-clinic-title hr {
    width: 50px;
    border-top: 2px solid #4db6ac;
    margin-top: 0;
    margin-bottom: 0;
}
.create-clinic-label {
    color: #90a4ae;
    font-size: 11px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0;
}
.choose-acc-btn {
    width: 100%;
    float: left;
    margin-right: 10px;
    color: #4db6ac;
    margin-top: 20px;
    margin-bottom: 0px;
}
.choose-acc-btn .panel-body {
    padding-top: 13px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}
.choose-acc-btn .radio {
    padding-left: 0px;
    margin: 0;
}
.choose-radio-label {
    width: 100%;
    margin: 0;
}
.choose-acc-btn input {
    float: right !important;
}
.choose-acc-btn input[type=radio   ]:not(old){
    width   : 0.1px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}
.choose-acc-btn input[type=radio   ]:not(old) + label{
    display: inline-block;
    margin-top: -17px;
    background: none;
    border: 1px solid #4db6ac;
    border-radius: 2px;
    float: right;
    width: 15px;
    height: 15px;
}
.choose-acc-btn input[type=radio]:not(old):checked + label{
    background: url('../assets/images/create-clinic-profile/create-acc-rb.png') no-repeat;
    background-position: center;
}
.create-clinic-input p {
    margin-top: 20px;
    color: #212121;
    font-weight: 600;
}
.create-clinic-input input {
    border-radius: 2px;
    border: 1px solid #b0bec5;
    height: 35px;
}
.create-clinic-input input::-webkit-input-placeholder {
    color: #b0bec5;
}
.create-clinic-input input:focus {
    border-color: #4db6ac;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.create-clinic-collapse .panel-heading {
    background-color: #ffffff;
}
.create-clinic-collapse {
    margin-top: 10px;
    margin-bottom: 0;
}
.create-clinic-collapse a {
    text-decoration: none;
}
.create-clinic-collapse h4 {
    color: #90a4ae;
    font-size: 13px;
}
.create-clinic-collapse .panel-heading {
    border-bottom: 1px solid #dddddd;
}
.panel-collapse-subitem {
    border-bottom: 1px solid #dddddd;
    color: #90a4ae;
    padding: 5px;
}
.collapse-subitems-body {
    padding-top: 0;
    padding-bottom: 0;
}
.choose-clinic-pic p {
    margin-top: 20px;
    color: #212121;
    font-weight: 600;
}
.choose-clinic-pic {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.choose-clinic-pic + label {
    font-size: 13px;
    font-weight: 500;
    color: #47cec2;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #47cec2;
    border-radius: 2px;
    padding: 10px;
    padding-right: 15px;
    display: inline-block;
}
.choose-clinic-pic:focus + label,
.choose-clinic-pic + label:hover {
    background-color: #47cec2;
    color: #ffffff;
}
.choose-clinic-pic + label:focus {
    outline: none;
}
.choose-clinic-pic + label {
    cursor: pointer;
}
.create-clinic-input i {
    float: right;
}
.choose-hint {
    margin-top: 5px !important;
    font-size: 11px;
    color: #b0bec5 !important;
}
.create-cl-submit-btn {
    margin-top: 40px;
    color: #ffffff;
    border-radius: 2px;
    background-color: #47cec2;
    font-size: 13px;
}
.create-cl-submit-btn:hover {
    color: #ffffff;
    background-color: #47cec2;
}
.create-cl-submit-btn:focus {
    color: #ffffff;
    outline: none;
}