body {
    background: #f5f5f5;
    height: 100%;
}
.image-div {
    display: none;
}
.hero-background {
    position: relative;
    margin-top: -20px;
    max-height: 380px;
}
.hero-background img {
    height: 380px;
}
.buttons-layer {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8%;
    padding-left: 3%;
    width: 100%;
}
.buttons-layer button {
    background: #37b1a8;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 9pt;
    height: 30px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #37b1a8;

}
.buttons-layer button:hover {
    color: #FFFFFF;
    background: #39bab1;
}
.buttons-layer button:focus {
    color: #FFFFFF;
}
.add-photo-btn {
    border-right: 1px solid #319f97;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    -webkit-border-bottom-right-radius: 0px!important;

}
.bookmark-btn {
    border-left: 1px solid #319f97;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    -webkit-border-top-left-radius: 0px!important;
    -webkit-border-bottom-left-radius: 0px!important;
}
.share-btn {
    border-radius: 0px !important;
}
.write-review-btn {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    border-radius: 0px !important;
    height: 50px !important;
    max-width: 200px;
}
.company-logo-img {
    position: absolute;
    top: 60%;
    left: 10%;

}
.company-logo-img img{
    background: #cccccc;
    width: 220px;
    height: 270px !important;
    border: 1px solid rgba(242, 242, 242, 0.83);
}
.clinic-menu {
    background: #FFFFFF;
    min-height: 110px;
    box-shadow: 0px 1px 1px #888888;
}
.clinic-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    color: #37b1a8;
    margin-top: 20px;
}
.rating-xs {
    font-size: 1em !important;
}
.clear-rating {
    display: none !important;
}
.rating-container .label {
    display: none;
}
.rating-container .star {
    color: #44dbcf;
    -webkit-text-stroke: 0px #ffffff;
    text-shadow: none;
}
.review-text {
    line-height: 17px;
    color: #555555;
    font-family: 'Montserrat';
    font-size: 9px;
}
.contact-text {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 9px;
    font-weight: 700;
}
.clinic-nav {
    margin-top: -30px;
}
.clinic-nav .nav-tabs {
    border-bottom: none;
}
.clinic-nav ul li a{
    border: none !important;
    color: #afafaf;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}
.clinic-nav .active a {
    color: #555555;
}
.clinic-nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    width: 0%;
    left: 0%;
    border: 3px solid rgba(55, 177, 168, 0);
}
.clinic-nav ul li a:hover:after {
    -webkit-transition:  all 0.8s ease;
    -moz-transition:  all 0.8s ease;
    -o-transition:  all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
    width: 50%;
    border: 3px solid #37b1a8;

}
.clinic-nav .active:after {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    width: 50%;
    left: 0%;
    border: 3px solid #37b1a8;
}

.content-tab {
    margin-top: 80px;
}
.btn-weed {
    border-radius: 0px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    background-color: #38b4ab;
}
.btn-weed:active {
    color: #FFFFFF;
}
.btn-weed:focus {
    color: #FFFFFF;
}
.btn-weed:hover {
    color: #FFFFFF;
    background-color: #39b8af;
}
.product-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    color: #44dbcf;
}
.product-desc {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    color: #555555;
}
.clinic-menu-table {
    margin-bottom: 60px;
}
.clinic-menu-table tr{
    background-color: #FFFFFF;
    border: 1px solid #e1e1e2;
}
.clinic-menu-table td{
    border: none;
    vertical-align: middle !important;
}
.product-content {
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #afafaf;
}
.table-weight {
    cursor: default;
    background-color: #d9d9d9;
    text-align: center;
    border-right: 1px solid #FFFFFF !important;
}
.table-spacing {
    height: 15px;
}
.table-weight:hover {
    background-color: #37b1a8;
}
.selected {
    background-color: #37b1a8;
}
.product-weight {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
}
.category-title {
    color: #888888;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
}
.category-number {
    color: #a9a9a9;
}
.category-row {
    margin-bottom: 5px;
}
.sort-by-reviews {
    background-color: #FFFFFF;
}
.review-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #555555;
    margin-top: 10px;
    margin-bottom: 0px;
}
.username-text {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 14px !important;
    font-weight: 700;
}
.date-text {
    font-family: 'Montserrat';
    font-size: 10px !important;
    font-weight: 700;
    color: #8b8b8b;
}
.review-description {
    font-family: 'Montserrat';
    font-size: 10px !important;
    color: #555555;
}
.about-us-announcement{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.about-us-announcement > p{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.about-us-content{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
}
.about-us-content > p{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
}
/*AKO BUDE PUKLO BRISI ODAVDE */
.carousel {
    margin-bottom: 0;
}
/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
/* Card background image */
.card-bg-image {
    padding: 0px;
    max-height: 150px;
    width: 100%;
    border: none;
}
.card-bg-image img{
    padding: 0;
    width: 100%;
}
.card-container {
    height: 435px;
    padding: 0;
    max-width: 300px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border: 1px solid #e1e1e1;
}
.small-img {
    max-width: 90px;
    height: 70px;
    margin-top: -50px;
    border: 1px solid #e1e1e1;
}
.card-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #38b4ab;
}
.rating-container {
    text-align: center;
}
.clear-rating {
    display: none !important;
}
.rating-container .label {
    display: none;
}
.rating-container .star {
    color: #44dbcf;
    -webkit-text-stroke: 0px #ffffff;
    text-shadow: none;
}
.reviews-text {
    padding-top: 5px;
    font-family: 'Montserrat';
    font-size: 11px;
    color: #a9a9a9;
}
.heading-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 11px;
    padding: 0px 5px;
    height: 35px;
    color: #a9a9a9;
}
.location-text {
    font-family: 'Open Sans';
    font-size: 11px;
    color: #a9a9a9;
}
.clock-map-text {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 11px;
    color: #a9a9a9;
}
.card-btn {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 11px;
    background-color: #38b4ab;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
}
.card-btn:focus {
    color: #FFFFFF;
}
.card-btn:hover {
    color: #FFFFFF;
    opacity: 0.8;
}
.carousel-nav {
    margin-bottom: 10px;
}
.nav-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: #898888;
}
.carousel-nav img {
    padding-bottom: 15px;
}
.carousel-indicators {
    left: 25%;
    top: 13px;
    width: 80px;

}
.carousel-indicators .active {
    background: #38b4ab;
}
.carusel-nav-btns {
    margin-left: 80px;
}
.page-btns {
    line-height: 43px;
    text-align: right;
    margin-top: 5px;
}
.page-btns a {
    color: #ffffff;
    background: #38b4ab;
}
.page-btns button, .page-btns button:hover, .page-btns button:active, .page-btns button:focus {
    color: #ffffff;
    background: #38b4ab;
}
.page-btns a:hover {
    color: #ffffff;
}
.page-btns a:active {
    color: #ffffff;
}
.page-btns a:focus {
    color: #ffffff;
}
.hot-deals-btns {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 10px;
    line-height: 40px;
}
.hot-deals-btns .heart{
    color: #c6211b;
}
.hot-deals-btns .cart {
    color: #047970;
    margin-left: 10px;
}
.hot-deals-container {
    max-width: 235px;
    height: 290px;
}
.rating-xs {
    font-size: 1em !important;
}
.hot-deals-card-footer {
    margin-top: 5px;
}
.hot-deals-row {
    max-width: 1050px;
}
del {
    color: #555555;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-right: 10px;
}
.current-price {
    color: #059388;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 300;
}
.spaced-columns [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.single-view-menu:hover {
    background-color: transparent !important;
}
.navbar-default {
    background-color: transparent;
     border-color: transparent;
}
.rating-container {
    float: left;
}
.navbar-collapse {
    background: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
}
.menu-item:focus {
    background-color: transparent !important;
}
.menu-item:active {
    background-color: transparent !important;
}
.menu-item:hover {
    background-color: transparent !important;
}
.menu-item:visited {
    background-color: transparent !important;
}
@media only screen and (min-width : 992px) {
    .clinic-nav {
        margin-top: -7px;
    }
    .navbar-collapse {
        background: transparent;
    }
}
@media (max-width: 980px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}
.clinic-menu .navbar-default {
    margin-bottom: 0px;
}
.col-xs-12 .menu-container {
    height: 120px;
}
.col-xs-5 .menu-item {
    font-size: 14px;
}