.footer-segment {
    overflow:hidden;
    margin-top: 70px;
    min-height: 310px;
    max-height: 400px;
    background: url(../assets/images/footer/footer-bg.png);
}

.footer-segment-title {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.footer-segment-subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-hand {
    margin-top: 25px;
}

.store-btn {
    min-width: 127px;
    min-height: 45px;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    color: #4db6ac;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.22);
}

.store-btn:hover {
    background-color: #212121;
    color: #ffffff;
}

.store-btn:focus {
    background-color: #212121;
    color: #ffffff;
}

.store-btn:active {
    background-color: #212121;
    color: #ffffff;
}

.footer-bottom {
    background-color: #212121;
}

.footer-bottom-row {
    margin-top: 55px;
    margin-bottom: 40px;
}

.footer-text {
    max-width: 430px;
    font-size: 14px;
    margin-top: 35px;
    color: #b0bec5;
}

.footer-social-networks {
    list-style: none;
}

.footer-social-networks li a {
    margin-top: 10px;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50% !important;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
}

.footer-social-networks li a:hover {
    background-color: #4db6ac;
    color: #ffffff;
}

.footer-copy-text {
    margin-top: 40px !important;
    font-size: 12px;
    margin-top: 35px;
    color: #b0bec5;
}

.footer-list {
    list-style: none;
    font-size: 13px;
    padding-left: 0px;

}

.footer-list li {
    line-height: 30px;
}

.footer-list li a {
    color: #b0bec5;
}

.footer-list h3 {
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;

}

/* Small Screen */
@media only screen and (max-width: 500px) {
    .footer-segment-title {
        margin-top: 40px;
    }

    .store-btn {
        width: 120px;
        margin-right: 0px;
    }
}

