/*.container{*/
	/*background-color: #f5f5f5;*/
/*}*/
h4 > span{
	color: #62c4bd;
} 
#branching{
	background-repeat:no-repeat; 
	background-position: center;
}

.listed-image{
	display: block;
  max-width: 50%;
  height: auto;
  padding-top: 10%;
}
@media screen and (min-width: 0px) {

    .first-two{
    	padding-top: 80% !important;
    	padding-right: 10% !important;
    }
    .third{
    	margin-left: 10px;
    	margin-top: -40px;
    }
    .forth{
    	padding-top: 85% !important;
    	margin-left: 10px;
    }
    .last{
    	padding-top: 70% !important;

    	margin-left: 35px;
    }
}
@media screen and (min-width: 576px) {
    .first-two{
    	padding-top: 70% !important;
    	padding-right: 10% !important;
    }
    .third{
    	margin-left: 8px;
    	margin-top: -40px;
    }
    .forth{
    	padding-top: 80% !important;
    	margin-left: 8px;
    }
    .last{
    	padding-top: 65% !important;

    	margin-left: 35px;
    }
}
@media screen and (min-width: 768px) {
    .first-two{
    	padding-top: 70% !important;
    	padding-right: 10% !important;
    }
    .third{
    	margin-left: 8px;
    	margin-top: -40px;
    }
    .forth{
    	padding-top: 80% !important;
    	margin-left: 8px;
    }
    .last{
    	padding-top: 65% !important;

    	margin-left: 35px;
    }
}
@media screen and (min-width: 992px) {
    .first-two{
    	padding-top: 55% !important;
    	padding-right: 10% !important;
    }
    .third{
    	margin-left: 8px;
    	margin-top: -55px;
    }
    .forth{
    	padding-top: 60% !important;
    	margin-left: 8px;
    }
    .last{
    	padding-top: 50% !important;
    	margin-left: 16px;
    }
}
@media screen and (min-width: 1200px) {
    .first-two{
    	padding-top: 50% !important;
    }
    .third{
    	padding-top: 55% !important;
    }
    .forth{
    	padding-top: 35% !important;
    }
    .last{
    	padding-top: 50% !important;
    }
}
.listed-image{
	display: block;
  max-width: 60%;
  height: auto;
  padding-top: 60%;
}
.laptop-header >b {
	font-weight: 700;
	font-family: Montserrat;
}
.laptop-header-blue >b {
	font-weight: 700;
	font-family: Montserrat;
	color: #9cd5d1;
}
.laptop-text{
	font-size: 12px;
	font-weight: 300;
	font-family: Montserrat;
}
.signUp{
	background-color: #37b1a8 !important;
	border-color: #37b1a8 !important;
}

