.navbar {
    border-radius: 0;
    padding: 10px 0;
    min-height: 75px;
}

button {
    transition: all 0.4s;
}

.main-logo {
    display: block;
    width: 178px;
    height: 35px;
    background: url('../assets/images/header/herbanapp-logo.png') no-repeat;
    -webkit-transition: background .4s linear;
    -moz-transition: background .4s linear;
    -o-transition: background .4s linear;
    transition: background .4s linear;
}

.navbar-herb.affix {
    background: -moz-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    background: -webkit-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    background: -ms-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.navbar-herb.affix .main-logo {
    background: url('../assets/images/header/herbanapp-logo-fixed.png') no-repeat;
    -webkit-transition: background .4s linear;
    -moz-transition: background .4s linear;
    -o-transition: background .4s linear;
    transition: background .4s linear;
}

.navbar-herb .navbar-brand,
.navbar-herb .navbar-brand:hover,
.navbar-herb .navbar-brand:focus {
    color: #FFF;
}

.navbar-herb .navbar-nav > li > a {
    color: #FFF;
    text-align: center;
}

.navbar-herb .navbar-nav > li > a:hover,
.navbar-herb .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-herb .navbar-nav > .active > a,
.navbar-herb .navbar-nav > .active > a:hover,
.navbar-herb .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #0FA6A1;
}

.navbar-herb .navbar-text {
    color: #FFF;
}

.navbar-herb .navbar-toggle:hover,
.navbar-herb .navbar-toggle:focus {
    background-color: #0FA6A1;
}

.navbar-herb .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-brand {
    padding: 0px;
}

.no-slides{
    background: -moz-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    background: -webkit-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    background: -ms-linear-gradient(173deg, rgb(77, 182, 172) 0%, rgb(74, 195, 183) 25%, rgb(71, 207, 194) 45%, rgb(74, 195, 183) 91%, rgb(77, 182, 172) 100%);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.navbar-centerr {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.business-logo-align {
    float: left;
    padding: 5px 25px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.nav-signin-btn {
    font-size: 15px;
    font-family: 'Open Sans';
    border: none;
    text-decoration: none !important;
    background-color: transparent;
    color: #ffffff;
    min-width: 77px;

    min-height: 40px;
    border-radius: 2px;
    border: 1px solid transparent;
    line-height: 25px;
}

.nav-signin-btn:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    border: 1px solid transparent;
}

.nav-signin-btn:active {
    text-decoration: underline;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid transparent;
}

.nav-signin-btn:focus {
    text-decoration: underline;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid transparent;
}

.nav-signup-btn {
    transition: all 0.4s;
    font-size: 15px;
    font-family: 'Open Sans';
    background-color: #ffffff;
    color: #55b3a9;
    max-width: 77px;
    min-height: 40px;
    border-radius: 2px !important;
    border: 1px solid transparent;
    line-height: 25px;
}

.nav-signup-btn:hover {
    background: #ffffff;
    box-shadow: 0px 0px 29px 0px rgba(255, 255, 255, 0.52);
    color: #55b3a9;
    border: none;
    border: 1px solid transparent;
}

.nav-signup-btn:active {
    background-color: #4db6ac;
    color: #ffffff;
    border: none;
    border: 1px solid transparent;
}

.nav-signup-btn:focus {
    background-color: #4db6ac;
    color: #ffffff;
    border: none;
    border: 1px solid transparent;
}

/**
    Menu Items
 */
.navbar-centerr li a {
    font-size: 15px;
}

.busi-btn.active {
    font-weight: 700;
}

.busi-btn.active:after {
    content: "";
    position: absolute;
    left: 36%;
    bottom: 0;
    height: 1px;
    width: 21px;
    border-bottom: 2px solid #fff;
}

.busi-btn:hover:after {
    content: "";
    position: absolute;
    left: 36%;
    bottom: 0;
    height: 1px;
    width: 21px;
    border-bottom: 2px solid #fff;
}

.bars:hover:after {
    content: "";
    position: absolute;
    left: 36%;
    bottom: 0;
    height: 1px;
    width: 21px;
    border-bottom: none;
}

.sign-group {
    margin-top: 5px;
}

/**
    Header background
 */
.header-bg {
    height: 380px;
    background-image: url("../assets/images/header/background.png");
}

.header-bg h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 160px;
}

#smoke-effect-canvas {
    background: url("../assets/images/header/background.png");
}

.create-acc-btn {
    background: #ffffff;
    margin-top: 66px;
    min-width: 205px;
    height: 60px;
    border-radius: 2px;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 15px;
    line-height: 50px;
}

.create-acc-btn:hover {
    background: #ffffff;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.6);
}

.dot {
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(/assets/images/header/weed.svg);
    background-size: 100% 100%;
}

.fog-container {
    position: relative;
}

.fog-container canvas {
    display: block;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#brush {
    opacity: 0;
}
.input-group-btn button {
    transition: all 0.4s;
}
.input-group-btn button:hover {
    background: #ffffff;
    box-shadow: 0px 0px 29px 0px rgba(255, 255, 255, 0.52);
    color: #4db6ac;
    border: 1px solid transparent;
}

/**
    Media query
 */

/* Small Screen */
@media only screen and (max-width: 500px) {
    .header-bg h1 {
        font-size: 30px;
    }

    .create-acc-btn {
        margin-top: 45px;
    }
}

/* Medium Screen */
@media only screen and (min-width: 501px) and ( max-width: 768px) {
    .header-bg h1 {
        font-size: 40px;
    }

    .create-acc-btn {
        margin-top: 88px;
    }
}

/* Rest Screen */
@media only screen and (min-width: 410px) and ( max-width: 480px) {
    .header-bg h1 {
        font-size: 40px;
    }

    .create-acc-btn {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 410px) and ( max-width: 736px) {
    .header-bg h1 {
        margin-top: 85px;
    }
}

/* Animations */

#header-title {
    opacity: 0;
}

.nav-user-image {
    width: 35px;
    height: 35px;
}

.nav-username {
    font-size: 15px;
    color: #ffffff;
    line-height: 35px;
}

.has-herb-header {
    margin-top: 100px;
    margin-bottom: 30px;
}

.profile-image {
    width: 30px;
    height: 30px;
}

.dropdown-user-profile {
    padding: 12px;
    cursor: pointer;
}

.open .dropdown-user-profile {
    background-color: transparent !important;
}

.sign-in-up {
    margin-right: 20px;
}

.home-profile-dropdown-menu {
    margin-top: 0px;
    border-radius: 4px !important;
}

.home-profile-dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 22px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.home-profile-dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 23px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.home-profile-dropdown-menu a {
    font-size: 12px;
    color: #546e7a !important;
}

.home-profile-dropdown-menu a:hover {
    color: #ffffff !important;
    background-color: #4db6ac !important;
}

.user-drop-title {
    font-size: 10px;
    font-weight: 700;
    color: #90a4ae;
}

.cart-header {
    font-size: 17px;
}

.cart-header .badge {
    position: absolute;
    background: #ffffff;
    color: #4db6ac;
    margin-top: -8px;
}

@media (max-width: 995px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (min-width: 900px)
{
    .navbar-centerr {
        margin-left: 28%;
    }
}