/**
    Row Equal height
 */

a {
    transition: all 0.4s;
    border-radius: 2px !important;
}

button {
    border-radius: 2px !important;
}

.subcribe-mail-group .form-control {
    box-shadow: none;
    border: 1px solid transparent;
}

.subcribe-mail-group .form-control {
    border: 1px solid transparent;
    border-color: transparent !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.title-get-listed {
    font-weight: 300;
    font-size: 32px;
    color: #212121;
    margin-top: 65px;
}

.title-get-listed span {
    color: #28999a;
}

.icons-row {
    margin-top: 30px;
    max-width: 740px;
}

.icons-row img {
    border: 1px solid transparent;
    padding: 10px;
}

.icons-row ul li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.icons-row ul li a:hover > a img {
    border: 1px solid #4db6ac !important;
    border-radius: 50%;
}

.icons-row ul li.active > a img {
    border: 1px solid #4db6ac !important;
    border-radius: 50%;
}

.icons-row ul li.active a {
    opacity: 1;
    color: #5ebbb2 !important;
}

.icons-row ul li a {
    opacity: 0.4;
    background: transparent !important;
    border: none !important;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.52);
}

.icons-row ul li a p {
    margin-top: 10px;
}

.icons-row ul li a:hover {
    opacity: 1;
    color: #5ebbb2;
}

.icons-row .nav-tabs {
    border: none;
    width: 100%;
}

.register-content {
    margin-top: 60px;
}

.content-title {
    font-weight: 300;
    font-size: 32px;
}

.register-description {
    font-size: 19px;
    font-weight: 300;
}

.content-sub-description {
    padding-top: 28px;
    font-size: 15px;
    font-weight: 300;
}

.home-signup-btn {
    background-color: #4db6ac;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 45px;
    line-height: 35px;
}

.home-signup-btn:hover {
    background-color: #4db6ac;
    color: #ffffff;
    opacity: 0.8;
}

.segment-two {
    margin-top: 70px;
    min-height: 310px;
    background: url('../assets/images/home/segment-two-bg.png');
}

.segment-two-title {
    color: #ffffff;
    font-weight: 300;
    font-size: 32px;
    margin-top: 50px;
}

.home-icons-container {
    margin-top: 55px;
    max-width: 655px;
}

.home-icons-container h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
}

.home-icons-container h4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
}

.home-icons-container img {
    max-width: 80px;
}

.segment-three {
    /*margin-top: 65px;*/
}

.nearby-title {
    color: #212121;
    font-weight: 400;
    font-size: 18px;

}

.nearby-title:after {
    content: "";
    position: absolute;
    left: 14px;
    bottom: 0;
    height: 3px;
    width: 35px;
    border-bottom: 2px solid #4db6ac;
}

.sort-btn {
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    color: #bcc7cd;
    margin-right: 10px;
    margin-top: 15px;
}

.sort-btn:hover {
    border: 1px solid transparent !important;
    background-color: #4db6ac !important;
    color: #ffffff !important;
}

.sort-btn:hover .sort-btn .caret {
    color: #ffffff;
}

.dropdown {
    display: inline;
}

.dropdown-menu {
    margin: 18px 0 0 !important;
}

.carousel {
    margin-bottom: 0;
    margin-top: 30px;
    padding: 0 40px 30px 40px;
}

/* The controlsy */
.carousel-control {
    color: #cfd8dc;
    left: -12px;
    height: 40px;
    width: 40px;
    background: transparent;
    background-image: none !important;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
    font-size: 45px !important;
    text-shadow: none;
}

.carousel-control:hover {
    color: #cfd8dc;
}

.carousel-control:active {
    color: #cfd8dc;
}

.carousel-control:focus {
    color: #cfd8dc;
}

.carousel-control.right {
    right: -12px;
}

/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}

/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}

.carousel-indicators .active {
    background: #4db6ac;
}

/* Cards */
.card {
    max-width: 280px;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
    border: 1px #e7e7e7;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    display: block;
    min-width: 280px;
    height: 100px;
}

.card-title {
    font-size: 13px;
    line-height: 20px;
    color: #212121;
}

.card-title i {
    color: #90a4ae;
}

.card-info {
    margin-top: 30px;
}

.card-text {
    clear: both;
    margin-top: 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -50px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    margin: 0;
    background-color: #cccccc;
    border-radius: 5px;
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.22);
}

.profile-info {
    position: absolute;
    top: -65px;
    left: 92px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 200px;
    margin: 0;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.clinic-name {
    width: 80%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
    -ms-transform: matrix(0.99999793176138, 0, 0, 1, 0, 0);
}

.filter-bar {
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 50px;
}

.segment-subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.subcribe-mail-group {
    margin-top: 50px;
    max-width: 360px;
}

.subcribe-mail-group button {
    color: #4db6ac;
    margin-left: 10px !important;
    min-width: 85px;
    min-height: 50px;
    border-radius: 2px !important;
}

.subcribe-mail-group input {
    min-height: 50px;
    max-width: 265px;
    border-radius: 2px !important;
    color: #4db6ac;
}

.old-price {
    color: #ffffff;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 5px;
}

.hot-price {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
}

.price-info {
    position: absolute;
    top: -45px;
    left: 160px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    margin: 0px;
}

.hot-deal-info h5 {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    max-width: 220px;
}

.hot-deal-info .rating-number {
    color: #90a4ae;
}

.hot-deal-info .rating-container {
    text-align: left;
}

.hot-deals-text {
    clear: both;
    margin-top: 30px;
    font-size: 13px;
    color: #90a4ae;
}

.overlay {
    position: relative;
    display: block;
}

.overlay .card-img-top {
    z-index: 2;
}

.overlay-image {
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    -webkit-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -98px 99px -55px rgba(0, 0, 0, 0.75);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #4db6ac !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4db6ac !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4db6ac !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4db6ac !important;
}

.add-to-cart-btn {
    margin-top: 15px;
    width: 105px;
    height: 30px;
    font-size: 13px;
    color: #ffffff;
    background: #b0bec5;
}

.add-to-cart-btn:hover {
    color: #ffffff;
    background: #b0bec5;
    opacity: 0.7;
}

.add-to-cart-btn:focus {
    color: #ffffff;
    background: #b0bec5;
    opacity: 0.7;
}

.add-to-cart-btn:active {
    color: #ffffff;
    background: #b0bec5;
    opacity: 0.7;
}

/* Sponsor logo */
.sponsor-logo {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.sponsor-logo:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.sponsor-break {
    width: 93%;
    margin-top: 10px;
}

.sponsors-container {
    margin-top: 20px;
}

/* Small Screen */
@media only screen and (max-width: 330px) {
    .subcribe-mail-group form input {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .subcribe-mail-group {
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

/* Small Screen */
@media only screen and (max-width: 335px) {
    .price-info {
        left: 130px;
    }

    #nav-tabs-seg li {
        width: 49%;
    }
}

@media only screen and (min-width: 335px) and (max-width: 500px) {
    .subcribe-mail-group form input {
        width: 220px !important;
        margin-bottom: 0px !important;
    }

    .subcribe-mail-group {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .price-info {
        left: 170px;
    }

    #nav-tabs-seg li {
        width: 49%;
    }
}

/* Big screen */
@media only screen and (min-width: 1200px) {
    .subcribe-mail-group form input {
        width: 264px !important;
        margin-bottom: 0px !important;
    }

}

.home-profile-dropdown-menu {
    margin-top: 0px !important;
}

.star-container .star svg {
    fill: #fad534 !important;
}
