body {
    background: url('../assets/images/signup/signup-bg.png');
}
a, button {
    transition: all .4s;
}

.sign-panel {
    padding-top: 30px;
    padding-bottom: 35px;
    border-radius: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 30px;
    max-width: 700px;
    background-color: #ffffff;
}

.sign-form {
    margin-top: 45px;
    max-width: 430px;
}

.sign-form input {
    color: rgb(144, 164, 174);
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #b0bec5;
    height: 55px;
}

.sign-form input:read-only {
    background: #ffffff !important;
    cursor: default;
}

.sign-form select {
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #b0bec5;
    height: 55px;
}

.btn-sign {
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #4db6ac;
    margin-top: 10px;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

.btn-sign:hover {
    background-color: #4db6ac;
    color: #ffffff;
    opacity: 0.8;
}

.remember-me {
    font-size: 14px;
}

svg {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 3px;
    border-radius: 2px;
    border: 1px solid transparent;
}

label {
    font-weight: 400;
    color: #90a4ae;
    display: inline-block;
    padding-left: 20px;
    position: relative;
    cursor: pointer;

}

input[type="checkbox"] {
    opacity: 0;
    width: 0px;
    height: 0px;
}

label {
    transition: color .1s linear;
}

label svg {
    background-color: #4db6ac;

    transition: border-color .1s linear;
}

label svg path {
    transition: stroke-dashoffset .3s linear;
}

input[type="checkbox"]:checked ~ label svg path {

    stroke-dashoffset: 0;
}

input[type="checkbox"]:checked ~ label svg {
    border-color: #4db6ac;
}

input[type="checkbox"]:checked ~ label {
    color: #4db6ac;
}

.txt-forgot-password {
    text-decoration: none !important;
    color: #90a4ae;
    font-size: 12px;
}

.txt-forgot-password:hover {
    opacity: 0.8;
    color: #90a4ae;
}

.txt-forgot-password:focus {
    opacity: 0.8;
    color: #90a4ae;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #90a4ae;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #90a4ae;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #90a4ae;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #90a4ae;
}

.jumbotron h4 {
    font-size: 14px;
    margin-top: 45px;
    color: #90a4ae;
}

.sign-social-networks {
    list-style: none;
}

.sign-social-networks li a {
    margin-top: 10px;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    padding: 5px 9px;
    border: 1px solid #93a6b0;
    color: #93a6b0;
}

.sign-social-networks li a:hover {
    border: 1px solid #4db6ac;
    background-color: #4db6ac;
    color: #ffffff;
}

/* Media query */

@media only screen and (max-width: 767px) {
    .sign-form select {
        margin-bottom: 15px;
    }
}
