body {
    background: url(/assets/images/not-found/background.png) center;
    width: 100%;
    height: 100%;
}

img {
    margin-top: 5%;
}

h1 {
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
}

h2 {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
}

p {
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
}

.back-btn {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
}

.back-btn:hover {
    border: 1px solid #fff;
    background: #ffffff;
    color: #54b4b2;
}

.back-btn:focus {
    border: 1px solid #fff;
    background: #ffffff;
    color: #54b4b2;
}

.back-btn:active {
    border: 1px solid #fff;
    background: #ffffff;
    color: #54b4b2;
}

.dot{
    width:35px;
    height:35px;
    position:absolute;
    z-index: -1;
    background: url(/assets/images/header/weed.svg);
    background-size: 100% 100%;
}
