.page-title {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 30px;
}

.page-title:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 35px;
    height: 1px;
    width: 35px;
    border-bottom: 2px solid #4db6ac;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}

.cart-user-avatar {
    width: 50px;
    border: 1px solid #cfd8dc;
    height: 50px;
    margin-top: 2px;
}

.cart-card-header {
    background: #fafafa;
    border-radius: 2px;
    padding: 5px;
}

.cart-clinic-name {
    font-weight: 700;
    font-size: 15px;
    color: #546e7a;
}

.cart-clinic-contact {
    font-size: 12px;
    color: #b0bec5;
}

.cart-clinic-contact span {
    margin-right: 10px;
}

.cart-remove-all-btn, .cart-remove-all-btn:hover, .cart-remove-all-btn:active, .cart-remove-all-btn:focus {
    margin-top: 10px;
    color: #90a4ae;
    font-size: 13px;
    background: transparent;
    border: 1px solid #cfd8dc;
}

.cart-product-name {
    color: #546e7a;
    font-size: 13px;
    font-weight: 600;
}

.cart-product-cat {
    color: #90a4ae;
    font-size: 12px;
}

.cart-table thead tr {
    color: #90a4ae;
    font-size: 10px;
}

.cart-table th {
    vertical-align: middle !important;
}

.cart-table-number {
    color: #b0bec5;
    font-size: 12px;
}

.quantity-input {
    width: 140px;
}

.quantity-input input {
    text-align: center;
    height: 31px;
    width: 70px;
}

.quantity-left-minus, .quantity-left-minus:hover, .quantity-left-minus:active, .quantity-left-minus:focus {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #99abb4 !important;
    border: 1px solid #cccccc !important;
    font-size: 12px;
    outline: none;
    background: #ffffff;
}

.quantity-right-plus, .quantity-right-plus:hover, .quantity-right-plus:active, .quantity-right-plus:focus {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #99abb4 !important;
    border: 1px solid #cccccc !important;
    font-size: 12px;
    outline: none;
    background: #ffffff;
}

.circle {
    background: #4db6ac;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    height: 30px;
    font-weight: bold;
    width: 30px;
    display: table;
}

.circle p {
    vertical-align: middle;
    display: table-cell;
}

.price-span {
    color: #212121;
}

.price-th {
    color: #b0bec5;
}

.delete-th a {
    color: #b0bec5;
    text-decoration: none;
}

.cart-table>thead>tr>th {
    border-bottom: 1px solid #cfd8dc;
}

.cart-table tbody tr {
    border-bottom: 1px solid #cfd8dc;
}

.cart-product-avatar {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.cart-table-row {
    margin-top: 15px;
}

.purchase-btn, .purchase-btn:active, .purchase-btn:hover, .purchase-btn:focus {
    background: #4db6ac;
    border: 1px solid #4db6ac;
    color: #ffffff;
}
.price-total {
    line-height: 35px;
}