body {
    background: url('../assets/images/signup/signup-bg.png');
}

.sign-panel {
    padding-top: 30px;
    padding-bottom: 35px;
    border-radius: 2px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 30px;
    max-width: 700px;
    background-color: #ffffff;
}
.sign-form {
    margin-top: 45px;
    max-width: 430px;
}

.sign-form input {
    color:  rgb(144, 164, 174);
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #b0bec5;
    height: 55px;
}

.sign-form input:read-only {
    background: #ffffff !important;
    cursor: default;
}

.sign-form select {
    -webkit-appearance: none;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #b0bec5;
    height: 55px;
}

.btn-sign {
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #4db6ac;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

.btn-sign:hover {
    background-color: #4db6ac;
    color: #ffffff;
    opacity: 0.8;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #90a4ae;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #90a4ae;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #90a4ae;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #90a4ae;
}


/* Media query */

@media only screen and (max-width: 767px) {
    .sign-form select {
        margin-bottom: 15px;
    }
}
