.cover-area {
    height: 230px;
    background-image: url('../assets/images/clinic/cover-image.png');
}


.user-profile-avatar {
    max-width: 75px;
    max-height: 75px;
}

.user-profile-header {
    margin-top: 135px;
}

.user-profile-name {
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
}

.user-profile-location {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}

.user-profile-tabs {
    margin-top: 10px;
}

.user-profile-tabs li.active a {
    background: #4db6ac !important;
    border: 1px solid #4db6ac !important;
    color: #ffffff !important;
}

.user-profile-tabs li a:hover {
    background: #4db6ac !important;
    border: 1px solid #4db6ac !important;
    color: #ffffff !important;
}

.user-profile-tabs li a {
    outline: 0 !important;
    font-size: 14px;
    margin-right: 10px;
    background: transparent;
    border: 1px solid #b0bec5 !important;
    border-radius: 2px;
    color: #b0bec5;
}

.nav-tabs {
    border-bottom: none !important;
}

.upgrade-btn {
    color: #ffffff !important;
    background-color: #90a4ae !important;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}

.user-profile-card-title {
    font-weight: 700;
    font-size: 15px;
    color: #90a4ae;
}
.clinic-card p {
    color: #90a4ae;
    font-size: 14px;
}

.user-profile-card p {
    color: #90a4ae;
    font-size: 14px;
}

.user-profile-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.user-profile-tab-title {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    margin-bottom: 30px;
}

.user-profile-tab-title:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 35px;
    height: 1px;
    width: 35px;
    border-bottom: 2px solid #4db6ac;
}

.user-profile-collapse .panel-heading {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

.user-profile-collapse h4 {
    color: #90a4ae;
    font-size: 13px;
}

.user-profile-collapse a {
    text-decoration: none;
}

.user-profile-collapse h6 {
    font-weight: 700;
    font-size: 13px;
    color: #90a4ae;
}

.user-profile-collapse p {
    font-size: 13px;
    color: #90a4ae;
}

.user-comment-avatar {
    width: 50px;
    height: 50px;
}

.friend-name {
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}

.friend-date {
    font-size: 13px;
    color: #90a4ae;
}

.btn-toggle-friend {
    margin-top: 16px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #cccccc;
    font-size: 13px;
    color: #b0bec5;
}

.btn-toggle-friend:hover, .btn-toggle-friend:active, .btn-toggle-friend:focus {
    background-color: #47cec2;
    border: 1px solid #47cec2;
    font-size: 13px;
    color: #ffffff;
    outline: none !important;
}

.friend-search .input-group-addon, .friend-search input {
    border-radius: 2px;
    color: #b0bec5;
    border: 1px solid #b0bec5;
}

.friend-search input {
    border-left: none;
    box-shadow: none !important;
    margin-left: -3px;
    outline: none;
}

.friend-search input:focus {
    outline: none;
    border-color: #b0bec5;
}

.friend-search .input-group-addon {
    background-color: transparent;
    border-right: none;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: -0.07px 0.998px 6px 0px rgba(0, 0, 0, 0.1);
}

.clinic-card {
    margin-bottom: 20px;
}


.clinic-card-title {
    font-weight: 700;
    font-size: 15px;
    color: #90a4ae;
}


.clinic-card p {
    color: #90a4ae;
    font-size: 14px;
}

.reviews-counter {
    color: #c7d0d4;
    font-size: 13px;
}

.reviews-counter span {
    color: #000;
}

.comment-avatar {
    height: 50px;
    width: 50px;
}

.comment-username {
    color: #546e7a;
    font-weight: 700;
    font-size: 15px;
}

.comment-rating {
    margin-left: 0px;
}

.review-description {
    margin-top: 20px;
}

.comment-input {
    background-color: #f5f5f5;
    padding: 20px;
    font-size: 13px;
    outline: none !important;
    color: #78909c;
}

.comment-input:focus {
    border: 1px solid #ccc;
}

.comment-submit-btn {
    height: 42px;
}

.comment-date {
    padding-right: 10px;
    color: #90a4ae;
}

.rating-xs i {
    color: #4db6ac !important;
}

.cover-area {
    margin-top: 50px;
}


.user-menu-btn {
    min-width: 85px;
    border-radius: 2px;
    border: 1px solid #90a4ae !important;
    color: #90a4ae;
    margin-right: 10px;
    margin-top: 15px;
}

.user-nav-drop>.active>a {
    background-color: #4db6ac !important;
}

.user-menu-btn:hover, .user-menu-btn:active, .user-menu-btn:focus {
    border: 1px solid transparent;
    background-color: #4db6ac !important;
    color: #ffffff !important;
}

/* Small Screen */
@media only screen and (max-width: 335px) {
    .user-profile-collapse {
        margin-top: 20px;
    }

    .user-menu-btn {
        margin-right: auto !important;
    }

    .user-profile-header {
        margin-top: 75px;
    }
}


@media only screen and (min-width: 335px) and (max-width: 500px) {
    .user-profile-collapse {
        margin-top: 20px;
    }
    .user-profile-header {
        margin-top: 75px;
    }
}

/* Big screen */
@media only screen and (min-width: 1200px) {

}