$font-path: "../assets/fonts";

@import "ionic.globals";

$customBlue:  #4db6ac;
$pagesBackground: #f0f0f0;
$customTitle: #212121;
$customDesc: #546e7a;
$loginBackground: #4db6ac;
$segmentButtonDisabledBackground: #ebebeb;
$segmentButtonDisabledColor: #c5c5c5;
$searchbar-md-input-placeholder-color: #ffffff;
$searchbar-md-input-search-icon-color: #ffffff;
$removeButton: #d4d4d4;
$labelColor: #bdbdbd;
$newsTitle: #212121;
$newsDesc: #90a4ae;

$colors: (
  primary:    #4db6ac,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  loginbutton: #449e96,
  clinicContent: #9e9e9e,
  postCommentButton: #78909c
);

$grid-breakpoints: (
  xxs: 320px,
  xs: 360px,
  s: 412px,
  sm: 414px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
