page-faq {
    .faqText {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .faqText h2 {
        font-size: 16px;
        font-weight: 500!important;
        color: #555555!important;
    }
    .faqText p {
      margin-top: 10px;
      color: #9e9e9e;
    }
}
