<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>shoppingCart</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="shoppingCart-page" no-padding>
    <ion-list class="cart-list" no-padding no-lines>
        <ion-item text-wrap>
            <ion-thumbnail item-left>
                <img src="assets/images/placeholder.png">
            </ion-thumbnail>
            <ion-row class="cart-item-header" no-padding>
                <ion-col left no-padding col-8 center text-left>
                    <p>Blue Dreams</p>
                </ion-col>
            </ion-row>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ion-row class="cart-item-button" no-padding>
                <ion-col class="cart-item-distance" col-xxs-6 col-md-8 center>
                    <button ion-button outline>Reserve</button>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
