page-shopping-cart {
    .shoppingCart-page {
        background-color: $pagesBackground;
    }
    .cart-list {
      margin-top: 10px;
    }
    .cart-list ion-list-header {
      color: $customTitle;
      font-weight: 700;
      text-transform: none;
      margin-bottom: 10px;
    }
    .cart-list ion-item ion-thumbnail img {
      width: 100px;
      height: 100px;
    }
    .cart-list p {
      color: #9e9e9e;
      font-size: 13px;
      font-weight: 300;
    }
    .cart-item-header p {
      color: #555555;
      font-weight: 600;
      font-size: 15px;
    }
    .cart-item-button {
      margin-top: 5px;
    }
    .cart-item-button button {
      width: 100%;
      height: 30px;
      font-size: 11px;
      margin: 0;
    }
    .cart-item-button ion-icon {
      line-height: 1;
    }
    .cart-list .review-button {
      padding-left: 0px !important;
    }
    .cart-list .consult-button {
      padding-left: 0px !important;
    }
    .cart-list .cart-item-distance {
      font-size: 14px;
      color: $customTitle;
    }
    .cart-list .pintext {
      font-weight: 300!important;
    }
    .cart-list .cart-item-distance ion-icon {
      line-height: 1;
    }
    .cart-list .icon-position {
      float: left;
      margin-right: 5px;
    }
    .cart-list .icon-text {
      font-weight: 400!important;
    }
    .cart-list .review {
      color: #9e9e9e!important;
    }

    /* Galaxy S5 */
    @media only screen and (max-width: 360px) {
      // Clinics List
      .cart-list .reviews-number p {
        font-size: 10px;
      }
      .cart-list .cart-item-button {
        margin-top: 3px;
      }
      .cart-list .cart-item-button button {
        height: 30px;
        font-size: 11px;
      }
      .cart-list .cart-item-distance {
        font-size: 11px!important;
      }
    }
    /* iPhone 5 */
    @media only screen and (max-width: 320px) {
      // Clinics List
      .cart-list .reviews-number p {
        font-size: 8px;
      }
      .cart-list .cart-item-button {
        margin-top: 3px;
      }
      .cart-list .cart-item-button button {
        height: 30px;
        font-size: 9px;
      }
      .cart-list .cart-item-distance {
        font-size: 7px;
      }
      .cart-list .icon-text {
        font-size: 11px!important;
      }
    }
    /* Nexus 6P */
    @media only screen and (min-width: 412px) {
      // Clinics List
      .cart-list .reviews-number p {
        font-size: 10px;
      }
      .cart-list .cart-item-button {
        margin-top: 3px;
      }
      .cart-list .cart-item-button button {
        height: 30px;
        font-size: 12px;
      }
      .cart-list .cart-item-distance {
        font-size: 10px;
      }
    }
}
