page-my-account {
  .profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .user-username {
    margin-top: 7px !important;
    margin-bottom: 25px !important;
    color: #9e9e9e !important;
  }
  .friends-label custom-icon {
    color: $customBlue;
    font-size: 1.3rem !important;
  }
  .friends-label span {
    color: $labelColor;
    font-weight: 700;
  }
  .friends-label ion-label{
    margin: 0px !important;
  }
  .friends-value {
    margin-top: 5px;
    color: #757575;
  }
  .left-col {
    padding-left: 20px !important;
  }
  .right-col {
    padding-right: 25px !important;
  }
  .info-list {
    margin-top: 30px !important;
  }
  .first-child {
    margin-top: 15px !important;
  }
  .field-label {
    color: $labelColor !important;
    font-weight: 700 !important;
    margin: 0px !important;
  }
  .field-value ion-label {
    color: #757575 !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    margin: 0px !important;
  }
  .field-value ion-input {
    color: #757575 !important;
    font-weight: 700 !important;
    font-size: 17px !important;
  }
  .field-value ion-input input {
    margin: 0px !important;
  }
  .field-value ion-datetime {
    color: #757575 !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    padding: 0px !important;
  }
  .field-value ion-select {
    color: #757575 !important;
    font-weight: 700 !important;
    font-size: 17px !important;
  }
  .field-value {
    height: 50px;
  }
  .change-password {
    margin-top: 25px;
    padding-left: 5px!important;
  }
  .item-name {
    color: #9e9e9e!important;
    font-size: 16px!important;
    font-weight: 500!important;
  }
  .arrow {
    font-size: 20px;
  }
  .uploadphotoicon {
    color: #ffffff;
    margin-top: 32px;
  }
  .uploadphototext {
    margin: 0px;
    font-size: 12px;
    color: #ffffff;
  }
  .contactinput {
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 0px!important;
  }
  .contactinput:focus {
    border: 0px;
  }
}
