<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>My Account</ion-title>
        <ion-buttons right>
            <button *ngIf="!isEditable" (click)="edit()" ion-button>
                Edit
            </button>
            <button *ngIf="isEditable" (click)="save()" ion-button>
                Save
            </button>
            <button *ngIf="isEditable" (click)="cancel()" ion-button>
                Cancel
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines class="form-list">
        <ion-row *ngIf="userAvatar">
            <ion-col col-xxs-12 class="profile-picture" text-center>
                <div [ngSwitch]="isEditable">
                    <div class="profile-picture" *ngSwitchCase="false" [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div class="profile-picture" *ngSwitchCase="true" (click)="uploadImage()" [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                        <custom-icon class="uploadphotoicon" set="mi" name="photocamera"></custom-icon>
                        <p class="uploadphototext">Change image</p>
                    </div>
                </div>
            </ion-col>
            <ion-col class="user-username" col-xxs-12 text-center no-padding *ngIf="username">
                @{{username}}
            </ion-col>
        </ion-row>
        <ion-row no-padding>
            <ion-col col-xxs-1 col-md-3 no-padding>
            </ion-col>
            <ion-col col-xxs-10 col-md-6 no-padding>
                <ion-row no-padding>
                    <ion-col *ngIf="friendCount != undefined" col-xxs-4 no-padding>
                        <ion-row no-padding>
                            <ion-col class="friends-label" no-padding text-left>
                                <ion-label><custom-icon set="mi" name="profile"></custom-icon><span> Friends</span></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col no-padding text-left class="friends-value left-col">
                                {{friendCount}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col *ngIf="friendCount != undefined" col-xxs-4 no-padding>
                        <ion-row no-padding>
                            <ion-col class="friends-label" no-padding text-center>
                                <ion-label><custom-icon set="mi" name="purchases"></custom-icon><span> Purchases</span></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col no-padding text-center class="friends-value">
                                0
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col *ngIf="clinicsCount != undefined" col-xxs-4 no-padding>
                        <ion-row no-padding>
                            <ion-col class="friends-label" no-padding text-right>
                                <ion-label><custom-icon set="mi" name="followed"></custom-icon><span> Favorites</span></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col no-padding text-right class="friends-value right-col">
                                {{clinicsCount}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-xxs-1 col-md-3 no-padding>
            </ion-col>
        </ion-row>
        <div [ngSwitch]="isEditable">
            <div *ngSwitchCase="false">
                <ion-row *ngIf="name" class="info-list">
                    <ion-col>
                        <ion-label class="field-label">Name</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="name">
                    <ion-col class="field-value">
                        <ion-label>{{name}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="lastname" class="first-child">
                    <ion-col>
                        <ion-label class="field-label">Lastname</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="lastname">
                    <ion-col class="field-value">
                        <ion-label>{{lastname}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="email" class="first-child">
                    <ion-col>
                        <ion-label class="field-label">Email</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="email">
                    <ion-col class="field-value">
                        <ion-label>{{email}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="birthday" class="edit-fields first-child">
                    <ion-col>
                        <ion-label class="field-label">Date of Birth</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="birthday">
                    <ion-col class="field-value">
                        <ion-label>{{birthday}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="phone != undefined" class="first-child">
                    <ion-col>
                        <ion-label class="field-label">Phone</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="phone != undefined">
                    <ion-col class="field-value">
                        <ion-label>{{phone}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="state" class="first-child">
                    <ion-col>
                        <ion-label class="field-label">State</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="state">
                    <ion-col class="field-value">
                        <ion-label>{{state}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="city" class="first-child">
                    <ion-col>
                        <ion-label class="field-label">City</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="city">
                    <ion-col class="field-value">
                        <ion-label>{{city}}</ion-label>
                    </ion-col>
                </ion-row>
            </div>

            <div *ngSwitchCase="true">
                <ion-row class="info-list">
                    <ion-col>
                        <ion-label class="field-label">Name</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <ion-item class="contactinput">
                                <ion-input type="text" [(ngModel)]="name" clearInput></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row class="first-child">
                    <ion-col>
                        <ion-label class="field-label">Lastname</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <ion-item class="contactinput">
                                <ion-input type="text" [(ngModel)]="lastname" clearInput></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row class="edit-fields first-child">
                    <ion-col>
                        <ion-label class="field-label">Date of Birth</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <ion-item class="contactinput">
                                <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [(ngModel)]="birthday"></ion-datetime>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row class="first-child">
                    <ion-col>
                        <ion-label class="field-label">Phone</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <ion-item class="contactinput">
                                <ion-input type="text" [(ngModel)]="phone" clearInput></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row class="first-child">
                    <ion-col>
                        <ion-label class="field-label">State</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <!--<ion-item class="contactinput">-->
                                <!--<ion-input type="text" [(ngModel)]="state" clearInput></ion-input>-->
                            <!--</ion-item>-->
                            <ion-item class="select-option" mode="ios">
                                <ion-label>State</ion-label>
                                <ion-select [selectOptions]="selectState" [(ngModel)]="state">
                                    <ion-option *ngFor="let st of states" [value]="st">{{st}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row class="first-child">
                    <ion-col>
                        <ion-label class="field-label">City</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="field-value">
                        <ion-list no-lines no-padding>
                            <!--<ion-item class="contactinput">-->
                                <!--<ion-input type="text" [(ngModel)]="city" clearInput></ion-input>-->
                            <!--</ion-item>-->
                            <ion-item class="select-option" mode="ios">
                                <ion-label>City</ion-label>
                                <ion-select [selectOptions]="selectCity" [(ngModel)]="city">
                                    <ion-option *ngFor="let ct of cities" [value]="ct">{{ct}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </div>
            <ion-item *ngIf="name && !isSocial" class="change-password" (click)="changePassword()">
                <h2 class="item-name">Change password</h2>
                <ion-icon color="clinicContent" class="arrow" name="ios-arrow-forward-outline" item-right></ion-icon>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
