page-first {
  .no-scroll .scroll-content{
    overflow: hidden;
  }
  .scroll-content {
    margin-top: 0px !important;
  }
  .first-page {
    background-image: -moz-linear-gradient(-63deg, rgb(128, 203, 196) 0%, rgb(38, 166, 154) 100%);
    background-image: -webkit-linear-gradient(-63deg, rgb(128, 203, 196) 0%, rgb(38, 166, 154) 100%);
  }
  .first-page-logo img {
    margin: 0 auto;
    width: 40%;
    margin-top: 15%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .first-page-caption {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .first-page-caption p {
    font-size: 13px;
    line-height: 17px;
  }
  .login-register-btns {
    margin-top: 15%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }
  .signup-btn {
    color: #4db6ac;
    background-color: #ffffff;
    height: 60px;
  }
  .signup-btn:hover {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  .login-btn {
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 60px;
    margin-top: 15px;
  }
  .login-btn:hover {
    border: none;
    color: #4db6ac;
    background-color: #ffffff;
  }
  .social-btns {
    margin-top: 10%;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }
  .social-btns button {
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .middle-button {
    margin-left: 10px;
    margin-right: 10px;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
