<ion-content class="first-page no-scroll" padding>
    <div class="first-page-logo" text-center>
        <img src="assets/images/logo-first-page.svg">
    </div>
    <div class="first-page-caption" text-center>
        <p color="light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the
            industry's standard dummy...</p>
    </div>
    <div class="login-register-btns">
        <button mode="ios" ion-button block primary class="signup-btn" (click)="goSignUp()">Sign up</button>
        <button mode="ios" ion-button block clear outline light class="login-btn" (click)="goLogin()">Login</button>
    </div>
    <div class="social-btns" text-center>
        <button mode="ios" ion-button outline light (click)="loginFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button mode="ios" ion-button outline light class="middle-button" (click)="loginTwitter()">
            <ion-icon name="logo-twitter"></ion-icon>
        </button>
        <button mode="ios" ion-button outline light (click)="loginInstagram()">
            <ion-icon name="logo-instagram"></ion-icon>
        </button>
    </div>
</ion-content>
