page-clinic-single {
  .cartCounter {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    color: $customBlue;
    font-size: 13px;
    margin-left: 10px;
    margin-top: -10px;
    position: absolute;
  }
  .cartCounter>p {
    margin-top: 3px;
    color: $customBlue;
  }
  .icon-color {
    color: #ffffff;
    font-size: 25px;
  }
}
