<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{clinic.name}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="md-time"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-tabs #myTabs mode="ios" tabsPlacement="top" color="primary" class="has-navbar" selectedIndex="0">
    <ion-tab [root]="tabMenu" [rootParams]="clinic" tabTitle="Menu" customIconSet="mi" customIconName="purchases"></ion-tab>
    <ion-tab [root]="tabAbout" [rootParams]="clinic" tabTitle="About" customIconSet="mi" customIconName="aboutus"></ion-tab>
    <ion-tab [root]="tabReviews" [rootParams]="clinic" tabTitle="Reviews" customIconSet="mi" customIconName="review"></ion-tab>
    <ion-tab [root]="tabGallery" [rootParams]="clinic" tabTitle="Gallery" customIconSet="mi" customIconName="gallery"></ion-tab>
</ion-tabs>
