<ion-header no-border>
    <ion-navbar color="primary">
        <form [formGroup]="form" (ngSubmit)="search()">
            <ion-searchbar formControlName="searchQuery" mode="ios"></ion-searchbar>
            <button hidden type="submit"></button>
        </form>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="createGroupChat()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-row *ngIf="!hasData">
        <ion-col text-center class="no-items">
            <h5>NO GROUP CHATS</h5>
        </ion-col>
    </ion-row>
    <ion-list class="users-list" no-padding no-lines>
        <ion-item-sliding no-padding *ngFor="let group of groups">
            <ion-item no-padding (click)="chat(group)">
                <div class="avatar" item-left [ngStyle]="{'background-image': 'url(' + groupAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                </div>
                <ion-row no-padding>
                    <ion-col col-xxs-8 col-xs-8 col-s-8 col-sm-8 col-md-10 col-lg-10 col-xl-10 no-padding>
                        <ion-row no-padding>
                            <ion-col class="item-title" left col-xxs-12 no-padding>
                                <h2>{{group?.name}}</h2>
                            </ion-col>
                            <ion-col class="item-desc" col-xxs-12 no-padding>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button class="chat-button" ion-button color="primary" (click)="chat(group)">
                    <ion-icon name="add-circle"></ion-icon>
                    Chat
                </button>
                <button ion-button color="danger" (click)="remove(group)">
                    <ion-icon name="trash"></ion-icon>
                    Leave Group
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreGroups($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
