page-search {
  .searchbar-ios .searchbar-input {
    color: #ffffff !important;
  }
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  ion-searchbar::-webkit-input-placeholder {
    color: #ffffff;
  }
  .unfavorite-background {
    background-color: #f53d3d;
  }
  .unfavorite-background:active {
    background-color: #dc3a3a;
  }
}
