<ion-header no-border>
    <ion-navbar color="primary">
        <form [formGroup]="form" (ngSubmit)="search()">
            <ion-searchbar formControlName="searchQuery" mode="ios"></ion-searchbar>
            <button hidden type="submit"></button>
        </form>
        <ion-buttons right>
            <button ion-button icon-only (click)="search()">
                <custom-icon set="mi" name="search"></custom-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-row>
        <ion-col col-xxs-2 col-xs-2 col-s-2 col-sm-2 col-md-4 col-lg-4 col-xl-4></ion-col>
        <ion-col col-xxs-8 col-xs-8 col-s-8 col-sm-8 col-md-4 col-lg-4 col-xl-4>
            <ion-segment class="segment-buttons" [(ngModel)]="searchFilter" mode="ios">
                <ion-segment-button value="clinics" round (ionSelect)="selectClinics()">
                    <custom-icon set="mi" name="first-aid-kit"></custom-icon>
                    <span>Clinics</span>
                </ion-segment-button>
                <ion-segment-button value="people" round (ionSelect)="selectPeople()">
                    <custom-icon set="mi" name="profile"></custom-icon>
                    <span>People</span>
                </ion-segment-button>
            </ion-segment>
        </ion-col>
        <ion-col col-xxs-2 col-xs-2 col-s-2 col-sm-2 col-md-4 col-lg-4 col-xl-4></ion-col>
    </ion-row>

    <div [ngSwitch]="searchFilter">
        <div *ngSwitchCase="'people'">
            <ion-row *ngIf="!hasUsers">
                <ion-col text-center class="no-items no-items-segment">
                    <h5>NO USERS FOUND</h5>
                </ion-col>
            </ion-row>
            <ion-card class="users-list" *ngFor="let user of users" (click)="goUser(user)">
                <ion-item>
                    <div *ngIf="user.avatar != null" class="avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + endpoint + user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div *ngIf="user.avatar == null" class="avatar" item-left
                         [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <ion-row no-padding>
                        <ion-col col-xxs-8 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-11 col-xl-11 no-padding>
                            <ion-row no-padding>
                                <ion-col left col-xxs-12 no-padding>
                                </ion-col>
                                <ion-col class="item-title" text-wrap left col-xxs-12 no-padding>
                                    <h2>{{user.name}} {{user.lastname}}</h2>
                                </ion-col>
                                <ion-col left col-xxs-12 no-padding>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col center text-right no-padding>
                            <button ion-button icon-only clear color="postCommentButton">
                                <ion-icon name="ios-arrow-forward"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-card>
        </div>

        <div *ngSwitchCase="'clinics'">
            <ion-row *ngIf="!hasClinics">
                <ion-col text-center class="no-items no-items-segment">
                    <h5>NO CLINICS FOUND</h5>
                </ion-col>
            </ion-row>
            <ion-list class="clinics-list page-bottom" no-lines>
                <ion-item text-wrap class="item-margin" (click)="goClinic(clinic)" *ngFor="let clinic of clinics">
                    <div *ngIf="clinic.logo != null" class="clinic-logo" item-left
                         [ngStyle]="{'background-image': 'url(' + endpoint + clinic.logo.url + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <div *ngIf="clinic.logo == null" class="clinic-logo" item-left
                         [ngStyle]="{'background-image': 'url(' + clinicLogo + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    </div>
                    <ion-row class="clinics-item-header" no-padding>
                        <ion-col left no-padding col-8 center text-left>
                            <p>{{clinic.name}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding>
                        <ion-col col-xxs-6 col-xs-5 col-s-5 col-sm-4 col-md-2 col-lg-2 col-xl-2 no-padding>
                            <rating [(ngModel)]="clinic.average_rating"
                                    readOnly="true"
                                    max="5"
                                    emptyStarIconName="star-outline"
                                    halfStarIconName="star-half"
                                    starIconName="star"
                                    nullable="false">
                            </rating>
                        </ion-col>
                        <ion-col col-xxs-5 col-xs-4 col-s-4 col-sm-3 col-md-2 col-lg-1 col-xl-1 class="reviews-number"
                                 center no-padding text-left>
                            <p class="review">({{clinic.reviews_count}} Reviews)</p>
                        </ion-col>
                        <ion-col col-xxs-1 col-xs-3 col-s-3 col-sm-5 col-md-8 col-lg-9 col-xl-9 no-padding></ion-col>
                    </ion-row>
                    <p>{{clinic.announcement | limitTo: 95}}</p>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
