<ion-header no-border>
    <ion-navbar color="primary">
        <ion-title>{{secondUser.name}} {{secondUser.lastname}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content  padding>
    <ion-item #content no-lines no-padding *ngFor="let msg of messages">
        <chat-bubble [message]="msg"></chat-bubble>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-row class="message-input">
        <ion-col no-padding col-xxs-9 col-md-11>
            <form [formGroup]="form" (ngSubmit)="sendMessage()">
                <textarea fz-elastic rows="1" formControlName="myMessage" mode="ios" type="text" placeholder="Type your message..."></textarea>
                <button hidden type="submit"></button>
            </form>
        </ion-col>
        <ion-col no-padding col-xxs-3 col-md-1 class="send-btn-col">
            <button class="sendbutton" ion-button color="primary" clear (click)="sendMessage()">SEND</button>
        </ion-col>
    </ion-row>
</ion-footer>
