page-single-chat {
  .chatbox {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    max-width: 100%;
    height: auto;
    background-color: $customBlue;
    margin-left: 5px;
    margin-bottom: -18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
  }
  .outer-checkbox {
    display: inline-block;
    max-width: 100%;
  }
  .userchatbox {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    max-width: 100%;
    height: auto;
    background-color: $customBlue;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .userchatbox p{
    color: #ffffff;
  }
  .chatbox p {
    color: #ffffff;
  }
  .sendtime {
    margin-top: 9px;
    font-size: 11px;
    margin-left: 12px;
  }
  .usersendtime {
    font-size: 11px;
  }
  ion-footer {
    background-color: #f8f8f8;
    height: auto;
  }
  .sendbutton {
    width: 100%;
  }
  .send-btn-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .attachbutton {
    width: 100%;
    height: 40px;
  }
  .usersendchatbox {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    max-width: 100%;
    height: auto;
    background-color: $customBlue;
    margin-left: 5px;
    margin-bottom: -18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .usersendchatbox p{
    color: #ffffff;
    text-align: center;
  }
  .marginbottom {
    bottom: 0px;
  }
  ion-avatar img {
    margin-top: -33px;
  }
  .message-input textarea {
    width: 100%;
    margin-top: 3px;
    margin-right: 0px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 116px !important;
    overflow-y: scroll !important;
  }
}
