<ion-content padding center text-center>
    <p>You need to turn ON your GPS to get nearby clinics</p>
    <button ion-button round large full (click)="checkGPS()">
        Try Again
    </button>
</ion-content>
