page-news {
    .news-page {
        background-color: $pagesBackground;
    }
    .news-card .news-avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(158, 158, 158, 0.3);
        margin-right: 5px;
    }
    .news-card h3 {
        color: #555555;
        font-weight: 700;
    }
    .news-card {
        margin-right: 0px!important;
        margin-left: 0px!important;
        width: 100%;
    }
    .news-card p {
        color: #9c9c9c;
        font-size: 12px;
    }
    .news-card h4 {
        color: #555555;
    }
    .news-card a {
        color: #1f9290;
        font-weight: 700;
    }
    .card-buttons button {
        color: #ababab;
    }
    .card-buttons button.activated {
        color: $customBlue;
    }
}
