<ion-content class="news-page">
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <ion-refresher (ionRefresh)="sync($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-row *ngIf="!hasData">
            <ion-col text-center class="no-items">
                <h5>NO NEWS</h5>
            </ion-col>
        </ion-row>
        <div *ngIf="hasData">
            <ion-card class="news-card" *ngFor="let item of news" (click)="goNewsSingle(item)">
                <ion-item>
                    <div class="news-avatar" *ngIf="item.user.avatar != null" item-left [ngStyle]="{'background-image': 'url(' + endpoint + item.user.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                    </div>
                    <div class="news-avatar" *ngIf="item.user.avatar == null" item-left [ngStyle]="{'background-image': 'url(' + userAvatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                    </div>
                    <ion-row>
                        <ion-col col-xxs-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                            <h3>{{item.user.username}}</h3>
                        </ion-col>
                        <ion-col col-xxs-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                            <p text-right>{{item.date}}</p>
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-card-content>
                    <h2>{{item.title}}</h2>
                    <span *ngIf="item.description != undefined"><h4>{{item.description | limitTo: 150}}</h4></span>
                    <span *ngIf="item.notification_text != undefined"><h4>{{item.notification_text | limitTo: 150}}</h4></span>
                </ion-card-content>
                <img *ngIf="item.image_link != undefined" src="{{item.image_link}}">
            </ion-card>
        </div>
    </div>
</ion-content>