<ion-list no-lines>
    <ion-item (click)="close()">Sunday {{workingHours.sunday}}</ion-item>
    <ion-item (click)="close()">Monday {{workingHours.monday}}</ion-item>
    <ion-item (click)="close()">Tuesday {{workingHours.tuesday}}</ion-item>
    <ion-item (click)="close()">Wednesday {{workingHours.wednesday}}</ion-item>
    <ion-item (click)="close()">Thursday {{workingHours.thursday}}</ion-item>
    <ion-item (click)="close()">Friday {{workingHours.friday}}</ion-item>
    <ion-item (click)="close()">Saturday {{workingHours.saturday}}</ion-item>
</ion-list>
