gallery-modal {
  .gallery-modal {
    background: rgba(0,0,0,0.9) !important;
  }
  .close-btn {
    position: absolute;
    right: 0;
    color: #ffffff !important;
    z-index: 999999;
    font-size: 18px;
  }
  ion-slide img {
    width: 85% !important;
  }
}