<ion-content class="gallery-modal" no-bounce>
    <button ion-button clear icon-only class="close-btn" (click)="modalDismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
    <ion-slides pager="false" initialSlide="{{initialSlide}}" zoom="true">
        <ion-slide *ngFor="let photo of photos" (click)="modalDismiss()">
            <img src="{{photo.url}}"/>
        </ion-slide>
    </ion-slides>
</ion-content>