<div class="modal-form">
    <button class="close-modal-btn" data-ng-click="modalOptions.close()"><i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="cover-img"
                     style="background-image: url('https://uploads.medicaljane.com/wp-content/uploads/2013/01/ogkushFULL3.jpg');"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <h4 class="clinic-product-name">{{product.name}}</h4>
    <span class="product-category-modal">{{product.categoryName}}</span>

    <div class="table-responsive">
        <table class="table modal-product-table">
            <tbody>
            <th>
                <div class="prod-circle" data-toggle="popover" data-trigger="hover" data-content="Add to Cart"><p
                        class="text-center">1G</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            <th>
                <div class="prod-circle"><p class="text-center">2G</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            <th>
                <div class="prod-circle"><p class="text-center">1/8</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            <th>
                <div class="prod-circle"><p class="text-center">1/4</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            <th>
                <div class="prod-circle"><p class="text-center">1/2</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            <th>
                <div class="prod-circle"><p class="text-center">OZ</p></div>
                <span class="clinic-product-price"><span
                        class="first-price">{{ product.pricing }}</span>.00 |</span>
            </th>
            </tr>
            </tbody>
        </table>
    </div>

    <p class="modal-product-desc">
        {{product.description}}
    </p>
</div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'top'
        });

        $('[data-toggle="popover"]').popover('show');
    });
</script>