<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button *ngIf="isFavorite == false" ion-fab class="favorite-fab" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
        <button *ngIf="isFavorite == true" ion-fab color="primary" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
    </ion-fab>
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <clinic-header [clinic]="clinic"></clinic-header>
        <ion-card>
            <ion-card-header class="cardTitle">
              Announcments
            </ion-card-header>
            <ion-card-content>
                <p>{{clinic.announcement}}</p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header class="cardTitle">
              About us
            </ion-card-header>
            <ion-card-content>
                <p>{{clinic.about_us}}</p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
