page-clinic-deals {
  .home-item-header>ion-col>p {
    color: #555555;
  }
  .cardButtons {
    width: 95%!important;
    font-size: 10px;
  }
  .page-div {
    width: 100%;
    min-height: 100%;
  }
  .home-list>ion-item {
    border: 1px solid;
  }
  .home-list ion-list-header {
    color: $customTitle;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 10px;
  }
  .deals>p {
    font-size: 10px!important;
    color: #555555;
    font-weight: 500;
  }
  .home-list ion-item ion-thumbnail img {
    width: 115px;
    height: 115px;
  }
  .home-list p {
    color: #555555;
    font-size: 13px;
    font-weight: 600;
  }
  .home-item-header p {
    color: #555555;
    font-weight: 500;
    font-size: 15px;
  }
  .home-item-button {
    margin-top: 5px;
  }
  .home-item-button button {
    width: 100%;
    height: 30px;
    font-size: 11px;
    margin: 0;
  }
  .home-item-button ion-icon {
    line-height: 1;
  }
  .home-item-distance {
    font-size: 14px;
    color: $customTitle;
  }
  .pintext {
    font-weight: 300!important;
  }
  .home-item-distance ion-icon {
    line-height: 1;
  }
  .icon-position {
    float: left;
    margin-right: 5px;
  }
  .icon-text {
    font-weight: 400!important;
  }
  .review {
    color: #9e9e9e!important;
  }
  rating {
    ul {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 3px;

      &.rating li {
        padding: 0px !important;
        background: none;
        color: $customBlue;

        ion-icon {
          font-size: 14px;
        }
      }
    }
  }
  /* Media queries */
  /* Galaxy S5 */
  @media only screen and (max-width: 360px) {
    .home-item-button {
      margin-top: 3px;
    }
    .home-item-button button {
      height: 30px;
      font-size: 11px;
    }
    .home-item-distance {
      font-size: 11px!important;
    }
    .home-list p {
      color: #555555;
      font-size: 12px;
      font-weight: 600;
    }
    .button-md {
      text-transform: none;
    }
  }
  /* iPhone 5 */
  @media only screen and (max-width: 320px) {
    .home-item-button {
      margin-top: 3px;
    }
    .home-item-button button {
      height: 30px;
      font-size: 9px;
    }
    .home-item-distance {
      font-size: 7px;
    }
    .icon-text {
      font-size: 11px!important;
    }
    .home-list p {
      color: #555555;
      font-size: 10px;
      font-weight: 600;
    }
    .home-list ion-item ion-thumbnail img {
      width: 100px;
      height: 100px;
    }
  }
  /* Nexus 6P */
  @media only screen and (min-width: 412px) {
    .home-item-button {
      margin-top: 3px;
    }
    .home-item-button button {
      height: 30px;
      font-size: 12px;
    }
    .home-item-distance {
      font-size: 10px;
    }
    .button-md {
      text-transform: none;
    }
  }
}
