<ion-content no-padding>
    <ion-fab right bottom #fab>
        <button *ngIf="isFavorite == false" ion-fab class="favorite-fab" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
        <button *ngIf="isFavorite == true" ion-fab color="primary" (click)="favorite(); isFavorite = !isFavorite">
            <custom-icon set="mi" name="favoritefab"></custom-icon>
        </button>
    </ion-fab>
    <div class="page-div page-bottom" (swipe)="swipeEvent($event)" no-padding>
        <clinic-header [clinic]="clinic"></clinic-header>
        <ion-row padding>
            <ion-col class="deals" no-padding col-xxs-6 col-md-4 center>
                <p>HOT DEALS</p>
            </ion-col>
            <ion-col no-padding col-xxs-3 col-md-4 center>
                <button class="cardButtons" icon-left ion-button outline>Check out</button>
            </ion-col>
            <ion-col no-padding col-xxs-3 col-md-4 center>
                <button class="cardButtons" icon-left ion-button outline>Filter</button>
            </ion-col>
        </ion-row>
        <ion-card>
            <ion-card-content>
                <div no-padding no-lines class="home-list">
                    <ion-item no-padding no-lines text-wrap>
                        <ion-thumbnail item-left>
                            <img src="assets/images/placeholder.png">
                        </ion-thumbnail>
                        <ion-row class="home-item-header" no-padding>
                            <ion-col left no-padding col-8 center text-left>
                                <p>BLUE DREAM LIMITED EDITION $50</p>
                            </ion-col>
                        </ion-row>
                        <ion-row no-padding>
                            <ion-col col-xxs-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-padding>
                                <rating [(ngModel)]="rate"
                                        readOnly="true"
                                        max="5"
                                        emptyStarIconName="star-outline"
                                        halfStarIconName="star-half"
                                        starIconName="star"
                                        nullable="false">
                                </rating>
                            </ion-col>
                            <ion-col col-xxs-1 col-xs-3 col-s-3 col-sm-5 col-md-8 col-lg-9 col-xl-9
                                     no-padding></ion-col>
                        </ion-row>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ion-row class="home-item-button" no-padding>
                            <ion-col no-padding class="home-item-distance" col-xxs-6 col-md-4 center>
                                <button class="cardButtons" icon-left ion-button outline>
                                    <ion-icon name="ios-cart-outline"></ion-icon>
                                    Add to cart
                                </button>
                                <!--<ion-icon class="icon-position" color="clinicContent" name="ios-pin-outline"></ion-icon><p class="icon-text"> 3 miles away</p>-->
                            </ion-col>
                            <ion-col no-padding class="home-item-distance" col-xxs-6 col-md-4 center>
                                <button class="cardButtons" icon-left ion-button outline>
                                    <ion-icon name="ios-heart-outline"></ion-icon>
                                    Wishlist
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
