page-intro {
  background-image: -moz-linear-gradient(-63deg, rgb(128, 203, 196) 0%, rgb(38, 166, 154) 100%);
  background-image: -webkit-linear-gradient(-63deg, rgb(128, 203, 196) 0%, rgb(38, 166, 154) 100%);
  .skip-btn {
    color: #cfd8dc;
    float: right;
  }
  ion-slide {
    background-color: #ffffff;
    display: block !important;
  }
  ion-slide img {
    width: 100% !important;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $customBlue;
    opacity: 0.2 !important;
  }
  .swiper-pagination-bullet-active {
    position: relative;
    width: 8px;
    height: 8px;
    background: transparent;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active:before {
    position: absolute;
    left: -5px;
    top: -5px;
    content: '';
    background: url(../assets/images/intro-slides/dop.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
    background-size: contain;
  }
  .intro-content {
    padding-left: 13vw;
    padding-right: 13vw;
  }
  .intro-title {
    color: $customBlue;
    font-size: 22px;
    // Android:
    margin-top: -10px;
  }
  .intro-description {
    color: #b0bec5;
    font-size: 14px;
    line-height: 18px;
  }
  .next-btn {
    color: #ffffff;
    background-color: #4db6ac;
    box-shadow: 0px 6px 25px 0px rgba(77, 182, 172, 0.5);
    height: 52px;
    border-radius: 40px;
    margin-top: 40px;
  }
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
    left: 0;
    width: 100%;
  }
}
