<ion-slides pager="true">
    <ion-slide>
        <button class="skip-btn" ion-button clear (click)="skip()">
            Skip
        </button>
        <img class="ilustration" src="assets/images/intro-slides/slide-1.svg"/>
        <div class="intro-content intro-content">
            <h2 class="intro-title">Register Free</h2>
            <p class="intro-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the
                industry's standard</p>
            <button mode="ios" ion-button block light class="next-btn" (click)="next()">Next</button>
        </div>
    </ion-slide>

    <ion-slide>
        <button class="skip-btn" ion-button clear (click)="skip()">
            Skip
        </button>
        <img class="ilustration" src="assets/images/intro-slides/slide-2.svg"/>
        <div class="intro-content">
            <h2 class="intro-title">Search near by clinics</h2>
            <p class="intro-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the
                industry's standard</p>
            <button mode="ios" ion-button block light class="next-btn" (click)="next()">Next</button>
        </div>
    </ion-slide>

    <ion-slide>
        <button class="skip-btn" ion-button clear (click)="skip()">
            Skip
        </button>
        <img class="ilustration" src="assets/images/intro-slides/slide-3.svg"/>
        <div class="intro-content">
            <h2 class="intro-title">Chat with other people</h2>
            <p class="intro-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the
                industry's standard</p>
            <button mode="ios" ion-button block light class="next-btn" (click)="next()">Next</button>
        </div>
    </ion-slide>

    <ion-slide>
        <button class="skip-btn" ion-button clear (click)="skip()">
            Skip
        </button>
        <img class="ilustration" src="assets/images/intro-slides/slide-4.svg"/>
        <div class="intro-content">
            <h2 class="intro-title">Stay updated</h2>
            <p class="intro-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the
                industry's standard</p>
            <button mode="ios" ion-button block light class="next-btn" (click)="goToHome()">Continue</button>
        </div>
    </ion-slide>
</ion-slides>
